Repository eslint/eslint, pull requests merged in 2018-11, with the labels that each got.

#11038 Docs: Update steps for adding new TSC member
  docs/maintainer-guide/governance.md
Labels: accepted, documentation

#11044 Fix: rule deprecation warnings did not consider all rules
  lib/cli-engine.js
  packages/eslint-config-eslint/default.yml
  tests/fixtures/cli-engine/deprecated-rule-config/.eslintrc.yml
  tests/lib/cli-engine.js
Labels: accepted, bug, core

#11042 Docs: Cross-reference two rules (refs #11041)
  docs/rules/no-useless-rename.md
  docs/rules/object-shorthand.md
Labels: accepted, documentation, rule

#11054 Chore: fix invalid super() calls in tests
  tests/lib/linter.js
  tests/lib/rules/constructor-super.js
  tests/lib/rules/keyword-spacing.js
  tests/lib/rules/no-useless-constructor.js
  tests/lib/rules/prefer-arrow-callback.js
Labels: accepted, bug, build

#11058 Fix: Ignore empty statements in no-unreachable (fixes #9081)
  lib/rules/no-unreachable.js
  tests/lib/rules/no-unreachable.js
Labels: bug, rule

#11067 Upgrade: eslint-plugin-node & eslint-plugin
  package.json
  packages/eslint-config-eslint/package.json
Labels: upgrade

#11059 Docs: update ecmaVersion to include 2019/10 values
  docs/user-guide/configuring.md
Labels: accepted, core, documentation

#11064 Fix: no-restricted-imports to check re-export (fixes #9678)
  docs/rules/no-restricted-imports.md
  lib/rules/no-restricted-imports.js
  tests/lib/rules/no-restricted-imports.js
Labels: bug, rule

#11063 Docs: Update require-await docs with exception (fixes #9540)
  docs/rules/require-await.md
Labels: documentation, rule

#10907 Update: "off" options for "space-before-blocks" (refs #10906)
  docs/rules/space-before-blocks.md
  lib/rules/space-before-blocks.js
  tests/lib/rules/space-before-blocks.js
Labels: accepted, enhancement, rule

#10987 Fix: prefer-const autofix (fixes #10582)
  lib/rules/prefer-const.js
  tests/lib/rules/prefer-const.js
Labels: accepted, bug, rule

#10554 Update: add `ignoreDestructuring` option to `id-match` rule
  docs/rules/id-match.md
  lib/rules/id-match.js
  tests/lib/rules/id-match.js
Labels: accepted, enhancement, rule

#11074 Chore: refactor linter#parseBooleanConfig to improve readability
  lib/linter.js
Labels: accepted, chore, core

#11085 Fix: allow leading semi in next line (fixes #11082)
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, bug, indent, rule

#11100 Build: fix test failure on Node 11
  tests/lib/util/npm-utils.js
Labels: accepted, bug, build

#11091 Chore: Extract config comment parsing
  lib/linter.js
  lib/util/config-comment-parser.js
  tests/lib/util/config-comment-parser.js
  tests/lib/util/npm-utils.js
Labels: chore, core

#11093 Docs: no-console#When-Not-To-Use provides incorrect rule snippet
  docs/rules/no-console.md
Labels: documentation, rule

#11107 switch incorrect example with correct one
  docs/rules/id-match.md
Labels: triage

#11111 typo: srevices => service
  lib/util/source-code.js
Labels: triage

#11117 Docs: (Grammar) "the setup" -> "to set up".
  README.md
Labels: triage

#11001 Fix: Do not strip underscores in camelcase allow (fixes #11000)
  lib/rules/camelcase.js
  tests/lib/rules/camelcase.js
Labels: bug, evaluating, rule

#11116 Chore: Move ignored-paths, report-translator to lib/util (refs #10559)
  lib/cli-engine.js
  lib/linter.js
  lib/util/glob-utils.js
  lib/util/ignored-paths.js
  lib/util/report-translator.js
  tests/lib/util/ignored-paths.js
  tests/lib/util/report-translator.js
Labels: accepted, chore, core
