Repository eslint/eslint, pull requests merged in 2018-08, with the labels that each got.

#10706 Docs: remove links to terminated jscs.info domain
  docs/rules/array-bracket-newline.md
  docs/rules/array-element-newline.md
  docs/rules/capitalized-comments.md
  docs/rules/func-call-spacing.md
  docs/rules/func-name-matching.md
  docs/rules/func-names.md
  docs/rules/indent-legacy.md
  docs/rules/indent.md
  docs/rules/line-comment-position.md
  docs/rules/linebreak-style.md
  docs/rules/lines-around-directive.md
  docs/rules/lines-between-class-members.md
  docs/rules/max-lines.md
  docs/rules/multiline-ternary.md
  docs/rules/no-tabs.md
  docs/rules/no-useless-rename.md
  docs/rules/nonblock-statement-body-position.md
  docs/rules/object-curly-newline.md
  docs/rules/object-property-newline.md
  docs/rules/one-var.md
  docs/rules/prefer-numeric-literals.md
  docs/rules/sort-keys.md
Labels: accepted, documentation, enhancement

#10714 Docs: add another example for when not to use no-await-in-loop
  docs/rules/no-await-in-loop.md
Labels: accepted, documentation, enhancement

#10720 Build: ensure URL fragments remain in documentation links (fixes #10717)
  Makefile.js
Labels: accepted, bug, build

#10691 Fix: ignored-paths for Windows path (fixes #10687)
  .gitattributes
  lib/ignored-paths.js
  lib/util/path-utils.js
  tests/fixtures/ignored-paths/crlf/.eslintignore
  tests/lib/ignored-paths.js
Labels: accepted, bug, core

#10698 New: require-unicode-regexp rule (fixes #9961)
  conf/eslint-recommended.js
  docs/rules/require-unicode-regexp.md
  lib/rules/require-unicode-regexp.js
  tests/lib/rules/require-unicode-regexp.js
Labels: accepted, feature, rule

#10727 Chore: rename utils for consistency
  lib/cli-engine.js
  lib/config/config-initializer.js
  lib/ignored-paths.js
  lib/util/glob-utils.js
  lib/util/naming.js
  lib/util/source-code-utils.js
  tests/lib/config/autoconfig.js
  tests/lib/config/config-initializer.js
  tests/lib/util/ast-utils.js
  tests/lib/util/glob-utils.js
  tests/lib/util/npm-utils.js
  tests/lib/util/path-utils.js
  tests/lib/util/source-code-utils.js
Labels: accepted, chore

#10699 Docs: Updated no return await documentation (fixes #9695)
  docs/rules/no-return-await.md
Labels: accepted, documentation, rule

#10677 Chore: use eslintrc overrides
  .eslintrc.js
  lib/rules/.eslintrc.yml
  tools/internal-rules/.eslintrc.yml
Labels: chore

#10664 Chore: enable no-prototype-builtins in codebase (fixes #10660)
  Makefile.js
  lib/cli-engine.js
  lib/rules/comma-style.js
  lib/rules/complexity.js
  lib/rules/indent.js
  lib/rules/line-comment-position.js
  lib/rules/max-depth.js
  lib/rules/max-lines.js
  lib/rules/max-nested-callbacks.js
  lib/rules/max-params.js
  lib/rules/max-statements.js
  lib/rules/no-restricted-globals.js
  lib/rules/no-restricted-imports.js
  lib/rules/no-restricted-modules.js
  lib/rules/one-var.js
  lib/rules/padded-blocks.js
  lib/rules/prefer-reflect.js
  lib/rules/semi-spacing.js
  lib/rules/space-unary-ops.js
  lib/rules/valid-jsdoc.js
  lib/testers/rule-tester.js
  lib/util/file-finder.js
  lib/util/lint-result-cache.js
  lib/util/source-code-fixer.js
  packages/eslint-config-eslint/default.yml
  tests/bench/large.js
  tests/bench/medium.js
  tests/lib/config.js
  tests/lib/config/config-file.js
  tests/lib/rules/no-restricted-globals.js
Labels: chore, evaluating

#10749 Fix: consistent-docs-url crashes if meta.docs isn't present
  tests/tools/internal-rules/consistent-docs-url.js
  tools/internal-rules/consistent-docs-url.js
Labels: accepted, bug, infrastructure

#10748 Update: Improve no-extra-parens error message
  lib/rules/no-extra-parens.js
Labels: accepted, bug, documentation, rule

#10756 Chore: rm unused dep string.prototype.matchall
  package.json
Labels: chore, evaluating, infrastructure

#10753 Fix: no-invalid-meta crashes for non Object values (fixes #10750)
  tests/tools/internal-rules/no-invalid-meta.js
  tools/internal-rules/consistent-docs-description.js
  tools/internal-rules/consistent-docs-url.js
  tools/internal-rules/no-invalid-meta.js
Labels: accepted, bug, infrastructure, rule

#10771 Docs: Add jscs-dev.github.io links to rule names in docs
  docs/rules/array-bracket-newline.md
  docs/rules/array-element-newline.md
  docs/rules/capitalized-comments.md
  docs/rules/func-call-spacing.md
  docs/rules/func-name-matching.md
  docs/rules/func-names.md
  docs/rules/indent-legacy.md
  docs/rules/indent.md
  docs/rules/line-comment-position.md
  docs/rules/linebreak-style.md
  docs/rules/lines-around-directive.md
  docs/rules/lines-between-class-members.md
  docs/rules/max-lines.md
  docs/rules/multiline-ternary.md
  docs/rules/no-tabs.md
  docs/rules/no-useless-rename.md
  docs/rules/nonblock-statement-body-position.md
  docs/rules/object-curly-newline.md
  docs/rules/object-property-newline.md
  docs/rules/one-var.md
  docs/rules/prefer-numeric-literals.md
  docs/rules/sort-keys.md
Labels: accepted, documentation, enhancement

#10764 Chore: use meta.messages in some rules (1/4)
  .eslintrc.js
  lib/rules/for-direction.js
  lib/rules/func-call-spacing.js
  lib/rules/func-name-matching.js
  lib/rules/func-names.js
  lib/rules/func-style.js
  lib/rules/function-paren-newline.js
  lib/rules/generator-star-spacing.js
  lib/rules/getter-return.js
  lib/rules/no-magic-numbers.js
  tests/lib/rules/for-direction.js
  tests/lib/rules/func-call-spacing.js
  tests/lib/rules/func-name-matching.js
  tests/lib/rules/func-names.js
  tests/lib/rules/func-style.js
  tests/lib/rules/function-paren-newline.js
  tests/lib/rules/generator-star-spacing.js
  tests/lib/rules/getter-return.js
  tests/lib/rules/no-magic-numbers.js
  tests/tools/internal-rules/consistent-meta-messages.js
  tools/internal-rules/consistent-meta-messages.js
Labels: chore, evaluating, rule

#10776 Docs: gitignore syntax updates (fixes #8139)
  docs/user-guide/command-line-interface.md
  docs/user-guide/configuring.md
Labels: accepted, core, documentation

#10622 Upgrade: devdeps and deps to latest
  package.json
Labels: upgrade

#10799 Docs: fix comment placement in a code example
  docs/rules/no-useless-concat.md
Labels: accepted, documentation, rule

#10808 Upgrade: babel-code-frame to version 7
  lib/formatters/codeframe.js
  package.json
Labels: evaluating, upgrade

#10815 Update: max-params to only highlight function header
  lib/rules/max-params.js
  tests/lib/rules/max-params.js
Labels: accepted, bug, rule
