Repository eslint/eslint, pull requests merged in 2018-03, with the labels that each got.

#10047 Docs: Update ECMAScript versions in FAQ
  README.md
Labels: accepted, documentation

#10055 Update: Correctly indent JSXText with trailing linebreaks (fixes #9878)
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, bug, indent, rule

#10054 Update: give a node at least the indentation of its parent (fixes #9995)
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, bug, indent, rule

#10060 Docs: fix possible typo
  docs/rules/quote-props.md
Labels: triage

#10065 Chore: enable no-param-reassign on ESLint codebase
  Makefile.js
  lib/ast-utils.js
  lib/cli-engine.js
  lib/code-path-analysis/code-path-state.js
  lib/code-path-analysis/code-path.js
  lib/code-path-analysis/fork-context.js
  lib/config.js
  lib/config/config-file.js
  lib/config/config-ops.js
  lib/config/config-rule.js
  lib/file-finder.js
  lib/ignored-paths.js
  lib/linter.js
  lib/load-rules.js
  lib/rules/accessor-pairs.js
  lib/rules/array-callback-return.js
  lib/rules/array-element-newline.js
  lib/rules/curly.js
  lib/rules/generator-star-spacing.js
  lib/rules/indent-legacy.js
  lib/rules/keyword-spacing.js
  lib/rules/max-len.js
  lib/rules/no-else-return.js
  lib/rules/no-eval.js
  lib/rules/no-extra-parens.js
  lib/rules/no-implicit-coercion.js
  lib/rules/no-loop-func.js
  lib/rules/no-magic-numbers.js
  lib/rules/no-return-assign.js
  lib/rules/no-unsafe-finally.js
  lib/rules/no-useless-return.js
  lib/rules/no-var.js
  lib/rules/padding-line-between-statements.js
  lib/rules/prefer-arrow-callback.js
  lib/rules/prefer-template.js
  lib/rules/space-unary-ops.js
  lib/rules/spaced-comment.js
  lib/rules/valid-jsdoc.js
  lib/rules/vars-on-top.js
  lib/timing.js
  lib/util/glob-util.js
  lib/util/naming.js
  lib/util/npm-util.js
  lib/util/path-util.js
  lib/util/source-code-util.js
  lib/util/source-code.js
  packages/eslint-config-eslint/default.yml
  tests/lib/formatters/html.js
  tests/lib/rules/indent-legacy.js
  tests/lib/rules/indent.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-multiple-empty-lines.js
Labels: chore

#10073 Docs: Fix lodash typos, make spacing consistent
  docs/rules/no-restricted-modules.md
Labels: triage

#10084 Docs: Wrap `Buffer()` in backticks in `no-buffer-constructor` rule description
  lib/rules/no-buffer-constructor.js
Labels: documentation

#10062 Fix: false positive about ES2018 RegExp enhancements (fixes #9893)
  lib/rules/no-control-regex.js
  lib/rules/no-empty-character-class.js
  lib/rules/no-invalid-regexp.js
  lib/rules/no-irregular-whitespace.js
  lib/rules/no-unexpected-multiline.js
  lib/rules/no-useless-escape.js
  package.json
  tests/lib/rules/no-control-regex.js
  tests/lib/rules/no-empty-character-class.js
  tests/lib/rules/no-invalid-regexp.js
  tests/lib/rules/no-unexpected-multiline.js
  tests/lib/rules/no-useless-escape.js
Labels: accepted, bug, rule

#9994 Update: consecutive option for one-var (fixes #4680)
  docs/rules/one-var.md
  lib/rules/one-var.js
  tests/lib/rules/one-var.js
Labels: accepted, enhancement, rule

#10102 Chore: Adding log at beginning of unit tests in Makefile.js
  Makefile.js
Labels: accepted, build, chore

#10100 Chore: Adding debug logs on successful plugin loads
  lib/config/plugins.js
Labels: accepted, chore, core

#10114 Docs: Update ambiguous for...in example for guard-for-in
  docs/rules/guard-for-in.md
Labels: accepted, documentation, rule

#10103 Fix: object-curly-newline minProperties w/default export (fixes #10101)
  lib/rules/object-curly-newline.js
  tests/lib/rules/object-curly-newline.js
Labels: accepted, bug, rule

#10113 Fix: no-invalid-regexp not understand variable for flags (fixes #10112)
  lib/rules/no-invalid-regexp.js
  tests/lib/rules/no-invalid-regexp.js
Labels: accepted, bug, patch candidate, rule

#10109 Update: Make no-cond-assign work for ternaries (fixes #10091)
  lib/rules/no-cond-assign.js
  tests/lib/rules/no-cond-assign.js
Labels: accepted, enhancement, rule

#9908 Fix: Make rule-tester strictly check messageId. (ref #9890)
  docs/developer-guide/working-with-rules.md
  lib/report-translator.js
  lib/testers/rule-tester.js
  tests/fixtures/testers/rule-tester/messageId.js
  tests/lib/rules/no-fallthrough.js
  tests/lib/testers/rule-tester.js
Labels: core, enhancement, evaluating

#10008 Breaking: Use strict equality in RuleTester comparisons (fixes #9417)
  lib/testers/rule-tester.js
  tests/lib/testers/no-test-runners.js
  tests/lib/testers/rule-tester.js
Labels: accepted, breaking, core, enhancement

#10009 Breaking: use an exit code of 2 for fatal config problems (fixes #9384)
  bin/eslint.js
  docs/user-guide/command-line-interface.md
  lib/cli.js
  tests/bin/eslint.js
  tests/lib/cli.js
Labels: accepted, breaking, cli, enhancement

#10012 Breaking: remove `source` property from linting messages (fixes #7358)
  docs/developer-guide/nodejs-api.md
  docs/developer-guide/working-with-custom-formatters.md
  lib/linter.js
  lib/report-translator.js
  lib/util/apply-disable-directives.js
  tests/lib/cli-engine.js
  tests/lib/formatters/json.js
  tests/lib/linter.js
  tests/lib/report-translator.js
  tests/lib/util/apply-disable-directives.js
  tests/tools/eslint-fuzzer.js
Labels: accepted, breaking, core, enhancement

#10013 Breaking: remove special exception for linting empty files (fixes #9534)
  conf/blank-script.json
  lib/linter.js
  tests/lib/linter.js
Labels: accepted, breaking, core, enhancement

#10014 Breaking: set `parent` of AST nodes before rules run (fixes #9122)
  docs/developer-guide/working-with-plugins.md
  lib/linter.js
  lib/util/source-code.js
  tests/lib/linter.js
  tests/lib/util/source-code.js
Labels: accepted, breaking, core, enhancement

#9692 Breaking: Make require('eslint').linter non-enumerable (fixes #9270)
  lib/api.js
Labels: accepted, breaking, core, enhancement

#10046 Chore: Uncommented test for empty program for no-invalid-meta
  tests/tools/internal-rules/no-invalid-meta.js
Labels: accepted, chore

#10057 Breaking: require rules to provide report messages (fixes #10011)
  lib/report-translator.js
  tests/lib/linter.js
  tests/lib/report-translator.js
Labels: accepted, breaking, core, enhancement

#10098 Docs: Add modified variable examples for no-loop-func (fixes #9527)
  docs/rules/no-loop-func.md
Labels: accepted, documentation, rule

#10108 Docs: remove eslint vs jshint from faq
  README.md
Labels: documentation, evaluating

#10134 Docs: Update capitalized-comments with missing letters (fixes #10135)
  docs/rules/capitalized-comments.md
Labels: accepted, documentation, rule

#10144 Docs: Ensure CLI doc sections match command line help order
  docs/user-guide/command-line-interface.md
Labels: accepted, cli, documentation

#10139 Chore: add noopener/noreferrer
  lib/formatters/html-template-message.html
Labels: chore

#10146 Chore: refactor --no-ignore flag logic
  lib/util/glob-util.js
Labels: chore

#9742 Update: Include debugging information when rule throws error
  lib/linter.js
  tests/lib/linter.js
Labels: accepted, core, enhancement

#9905 Breaking: support @scope shorthand in plugins (fixes #9903)
  lib/config/plugins.js
  lib/util/naming.js
  tests/fixtures/plugin-shorthand/basic/.eslintrc.json
  tests/fixtures/plugin-shorthand/basic/node_modules/@scope/eslint-plugin/index.js
  tests/fixtures/plugin-shorthand/extends/.eslintrc.json
  tests/fixtures/plugin-shorthand/extends/node_modules/@scope/eslint-plugin/index.js
  tests/lib/cli-engine.js
  tests/lib/util/naming.js
Labels: accepted, breaking, core, enhancement

#10151 Build: make prerelease script publish to GitHub/website
  Makefile.js
Labels: build

#10147 Docs: add v5.0.0 migration guide (fixes #10142)
  docs/user-guide/migrating-to-5.0.0.md
Labels: accepted, documentation

#10152 Breaking: Upgrade to Espree v4 alpha (refs #9990)
  docs/rules/rest-spread-spacing.md
  lib/config/config-initializer.js
  package.json
  tests/lib/config/config-initializer.js
  tests/lib/linter.js
  tests/lib/rules/comma-dangle.js
  tests/lib/rules/key-spacing.js
  tests/lib/rules/no-dupe-keys.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-self-assign.js
  tests/lib/rules/no-undef.js
  tests/lib/rules/no-unused-vars.js
  tests/lib/rules/no-useless-rename.js
  tests/lib/rules/object-property-newline.js
  tests/lib/rules/object-shorthand.js
  tests/lib/rules/prefer-const.js
  tests/lib/rules/quote-props.js
  tests/lib/rules/rest-spread-spacing.js
  tests/lib/rules/sort-keys.js
Labels: accepted, breaking, enhancement

#10154 Build: Gensite creates prerelease dirs if needed
  Makefile.js
Labels: accepted, bug, build

#10156 Upgrade: eslint-release to v0.11.1
  package.json
Labels: build
