Repository eslint/eslint, pull requests merged in 2018-12, with the labels that each got.

#11149 Docs: fix typo in issue-templates/new-rule
  .github/ISSUE_TEMPLATE/NEW_RULE.md
Labels: documentation

#11148 Chore: fix some jsdoc-related issues in the codebase
  Makefile.js
  lib/config/autoconfig.js
  lib/config/config-rule.js
  lib/config/config-validator.js
  lib/linter.js
  lib/rules/array-element-newline.js
  lib/rules/eqeqeq.js
  lib/rules/handle-callback-err.js
  lib/rules/implicit-arrow-linebreak.js
  lib/rules/indent-legacy.js
  lib/rules/newline-before-return.js
  lib/rules/no-constant-condition.js
  lib/rules/no-else-return.js
  lib/rules/no-implied-eval.js
  lib/rules/no-restricted-imports.js
  lib/rules/no-this-before-super.js
  lib/rules/object-curly-newline.js
  lib/rules/one-var.js
  lib/rules/space-in-parens.js
  lib/util/ignored-paths.js
  packages/eslint-config-eslint/default.yml
  tests/lib/rules/indent-legacy.js
  tests/lib/rules/indent.js
  tests/lib/rules/no-empty-function.js
  tests/lib/util/ignored-paths.js
Labels: chore

#11097 Fix: Amend keyword-spacing to validate `default` keywords
  lib/rules/keyword-spacing.js
  tests/lib/rules/keyword-spacing.js
Labels: accepted, bug, rule

#11165 Docs: Fix link to rule `no-useless-rename`
  docs/rules/object-shorthand.md
Labels: accepted, bug, documentation

#11163 Docs: Update issue templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/CHANGE.md
  .github/ISSUE_TEMPLATE/NEW_RULE.md
  .github/ISSUE_TEMPLATE/QUESTION.md
  .github/ISSUE_TEMPLATE/RULE_CHANGE.md
  .github/ISSUE_TEMPLATE/SECURITY.md
Labels: accepted, infrastructure

#11145 Update: deprecate valid-jsdoc and require-jsdoc
  lib/rules/require-jsdoc.js
  lib/rules/valid-jsdoc.js
  lib/util/source-code.js
  tests/lib/cli-engine.js
Labels: accepted, enhancement, rule

#11161 Upgrade: Espree v5.0.0
  package.json
Labels: upgrade

#10995 Docs: Clarify the CLIEngine options
  docs/developer-guide/nodejs-api.md
Labels: cli, documentation

#11075 Update all-files-ignored error message to point out the problem to the user
  messages/all-files-ignored.txt
Labels: accepted, chore, core

#10934 Update: space-infix-ops reports violating operator
  lib/rules/space-infix-ops.js
  tests/lib/rules/space-infix-ops.js
Labels: accepted, enhancement, rule

#10919 Update: single- and multiline const, let, var statements (fixes #10721)
  docs/rules/padding-line-between-statements.md
  lib/rules/padding-line-between-statements.js
  tests/lib/rules/padding-line-between-statements.js
Labels: accepted, enhancement, rule

#11171 Docs: add missing deprecation notices for jsdoc rules
  docs/rules/require-jsdoc.md
  docs/rules/valid-jsdoc.md
Labels: accepted, bug, documentation

#11182 Docs: Ensure `triage` label is added to new issues
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/CHANGE.md
  .github/ISSUE_TEMPLATE/NEW_RULE.md
  .github/ISSUE_TEMPLATE/RULE_CHANGE.md
Labels: bug, documentation, evaluating, infrastructure

#11191 Docs: link to JSDoc EOL blogpost in valid-jsdoc and require-jsdoc
  docs/rules/require-jsdoc.md
  docs/rules/valid-jsdoc.md
Labels: triage

#11204 Docs: Remove a misleading example
  docs/rules/padded-blocks.md
Labels: accepted, documentation, rule

#11196 Docs: Fix no-irregular-whitespace description
  lib/rules/no-irregular-whitespace.js
Labels: accepted, documentation, rule

#11195 Docs: Clarify the no-unused-vars docs
  docs/rules/no-unused-vars.md
Labels: accepted, documentation, rule

#11199 Docs: clarify how to use configs in plugins
  docs/developer-guide/working-with-plugins.md
Labels: documentation

#11192 Docs: add a note for no-unused-expressions (fixes #11169)
  docs/rules/no-unused-expressions.md
Labels: accepted, documentation, rule

#11113 Fix: handle computed properties in camelcase (fixes #11084)
  lib/rules/camelcase.js
  tests/lib/rules/camelcase.js
Labels: accepted, bug, rule

#10545 Fix: Account for comments in implicit-arrow-linebreak
  lib/rules/implicit-arrow-linebreak.js
  tests/lib/rules/implicit-arrow-linebreak.js
Labels: accepted, bug, rule

#11205 Fix: handle optional catch bindings in no-useless-catch (fixes #11208)
  lib/rules/no-useless-catch.js
  tests/lib/rules/no-useless-catch.js
Labels: accepted, bug, patch candidate, rule

#11066 Upgrade: require-uncached renamed to import-fresh
  lib/config/config-file.js
  package.json
  tests/lib/config/config-file.js
Labels: upgrade
