Repository eslint/eslint, pull requests merged in 2018-02, with the labels that each got.

#9965 Docs: Propose fix typo for function
  docs/developer-guide/nodejs-api.md
  docs/rules/valid-typeof.md
Labels: accepted, core, documentation

#9745 Update: support eslint-disable-* block comments (fixes #8781)
  docs/user-guide/configuring.md
  lib/linter.js
  tests/lib/linter.js
Labels: accepted, core, enhancement

#9963 Docs: clean up key-spacing docs (fixes #9900)
  docs/rules/key-spacing.md
Labels: accepted, documentation, rule

#9964 Docs: no-mixed-operators - fixes #9962
  docs/rules/no-mixed-operators.md
Labels: accepted, documentation, rule

#9957 Fix: support Async iteration (fixes #9891)
  lib/rules/keyword-spacing.js
  lib/rules/no-await-in-loop.js
  lib/rules/object-shorthand.js
  lib/rules/require-await.js
  tests/lib/rules/generator-star-spacing.js
  tests/lib/rules/keyword-spacing.js
  tests/lib/rules/no-await-in-loop.js
  tests/lib/rules/no-useless-computed-key.js
  tests/lib/rules/object-shorthand.js
  tests/lib/rules/require-await.js
Labels: accepted, bug, rule

#9876 Update: add named imports and exports for object-curly-newline
  docs/rules/object-curly-newline.md
  lib/rules/object-curly-newline.js
  tests/lib/rules/object-curly-newline.js
Labels: accepted, enhancement, rule

#9951 Update: fix indent bug with binary operators/ignoredNodes (fixes #9882)
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, bug, indent, rule

#9944 Chore: Apply memoization to config creation within glob utils
  lib/util/glob-util.js
Labels: chore

#9986 Docs: deprecate experimentalObjectRestSpread
  docs/user-guide/configuring.md
Labels: documentation, evaluating

#9987 Docs: Fixed typo in key-spacing rule doc
  docs/rules/key-spacing.md
Labels: documentation

#9993 Fix: ensure no-await-in-loop reports the correct node (fixes #9992)
  lib/rules/no-await-in-loop.js
  tests/lib/rules/no-await-in-loop.js
Labels: accepted, bug, patch candidate, regression, rule

#9985 Fix: Make max-len ignoreStrings ignore JSXText (fixes #9954)
  lib/rules/max-len.js
  tests/lib/rules/max-len.js
Labels: accepted, bug, rule

#10006 Chore: refactor populating configs with defaults in linter
  conf/default-config-options.js
  lib/linter.js
  tests/fixtures/config-file/js/.eslintrc.parser3.js
Labels: chore

#10010 Chore: avoid useless catch clauses that just rethrow errors
  .eslintrc.js
  tests/lib/testers/no-test-runners.js
  tests/tools/internal-rules/no-useless-catch.js
  tools/internal-rules/no-useless-catch.js
Labels: chore

#10007 Chore: refactor directive comment processing
  lib/linter.js
Labels: chore

#10020 Chore: Simplify dataflow in linter.verify
  conf/environments.js
  lib/linter.js
  tests/lib/linter.js
Labels: chore

#10019 Fix: remove catastrophic backtracking vulnerability
  lib/util/interpolate.js
Labels: accepted, bug, core

#10028 Chore: refactor parser-loading out of linter.verify
  lib/linter.js
Labels: chore

#10030 Chore: fix incorrect comment about linter.verify return value
  lib/linter.js
Labels: chore

#10022 Pin: table@4.0.2, because 4.0.3 needs "ajv": "^6.0.1", causing a conf…
  package.json
Labels: chore, evaluating
