Repository eslint/eslint, pull requests merged in 2018-09, with the labels that each got.

#10813 Docs: Add Brackets Integration
  docs/user-guide/integrations.md
Labels: accepted, documentation, website

#10802 Fix: camelcase duplicate warning bug (fixes #10801)
  lib/rules/camelcase.js
  tests/lib/rules/camelcase.js
Labels: accepted, bug, rule

#10669 Chore: Add configuration wrapper markdown for the bug report template
  templates/bug-report.md
Labels: chore, enhancement, evaluating

#10827 Fix: respect generator function expressions in no-constant-condition
  lib/rules/no-constant-condition.js
  tests/lib/rules/no-constant-condition.js
Labels: accepted, bug, rule

#10697 Update: Added generators option to func-names (fixes #9511)
  docs/rules/func-names.md
  lib/rules/func-names.js
  tests/lib/rules/func-names.js
Labels: accepted, enhancement, rule

#10863 Chore: Update debug log name to match filename
  lib/util/source-code-fixer.js
Labels: accepted, chore, core

#10864 Docs: Use Linter instead of linter in Nodejs API page
  docs/developer-guide/nodejs-api.md
Labels: documentation

#10867 Docs: Update complexity.md
  docs/rules/complexity.md
Labels: accepted, documentation, rule

#10862 Docs: Update quotes.md
  docs/rules/quotes.md
Labels: triage

#10865 Fix: Remove duplicate error message on crash (fixes #8964)
  bin/eslint.js
  tests/bin/eslint.js
Labels: bug, cli

#10874 Docs: clarify defaultAssignment option, fix no-unneeded-ternary examples
  docs/rules/no-unneeded-ternary.md
Labels: accepted, documentation, rule

#10890 Build: fix failing tests on master
  tests/lib/config/config-validator.js
  tests/lib/testers/rule-tester.js
Labels: accepted, bug, build

#10889 Docs: add information about reporting security issues
  CONTRIBUTING.md
  docs/developer-guide/contributing/README.md
Labels: documentation

#10887 Upgrade: debug@4 (fixes #10854)
  package.json
Labels: evaluating, upgrade

#10886 Fix: make separateRequires work in consecutive mode (fixes #10784)
  lib/rules/one-var.js
  tests/lib/rules/one-var.js
Labels: accepted, bug, rule

#10894 Fix: avoid exponential require-atomic-updates traversal (fixes #10893)
  lib/rules/require-atomic-updates.js
  tests/lib/rules/require-atomic-updates.js
Labels: accepted, bug, rule

#10900 Chore: Update issue templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/CHANGE.md
  .github/ISSUE_TEMPLATE/NEW_RULE.md
  .github/ISSUE_TEMPLATE/QUESTION.md
  .github/ISSUE_TEMPLATE/RULE_CHANGE.md
  .github/ISSUE_TEMPLATE/SECURITY.md
Labels: chore
