Repository eslint/eslint, pull requests merged in 2018-04, with the labels that each got.

#10162 Add Missing Quotes
  docs/rules/no-self-assign.md
Labels: triage

#10171 Chore: Remove `esprima-fb` dependency.
  package.json
  tests/lib/linter.js
Labels: accepted, chore

#10172 Docs: Reorder README sections
  README.md
Labels: documentation, evaluating

#10170 Upgrade: esquery@^1.0.1 (fixes #8733)
  package.json
  tests/lib/rules/no-restricted-syntax.js
Labels: accepted, bug, core

#10168 Upgrade: Update dependencies.
  package.json
Labels: accepted, chore

#10174 Chore: Add debug logging for CLI args as they came in
  lib/cli.js
Labels: chore, cli

#10178 Upgrade: upgrade devdeps
  docs/developer-guide/working-with-rules.md
  package.json
Labels: chore, core

#10167 Fix: report no-case-declarations from declarations (fixes #10048)
  lib/rules/no-case-declarations.js
  tests/lib/rules/no-case-declarations.js
Labels: accepted, bug, rule

#10185 Upgrade: babelify
  package.json
Labels: chore

#10190 Chore: Remove misleading comment.
  lib/rules/no-return-await.js
Labels: chore

#10194 Docs: fix some small errors in examples
  docs/developer-guide/shareable-configs.md
  docs/developer-guide/working-with-rules.md
  docs/rules/max-statements-per-line.md
Labels: documentation

#10195 Docs: fix code in operator-linebreak example.
  docs/rules/operator-linebreak.md
Labels: documentation

#10201 Chore: avoid modifying global state when tests fail
  tests/lib/config/config-initializer.js
Labels: chore

#10074 Breaking: drop supporting Node.js 4 (fixes #10052)
  .travis.yml
  README.md
  docs/user-guide/getting-started.md
  package.json
Labels: accepted, breaking, build

#9856 Upgrade: ajv@^6.0.1, still using json schema draft 04
  lib/util/ajv.js
  package.json
Labels: accepted, chore, core, enhancement

#10119 Breaking: no-unused-vars reports all after-used params (fixes #9909)
  docs/rules/no-unused-vars.md
  lib/rules/no-unused-vars.js
  tests/lib/rules/no-unused-vars.js
Labels: accepted, breaking, bug, rule

#10211 Chore: enable rest/spread rules on ESLint codebase
  Makefile.js
  lib/file-finder.js
  lib/linter.js
  lib/logging.js
  lib/report-translator.js
  lib/rules/no-irregular-whitespace.js
  lib/rules/no-shadow.js
  lib/rules/no-undefined.js
  lib/timing.js
  lib/util/safe-emitter.js
  packages/eslint-config-eslint/default.yml
  tests/lib/ast-utils.js
  tests/lib/cli-engine.js
  tests/lib/cli.js
  tests/lib/config.js
  tests/lib/config/config-initializer.js
  tests/lib/ignored-paths.js
  tests/lib/util/glob-util.js
  tests/lib/util/source-code-util.js
Labels: chore

#10196 Docs: fix wrong config in id-length
  docs/rules/id-length.md
Labels: accepted, bug, documentation

#10184 Upgrade: upgrade deps
  package.json
Labels: chore

#10173 Chore: remove concat-stream dependency
  bin/eslint.js
  package.json
Labels: chore

#10212 Docs: update migration guide with latest changes
  docs/user-guide/migrating-to-5.0.0.md
Labels: documentation

#10210 Breaking: remove deprecated browser/jest/node globals (fixes #10141)
  conf/environments.js
Labels: accepted, breaking, core

#10209 Breaking: stop using fake `context._linter` property (fixes #10140)
  lib/linter.js
  tests/lib/linter.js
Labels: accepted, breaking, core, enhancement

#10216 Docs: Fix misspelling in changelog
  CHANGELOG.md
Labels: accepted, documentation

#10218 Docs: add backticks in getter-return
  docs/rules/getter-return.md
Labels: documentation

#10225 Chore: small opt to improve readability
  lib/util/module-resolver.js
Labels: chore

#10277 Docs: Correct wording in the `smart-tabs` docs page
  docs/rules/no-mixed-spaces-and-tabs.md
Labels: triage

#10238 Fix: do not autofix object-shorthand with comments (fixes #10038)
  lib/rules/object-shorthand.js
  tests/lib/rules/object-shorthand.js
Labels: accepted, bug, rule

#10230 Update: re-enable experimentalObjectRestSpread (fixes #9990)
  lib/config/config-validator.js
  lib/linter.js
  tests/fixtures/config-file/experimental-object-rest-spread/another-parser/.eslintrc.yml
  tests/fixtures/config-file/experimental-object-rest-spread/another-parser/parser.js
  tests/fixtures/config-file/experimental-object-rest-spread/basic/.eslintrc.yml
  tests/fixtures/config-file/experimental-object-rest-spread/extends/.eslintrc.yml
  tests/fixtures/config-file/experimental-object-rest-spread/extends/common.yml
  tests/fixtures/config-file/experimental-object-rest-spread/subdir/.eslintrc.yml
  tests/fixtures/config-file/experimental-object-rest-spread/subdir/lib/.eslintrc.yml
  tests/lib/config.js
  tests/lib/linter.js
Labels: accepted, core, enhancement

#10161 Fix: valid-jsdoc does not know async function returns (fixes #9881)
  docs/rules/valid-jsdoc.md
  lib/rules/valid-jsdoc.js
  tests/lib/rules/valid-jsdoc.js
Labels: accepted, bug, rule

#10158 Breaking: add rules to recommended (fixes #8865)
  conf/eslint-recommended.js
  docs/user-guide/migrating-to-5.0.0.md
  lib/rules/for-direction.js
  lib/rules/getter-return.js
  packages/eslint-config-eslint/default.yml
Labels: accepted, breaking, core

#10236 Breaking: fix plugin resolver in extends (fixes #9904)
  lib/config/config-file.js
  tests/lib/config/config-file.js
Labels: accepted, breaking, bug, core

#10143 Breaking: report fatal error for linting nonexistent files (fixes #7390)
  lib/cli-engine.js
  lib/util/glob-util.js
  lib/util/source-code-util.js
  messages/all-files-ignored.txt
  messages/file-not-found.txt
  tests/fixtures/cli-engine/empty/.keep
  tests/fixtures/glob-util/empty/.gitkeep
  tests/lib/cli-engine.js
  tests/lib/cli.js
  tests/lib/config/config-initializer.js
  tests/lib/util/glob-util.js
  tests/lib/util/source-code-util.js
Labels: accepted, breaking, bug, core

#10219 Docs: make template links wording more clearer
  docs/developer-guide/contributing/new-rules.md
Labels: documentation

#10182 Chore: improve errors
  lib/testers/rule-tester.js
  tests/lib/testers/rule-tester.js
Labels: accepted, chore, core

#10252 Breaking: remove extra check in getScope (fixes #10246, fixes #10247)
  docs/developer-guide/working-with-rules.md
  docs/user-guide/migrating-to-5.0.0.md
  lib/linter.js
  tests/lib/linter.js
Labels: accepted, breaking, bug, core

#10270 Breaking: remove TDZ scopes (fixes #10245)
  package.json
Labels: accepted, breaking, bug, core

#10278 Docs: make grammatical tweaks in migration guide
  docs/user-guide/migrating-to-5.0.0.md
Labels: documentation

#10279 Docs: remove outdated notes from migration guide
  docs/user-guide/migrating-to-5.0.0.md
Labels: documentation

#10205 Fix: Throw error when --ignore-path not a file (fixes #10076)
  lib/cli-engine.js
  tests/lib/cli-engine.js
Labels: accepted, bug, core
