Repository eslint/eslint, pull requests merged in 2019-01, with the labels that each got.

#11239 Fix: no-param-reassign - ignore parameter used as condition in ternary operator
  lib/rules/no-param-reassign.js
  tests/lib/rules/no-param-reassign.js
Labels: accepted, bug, rule

#11220 Upgrade: eslint-plugin-eslint-plugin@2.0.1
  .eslintrc.js
  lib/rules/block-spacing.js
  lib/rules/capitalized-comments.js
  lib/rules/func-name-matching.js
  lib/rules/max-classes-per-file.js
  lib/rules/prefer-object-spread.js
  package.json
  tools/internal-rules/consistent-docs-description.js
  tools/internal-rules/consistent-docs-url.js
  tools/internal-rules/consistent-meta-messages.js
  tools/internal-rules/no-invalid-meta.js
Labels: upgrade

#11027 Build: Add karma-chrome-launcher support
  karma.conf.js
  package.json
Labels: accepted, build

#11040 Update: Add sort-imports ignoreDeclarationSort (fixes #11019)
  docs/rules/sort-imports.md
  lib/rules/sort-imports.js
  tests/lib/rules/sort-imports.js
Labels: accepted, enhancement, rule

#11258 Docs: Improve custom formatter docs
  docs/developer-guide/working-with-custom-formatters.md
Labels: documentation

#11249 Docs: Add `npx` usage to Getting Started guide
  docs/user-guide/getting-started.md
Labels: accepted, documentation

#11242 Docs: fix example for sort-imports ignoreDeclarationSort
  docs/rules/sort-imports.md
Labels: triage

#11221 Fix: Manage severity of 1 with TAP reporter (fixes #11110)
  lib/formatters/tap.js
  tests/lib/formatters/tap.js
Labels: accepted, bug, formatter

#11253 Fix: warn constant on RHS of || in no-constant-condition (fixes #11181)
  lib/rules/no-constant-condition.js
  tests/lib/rules/no-constant-condition.js
Labels: accepted, bug, rule

#11277 Docs: add @g-plane as committer
  README.md
Labels: documentation

#11272 Docs: clarify process for adding committers
  docs/maintainer-guide/governance.md
Labels: documentation

#11210 Rename `result` -> `foo`
  docs/rules/no-async-promise-executor.md
Labels: accepted, documentation, rule

#11334 Chore: remove dead code for loading rules
  conf/eslint-all.js
  lib/config/config-rule.js
  lib/load-rules.js
  tests/lib/config/config-rule.js
Labels: chore

#11335 Chore: remove undocumented `Linter#rules` property (refs #9161)
  Makefile.js
  lib/cli-engine.js
  lib/config.js
  lib/config/plugins.js
  lib/linter.js
  lib/rules.js
  tests/lib/config/config-validator.js
  tests/lib/config/plugins.js
  tests/lib/load-rules.js
  tests/lib/rules.js
Labels: chore
