Repository eslint/eslint, pull requests merged in 2019-11, with the labels that each got.

#12388 Update: Allow JSX exception in no-inline-comments (fixes #11270)
  docs/rules/no-inline-comments.md
  lib/rules/no-inline-comments.js
  tests/lib/rules/no-inline-comments.js
Labels: accepted, evaluating, rule

#12360 New: Add prefer-exponentiation-operator rule (fixes #10482)
  docs/rules/prefer-exponentiation-operator.md
  lib/rules/index.js
  lib/rules/prefer-exponentiation-operator.js
  tests/lib/rules/prefer-exponentiation-operator.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12308 Update: Add capIsConstructor option to no-invalid-this (fixes #12271)
  docs/rules/no-invalid-this.md
  lib/rules/no-invalid-this.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-invalid-this.js
Labels: accepted, enhancement, rule

#12324 Update: improve report location for space-infix-ops
  lib/rules/space-infix-ops.js
  tests/lib/rules/space-infix-ops.js
Labels: accepted, enhancement, rule

#12470 Fix: no-cond-assign with `always` option reports switch case clauses
  lib/rules/no-cond-assign.js
  tests/lib/rules/no-cond-assign.js
Labels: accepted, bug, rule

#12378 Update: curly multi-or-nest flagging semis on next line (fixes #12370)
  lib/rules/curly.js
  tests/lib/rules/curly.js
Labels: accepted, bug, rule

#12521 Fix: unexpected autofix in prefer-const (fixes #12514)
  lib/rules/prefer-const.js
  tests/lib/rules/prefer-const.js
Labels: accepted, autofix, bug, rule

#12513 Fix: curly `multi` reports single lexical declarations (fixes #11908)
  lib/rules/curly.js
  tests/lib/rules/curly.js
Labels: accepted, autofix, bug, rule

#12524 Docs: add notice about `function` keyword in keyword-spacing
  docs/rules/keyword-spacing.md
Labels: documentation

#12491 Fix: sourceCode#isSpaceBetweenTokens() checks non-adjacent tokens
  lib/source-code/source-code.js
  tests/lib/source-code/source-code.js
Labels: accepted, bug, core

#12543 Chore: Add funding field to package.json
  package.json
Labels: chore

#12544 Docs: Clean up Getting Started Guide
  docs/user-guide/getting-started.md
Labels: documentation

#12537 Upgrade: upgrade optionator to avoid license issue (fixes #11536)
  package.json
Labels: upgrade

#12528 New: add option for camelcase (fixes #12527)
  docs/rules/camelcase.md
  lib/rules/camelcase.js
  tests/lib/rules/camelcase.js
Labels: enhancement, evaluating, rule

#12519 Update: deprecate sourceCode#isSpaceBetweenTokens()
  docs/developer-guide/working-with-rules.md
  lib/source-code/source-code.js
  tests/lib/source-code/source-code.js
Labels: accepted, core, enhancement

#12539 Fix: invalid autofix in function-call-argument-newline (fixes #12454)
  lib/rules/function-call-argument-newline.js
  tests/lib/rules/function-call-argument-newline.js
Labels: accepted, bug, rule

#12346 New: Add no-setter-return rule (fixes #12285)
  docs/rules/no-setter-return.md
  lib/rules/index.js
  lib/rules/no-setter-return.js
  tests/lib/rules/no-setter-return.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12526 Update: Report '\08' and '\09' in no-octal-escape (fixes #12080)
  lib/rules/no-octal-escape.js
  tests/lib/rules/no-octal-escape.js
Labels: accepted, bug, enhancement, rule

#12446 Update: add react plugin config for eslint init
  lib/init/config-initializer.js
Labels: accepted, cli, enhancement

#12189 Chore: Format style guide links so they can be clicked
  lib/init/config-initializer.js
Labels: accepted, cli

#12562 Chore: Add GitHub organization to Sponsor button
  .github/FUNDING.yml
Labels: accepted, chore

#12553 Docs: clarify ignoreDestructuring option in the camelcase rule
  docs/rules/camelcase.md
Labels: documentation, rule

#12472 Update: fix uglified align in key-spacing (fixes #11414)
  lib/rules/key-spacing.js
  tests/lib/rules/key-spacing.js
Labels: accepted, bug, rule

#12558 Fix: ignore marker-only comments in spaced-comment (fixes #12036)
  lib/rules/spaced-comment.js
  tests/lib/rules/spaced-comment.js
Labels: accepted, bug, rule

#12563 Fix: improve report location for object-curly-spacing
  lib/rules/object-curly-spacing.js
  tests/lib/rules/object-curly-spacing.js
Labels: accepted, bug, rule

#12426 Update: deprecate personal config (fixes #11914, refs eslint/rfcs#32)
  docs/user-guide/configuring.md
Labels: accepted, deprecation, documentation

#12571 Fix: require-await crash on global await
  lib/rules/require-await.js
  tests/fixtures/parsers/typescript-parsers/global-await.js
  tests/fixtures/parsers/typescript-parsers/global-for-await-of.js
  tests/lib/rules/require-await.js
Labels: accepted, bug, rule

#12401 Docs: Change "Code Conventions" link in pull-requests.md
  docs/developer-guide/contributing/pull-requests.md
Labels: chore, documentation, evaluating

#12380 Update: improve location for semi and comma-dangle
  lib/rules/comma-dangle.js
  lib/rules/semi.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/comma-dangle.js
  tests/lib/rules/semi.js
  tests/lib/rules/utils/ast-utils.js
Labels: enhancement, evaluating, rule

#12504 New: Add no-dupe-else-if rule (fixes #12469)
  docs/rules/no-dupe-else-if.md
  lib/rules/index.js
  lib/rules/no-dupe-else-if.js
  tests/lib/rules/no-dupe-else-if.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12316 Fix: preserve whitespace in multiline-comment-style (fixes #12312)
  lib/rules/multiline-comment-style.js
  tests/lib/rules/multiline-comment-style.js
Labels: accepted, autofix, bug, rule

#12580 Docs: Added another Textmate 2 bundle.
  docs/user-guide/integrations.md
Labels: accepted, documentation

#12274 New: ignorePatterns in config files (refs eslint/rfcs#22)
  Makefile.js
  conf/config-schema.js
  conf/default-cli-options.js
  docs/user-guide/command-line-interface.md
  docs/user-guide/configuring.md
  lib/cli-engine/cascading-config-array-factory.js
  lib/cli-engine/cli-engine.js
  lib/cli-engine/config-array-factory.js
  lib/cli-engine/config-array/config-array.js
  lib/cli-engine/config-array/extracted-config.js
  lib/cli-engine/config-array/ignore-pattern.js
  lib/cli-engine/config-array/index.js
  lib/cli-engine/file-enumerator.js
  lib/cli-engine/ignored-paths.js
  lib/shared/types.js
  tests/lib/cli-engine/_utils.js
  tests/lib/cli-engine/cascading-config-array-factory.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array-factory.js
  tests/lib/cli-engine/config-array/config-array.js
  tests/lib/cli-engine/config-array/ignore-pattern.js
  tests/lib/cli-engine/file-enumerator.js
  tests/lib/cli-engine/ignored-paths.js
Labels: accepted, core, feature

#12529 New: new rule no-constructor-return (fixes #12481)
  docs/rules/no-constructor-return.md
  lib/rules/index.js
  lib/rules/no-constructor-return.js
  tests/lib/rules/no-constructor-return.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12110 Update: Add enforceForClassMembers option to no-useless-computed-key
  docs/rules/no-useless-computed-key.md
  lib/rules/no-useless-computed-key.js
  tests/lib/rules/no-useless-computed-key.js
Labels: accepted, enhancement, rule

#12533 Fix: invalid token checking in computed-property-spacing (fixes #12198)
  lib/rules/computed-property-spacing.js
  tests/lib/rules/computed-property-spacing.js
Labels: accepted, bug, rule

#12495 Update: Check member expressions with `this` in operator-assignment
  lib/rules/operator-assignment.js
  tests/lib/rules/operator-assignment.js
Labels: accepted, bug, enhancement, rule

#12465 Update: Report assignment expression location in no-cond-assign
  lib/rules/no-cond-assign.js
  tests/lib/rules/no-cond-assign.js
Labels: accepted, enhancement, rule

#12581 Fix: indent rule with JSX spread props
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, bug, indent, rule

#12384 New: Add suggestions API
  docs/developer-guide/nodejs-api.md
  docs/developer-guide/unit-tests.md
  docs/developer-guide/working-with-rules.md
  lib/linter/report-translator.js
  lib/rule-tester/rule-tester.js
  lib/rules/no-useless-escape.js
  lib/shared/types.js
  tests/fixtures/testers/rule-tester/suggestions.js
  tests/lib/linter/linter.js
  tests/lib/linter/report-translator.js
  tests/lib/rule-tester/rule-tester.js
  tests/lib/rules/no-useless-escape.js
Labels: accepted, core, feature

#11996 Update: Add 'lexicalBindings' to no-implicit-globals and change messages
  docs/rules/no-implicit-globals.md
  lib/rules/no-implicit-globals.js
  tests/lib/rules/no-implicit-globals.js
Labels: accepted, enhancement, rule

#12331 New: Add grouped-accessor-pairs rule (fixes #12277)
  docs/rules/grouped-accessor-pairs.md
  lib/rules/grouped-accessor-pairs.js
  lib/rules/index.js
  tests/lib/rules/grouped-accessor-pairs.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12598 Fix: revert changes to key-spacing due to regression
  lib/rules/key-spacing.js
  tests/lib/rules/key-spacing.js
Labels: bug, patch candidate, rule

#11698 Fix: Add support for tagged template literal generics in no-unexpected-multiline
  lib/rules/no-unexpected-multiline.js
  tests/fixtures/parsers/typescript-parsers/tagged-template-with-generic/tagged-template-with-generic-1.js
  tests/fixtures/parsers/typescript-parsers/tagged-template-with-generic/tagged-template-with-generic-2.js
  tests/fixtures/parsers/typescript-parsers/tagged-template-with-generic/tagged-template-with-generic-3.js
  tests/fixtures/parsers/typescript-parsers/tagged-template-with-generic/tagged-template-with-generic-and-comment.js
  tests/lib/rules/no-unexpected-multiline.js
Labels: accepted, bug, rule

#12617 Docs: Clarify suggestion's data in Working with Rules (refs #12606)
  docs/developer-guide/working-with-rules.md
Labels: accepted, core, documentation

#12607 Fix: don't ignore the entry directory (fixes #12604)
  lib/cli-engine/file-enumerator.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/file-enumerator.js
Labels: accepted, patch candidate

#12616 Fix: isSpaceBetweenTokens() recognizes spaces in JSXText (fixes #12614)
  lib/source-code/source-code.js
  tests/lib/source-code/source-code.js
Labels: accepted, bug, core, patch candidate
