Repository eslint/eslint, pull requests merged in 2019-12, with the labels that each got.

#12599 Update: do not recommend require-atomic-updates (refs #11899)
  conf/eslint-recommended.js
  lib/rules/require-atomic-updates.js
Labels: accepted, bug, enhancement, rule

#12627 Chore: Add tests to cover empty object options in comma-dangle
  tests/lib/rules/comma-dangle.js
Labels: chore, rule

#12638 Docs: Fix configuration example in no-restricted-imports (fixes #11717)
  docs/rules/no-restricted-imports.md
Labels: accepted, documentation

#12643 Docs: wrap {{}} in raw liquid tags to prevent interpolation
  docs/developer-guide/working-with-rules.md
Labels: accepted, documentation

#12644 Chore: remove references to parser demo
  Makefile.js
  docs/rules/comma-style.md
  docs/rules/no-multi-spaces.md
  docs/rules/no-restricted-syntax.md
  webpack.config.js
Labels: accepted, chore

#12582 New: Include node version in cache
  lib/cli-engine/lint-result-cache.js
  tests/lib/cli-engine/lint-result-cache.js
Labels: accepted, core, enhancement

#12314 Docs: 1tbs with allowSingleLine edge cases (refs #12284)
  docs/rules/brace-style.md
  tests/lib/rules/brace-style.js
Labels: accepted, chore, documentation, rule

#12625 Chore: complete to move to GitHub Actions
  .azure-pipelines/job.yml
  README.md
  azure-pipelines.yml
Labels: infrastructure

#12676 Chore: remove bundling of ESLint during release
  Makefile.js
Labels: chore

#12321 Update: support .eslintrc.cjs (refs eslint/rfcs#43)
  docs/user-guide/configuring.md
  lib/cli-engine/config-array-factory.js
  tests/fixtures/config-file/cjs/.eslintrc.cjs
  tests/lib/cli-engine/config-array-factory.js
Labels: accepted, core, enhancement

#12612 Update: Allow $schema in config
  conf/config-schema.js
  tests/lib/shared/config-validator.js
Labels: accepted, core, enhancement

#12662 Chore: refactor regex in config comment parser
  lib/linter/config-comment-parser.js
Labels: chore, core, evaluating

#12696 Docs: Add spacing in comments for no-console rules
  docs/rules/no-console.md
Labels: documentation

#12694 Add example for func-style
  docs/rules/func-style.md
Labels: documentation

#12655 Fix: prefer-numeric-literals doesn't check types of literal arguments
  lib/rules/prefer-numeric-literals.js
  tests/lib/rules/prefer-numeric-literals.js
Labels: accepted, bug, rule

#12653 Fix: improve report location for array-bracket-spacing
  lib/rules/array-bracket-spacing.js
  tests/lib/rules/array-bracket-spacing.js
Labels: accepted, bug, rule

#12639 Fix: no-restricted-imports schema allows multiple paths/patterns objects
  lib/rules/no-restricted-imports.js
  tests/lib/rules/no-restricted-imports.js
Labels: accepted, bug, rule

#12594 no-multiple-empty-lines: Adjust reported `loc`
  lib/rules/no-multiple-empty-lines.js
  tests/lib/rules/no-multiple-empty-lines.js
Labels: accepted, bug, rule

#12615 Docs: Update no-multi-assign explanation
  docs/rules/no-multi-assign.md
Labels: accepted, documentation, enhancement

#12609 Update: Add suggestions for no-unsafe-negation (fixes #12591)
  lib/rules/no-unsafe-negation.js
  tests/lib/rules/no-unsafe-negation.js
Labels: accepted, enhancement, rule

#12602 Update: improve suggestion testing experience
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, core, enhancement

#12268 Chore: enable prefer-regex-literals in eslint codebase
  packages/eslint-config-eslint/default.yml
Labels: accepted, chore

#12632 Update: autofix bug in lines-between-class-members (fixes #12391)
  lib/rules/lines-between-class-members.js
  tests/lib/rules/lines-between-class-members.js
Labels: accepted, autofix, bug, rule

#12377 New: Add no-error-on-unmatched-pattern flag (fixes #10587)
  docs/user-guide/command-line-interface.md
  lib/cli-engine/cli-engine.js
  lib/cli-engine/file-enumerator.js
  lib/cli.js
  lib/options.js
  tests/fixtures/unmatched-patterns/failing.js
  tests/fixtures/unmatched-patterns/passing.js2
  tests/lib/cli.js
Labels: accepted, cli, enhancement

#12679 Chore: add object option test cases in yield-star-spacing
  tests/lib/rules/yield-star-spacing.js
Labels: accepted, chore, rule

#12652 Fix: ignore aligning single line in key-spacing (fixes #11414)
  lib/rules/key-spacing.js
  tests/lib/rules/key-spacing.js
Labels: accepted, autofix, bug, rule

#12492 Chore: Add extra test, improve docs
  docs/rules/no-param-reassign.md
  tests/lib/rules/no-param-reassign.js
Labels: chore, rule

#12698 Chore: add test cases for for-direction
  tests/lib/rules/for-direction.js
Labels: accepted, chore, rule

#12556 New: Add offsetTernaryExpressions option for indent rule
  docs/rules/indent.md
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, enhancement, indent, rule

#12613 Update: no-void add an option to allow void as a statement
  docs/rules/no-void.md
  lib/rules/no-void.js
  tests/lib/rules/no-void.js
Labels: accepted, enhancement, rule

#12566 Fix: no-mixed-spaces-and-tabs reports multiline strings
  lib/rules/no-mixed-spaces-and-tabs.js
  tests/lib/rules/no-mixed-spaces-and-tabs.js
Labels: accepted, bug, rule

#12546 New: Add no-restricted-exports rule (fixes #10428)
  docs/rules/no-restricted-exports.md
  lib/rules/index.js
  lib/rules/no-restricted-exports.js
  tests/lib/rules/no-restricted-exports.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12509 Fix: Windows path parsing for JUnit (fixes #12507)
  lib/cli-engine/formatters/junit.js
  tests/lib/cli-engine/formatters/junit.js
Labels: accepted, bug, formatter

#12693 Build: update browser build
  Makefile.js
  webpack.config.js
Labels: infrastructure

#12659 Chore: remove unused code in max-lines-per-function
  lib/rules/max-lines-per-function.js
Labels: accepted, chore

#12056 Update: Handle locally unsupported regex in computed property keys
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-dupe-keys.js
  tests/lib/rules/no-restricted-properties.js
  tests/lib/rules/no-self-assign.js
  tests/lib/rules/sort-keys.js
  tests/lib/rules/utils/ast-utils.js
  tests/lib/rules/yoda.js
Labels: enhancement, evaluating, rule
