Repository eslint/eslint, pull requests merged in 2019-08, with the labels that each got.

#12045 Docs: Fix Incorrect Documentation
  docs/rules/no-restricted-globals.md
Labels: accepted, documentation, rule

#11973 Update: Check computed method keys in no-extra-parens
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#12053 Docs: Remove readonly/writable global logic from no-undef (fixes #11963)
  docs/rules/no-undef.md
Labels: accepted, documentation, rule

#12077 Update: fix class-methods-use-this false negatives with exceptMethods
  lib/rules/class-methods-use-this.js
  tests/lib/rules/class-methods-use-this.js
Labels: accepted, bug, rule

#12051 Fix: no-restricted-syntax - correct the schema
  lib/rules/no-restricted-syntax.js
Labels: accepted, bug, rule

#12016 Docs: do not recommend global-installed usage
  README.md
  docs/user-guide/getting-started.md
Labels: accepted, documentation

#12001 Update: warn about mixing ternary and logical operators (fixes #11704)
  docs/rules/no-mixed-operators.md
  lib/rules/no-mixed-operators.js
  tests/lib/rules/no-mixed-operators.js
Labels: accepted, enhancement, rule

#12054 Docs: Remove TDZ scope from the scope manager interface documentation
  docs/developer-guide/scope-manager-interface.md
Labels: triage

#12055 Chore: Remove TDZ scope type condition from no-unused-vars
  lib/rules/no-unused-vars.js
Labels: accepted, chore

#12076 Fix: no-extra-boolean-cast invalid autofix for Boolean() without args
  lib/rules/no-extra-boolean-cast.js
  tests/lib/rules/no-extra-boolean-cast.js
Labels: accepted, bug, rule

#12088 Fix: Allow bind call with a single spread element in no-extra-bind
  lib/rules/no-extra-bind.js
  tests/lib/rules/no-extra-bind.js
Labels: accepted, bug, rule

#12103 Fix: class-methods-use-this reports 'undefined' names
  lib/rules/class-methods-use-this.js
  tests/lib/rules/class-methods-use-this.js
Labels: accepted, bug, rule

#12073 Update: Check empty string property names in sort-keys
  lib/rules/sort-keys.js
  tests/lib/rules/sort-keys.js
Labels: accepted, bug, rule

#12071 Fix: yoda exceptRange false positives on empty string property names
  lib/rules/yoda.js
  tests/lib/rules/yoda.js
Labels: accepted, bug, rule

#12069 Update: fix no-dupe-keys false negatives on empty string names
  lib/rules/no-dupe-keys.js
  tests/lib/rules/no-dupe-keys.js
Labels: accepted, bug, enhancement

#11909 Fix: fix no-extra-parens ignores some nodes
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#12112 Fix: minor typo
  lib/init/npm-utils.js
Labels: accepted, chore, cli

#12107 Fix: no-duplicate-case false positives on Object.prototype keys
  lib/rules/no-duplicate-case.js
  tests/lib/rules/no-duplicate-case.js
Labels: accepted, bug, rule

#12104 Fix: Handle empty string property names in getFunctionNameWithKind
  lib/rules/utils/ast-utils.js
  tests/lib/rules/require-await.js
  tests/lib/rules/utils/ast-utils.js
Labels: accepted, bug, core

#12095 Fix: Check literal type explicitly in dot-notation
  lib/rules/dot-notation.js
  tests/lib/rules/dot-notation.js
Labels: accepted, bug, rule

#12085 Fix: prefer-template autofix produces syntax error with octal escapes
  lib/rules/prefer-template.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/prefer-template.js
  tests/lib/rules/utils/ast-utils.js
Labels: accepted, bug, rule

#12024 New: function-call-argument-newline rule (fixes #10323)
  docs/rules/function-call-argument-newline.md
  lib/rules/function-call-argument-newline.js
  lib/rules/index.js
  tests/lib/rules/function-call-argument-newline.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12062 Update: Fix accessor-pairs to enforce pairs per property in literals
  docs/rules/accessor-pairs.md
  lib/rules/accessor-pairs.js
  tests/lib/rules/accessor-pairs.js
Labels: accepted, bug, rule

#12091 New: noInlineConfig setting (refs eslint/rfcs#22)
  conf/config-schema.js
  lib/cli-engine/config-array-factory.js
  lib/cli-engine/config-array/config-array.js
  lib/cli-engine/config-array/extracted-config.js
  lib/linter/linter.js
  lib/shared/types.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array-factory.js
  tests/lib/cli-engine/config-array/config-array.js
  tests/lib/linter/linter.js
Labels: accepted, core, feature

#11983 Update: support bigint and dynamic import (refs #11803)
  .eslintignore
  .gitignore
  conf/environments.js
  lib/linter/code-path-analysis/code-path-analyzer.js
  lib/rules/func-call-spacing.js
  lib/rules/function-paren-newline.js
  lib/rules/indent.js
  lib/rules/new-cap.js
  lib/rules/no-extra-parens.js
  lib/rules/utils/ast-utils.js
  package.json
  tests/lib/rules/eqeqeq.js
  tests/lib/rules/func-call-spacing.js
  tests/lib/rules/function-paren-newline.js
  tests/lib/rules/indent.js
  tests/lib/rules/new-cap.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, core, enhancement, rule

#12124 Docs: Add duplicate keys limitation to accessor-pairs
  docs/rules/accessor-pairs.md
Labels: accepted, documentation, rule

#12120 Docs: update docs for ecmaVersion 2020
  docs/user-guide/configuring.md
Labels: documentation

#12131 Upgrade: eslint-utils 1.4.2
  package.json
  tests/lib/rules/require-unicode-regexp.js
Labels: upgrade

#12158 Upgrade: espree@^6.1.1
  package.json
Labels: accepted, upgrade

#12176 Docs: corrected class extension example
  docs/rules/no-useless-constructor.md
Labels: documentation

#12180 Chore: support es2020 in fuzz
  tools/eslint-fuzzer.js
Labels: chore

#12144 Chore: use GitHub Actions
  .github/workflows/ci.yml
  Makefile.js
  README.md
Labels: accepted, build, infrastructure

#12172 New: support TypeScript at config initializer (fixes #11789)
  lib/init/config-initializer.js
  tests/lib/init/config-initializer.js
Labels: accepted, cli, enhancement

#12164 Fix: no-extra-boolean-cast invalid autofix with yield before negation
  lib/rules/no-extra-boolean-cast.js
  tests/lib/rules/no-extra-boolean-cast.js
Labels: accepted, bug, rule

#12166 Fix: yoda rule produces invalid autofix with preceding yield
  lib/rules/yoda.js
  tests/lib/rules/yoda.js
Labels: accepted, bug, rule

#12174 Fix: reset to the default color
  lib/cli-engine/formatters/stylish.js
  tests/lib/cli-engine/formatters/stylish.js
Labels: bug, enhancement, formatter

#12142 Update: enforceForSequenceExpressions to no-extra-parens (fixes #11916)
  docs/rules/no-extra-parens.md
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, enhancement, rule

#12151 New: reportUnusedDisableDirectives in config (refs eslint/rfcs#22)
  conf/config-schema.js
  conf/default-cli-options.js
  docs/user-guide/configuring.md
  lib/cli-engine/config-array-factory.js
  lib/cli-engine/config-array/config-array.js
  lib/cli-engine/config-array/extracted-config.js
  lib/linter/apply-disable-directives.js
  lib/linter/linter.js
  lib/options.js
  lib/shared/types.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array-factory.js
  tests/lib/cli-engine/config-array/config-array.js
  tests/lib/linter/apply-disable-directives.js
  tests/lib/linter/linter.js
Labels: accepted, core, feature

#12113 Chore: refactor code
  lib/init/npm-utils.js
Labels: chore

#12118 Fix: quotes autofix produces syntax error with octal escape sequences
  lib/rules/quotes.js
  tests/lib/rules/quotes.js
Labels: accepted, bug, rule

#12196 Docs: Fix link in no-irregular-whitespace.md
  docs/rules/no-irregular-whitespace.md
Labels: accepted, documentation
