Repository eslint/eslint, pull requests merged in 2019-07, with the labels that each got.

#11921 Chore: add v8-compile-cache to speed up instantiation time
  bin/eslint.js
  package.json
Labels: core, evaluating, infrastructure

#11938 Docs: Fix incorrect example comments for unicode-bom rule (fixes #11937)
  docs/rules/unicode-bom.md
Labels: accepted, bug, documentation, rule

#11928 Fix: actual messageId and expected messageId are switched in rule tester
  lib/rule-tester/rule-tester.js
Labels: accepted, bug, core

#11956 Docs: Replace global true and false with writable and readonly in rules
  docs/rules/no-global-assign.md
  docs/rules/no-native-reassign.md
  docs/rules/no-undef.md
Labels: documentation

#11935 Fix: creating of enabledGlobals object without prototype (fixes #11929)
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: accepted, bug, core

#11977 Chore: update path for release bundles
  Makefile.js
Labels: chore

#11978 Chore: Add temporary test files to .gitignore
  .gitignore
Labels: chore

#11960 Docs: some typos and optimization points
  docs/rules/array-element-newline.md
  docs/rules/func-names.md
  docs/rules/function-paren-newline.md
  docs/rules/new-parens.md
  docs/rules/no-return-await.md
  docs/rules/no-self-assign.md
  docs/rules/no-template-curly-in-string.md
  docs/rules/no-underscore-dangle.md
  docs/rules/semi-style.md
  docs/rules/space-before-blocks.md
  docs/rules/switch-colon-spacing.md
  docs/rules/template-tag-spacing.md
  docs/user-guide/configuring.md
Labels: documentation

#11993 Docs: fix wrong Node.js version in getting started
  docs/user-guide/getting-started.md
Labels: documentation

#11994 Upgrade: Upgrade lodash dependency (fixes #11992)
  package.json
Labels: chore

#11985 Fix: --init with Vue.js failed (fixes #11970)
  lib/cli-engine/cli-engine.js
  lib/cli-engine/config-array-factory.js
  lib/init/config-initializer.js
  lib/shared/naming.js
  tests/lib/init/config-initializer.js
  tests/lib/shared/naming.js
Labels: accepted, bug, cli

#12000 Docs: Fixed a typo (fixes #11999)
  docs/rules/no-duplicate-imports.md
Labels: accepted, documentation, rule

#11946 Fix: Cache file error handling on read-only file system.
  lib/cli-engine/cli-engine.js
Labels: accepted, bug, core

#11827 Fix: prefer-const produces invalid autofix (fixes #11699)
  lib/rules/prefer-const.js
  tests/lib/rules/prefer-const.js
Labels: accepted, bug, rule

#11848 Fix: no-extra-parens autofix with `in` in a for-loop init (fixes #11706)
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#11941 Update: Add for-in and for-of checks for props in no-param-reassign
  docs/rules/no-param-reassign.md
  lib/rules/no-param-reassign.js
  tests/lib/rules/no-param-reassign.js
Labels: accepted, bug, enhancement, rule

#11952 Update: Check computed property keys in no-extra-parens
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#12006 Chore: update release script for new website repo
  Makefile.js
  tools/update-readme.js
Labels: chore

#12009 Docs: update docs for object-curly-spacing (fixes #11634)
  docs/rules/object-curly-newline.md
Labels: accepted, documentation

#11918 Fix: add parens for sequence expr in arrow-body-style (fixes #11917)
  lib/rules/arrow-body-style.js
  tests/lib/rules/arrow-body-style.js
Labels: accepted, bug, rule

#11933 Fix: dot-location errors with parenthesized objects (fixes #11868)
  docs/rules/dot-location.md
  lib/rules/dot-location.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/dot-location.js
  tests/lib/rules/utils/ast-utils.js
Labels: accepted, bug, rule

#11986 Fix: glob processing (fixes #11940)
  lib/cli-engine/file-enumerator.js
  tests/lib/cli-engine/cli-engine.js
Labels: accepted, bug, core

#12011 Upgrade: eslint-scope@^5.0.0
  package.json
Labels: accepted, upgrade

#12028 Update: report location of func-names (fixes #12022)
  lib/rules/func-names.js
  tests/lib/rules/func-names.js
Labels: accepted, enhancement, rule

#12037 Docs: no use eslint.linter in code example
  docs/developer-guide/nodejs-api.md
Labels: documentation

#12038 Docs: add a case to func-names
  docs/rules/func-names.md
Labels: accepted, documentation, rule
