Repository eslint/eslint, pull requests merged in 2019-09, with the labels that each got.

#12197 Fix: no-extra-boolean-cast reports wrong negation node (fixes #11324)
  lib/rules/no-extra-boolean-cast.js
  tests/lib/rules/no-extra-boolean-cast.js
Labels: accepted, bug, rule

#12205 Fix: OverrideTester basePath (fixes #12032)
  lib/cli-engine/config-array/override-tester.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array/override-tester.js
Labels: accepted, bug, core

#11121 Update: space-in-parens linting messages and report behaviour
  docs/rules/space-in-parens.md
  lib/rules/space-in-parens.js
  tests/lib/rules/space-in-parens.js
Labels: accepted, documentation, enhancement, rule

#12188 New: add rule default-param-last (fixes #11361)
  docs/rules/default-param-last.md
  lib/rules/default-param-last.js
  lib/rules/index.js
  tests/lib/rules/default-param-last.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12256 Docs: adding finally example
  docs/rules/no-useless-catch.md
Labels: documentation

#12265 Fix: eqeqeq rule reports incorrect locations
  lib/rules/eqeqeq.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/rules/eqeqeq.js
Labels: accepted, bug, rule

#12264 Fix: space-before-function-paren autofix removes comments (fixes #12259)
  lib/rules/space-before-function-paren.js
  tests/lib/rules/space-before-function-paren.js
Labels: accepted, bug, rule

#12258 Update: Report global Atomics calls in no-obj-calls (fixes #12234)
  docs/rules/no-obj-calls.md
  lib/rules/no-obj-calls.js
  tests/lib/rules/no-obj-calls.js
Labels: accepted, bug, enhancement, rule

#12254 New: Add prefer-regex-literals rule (fixes #12238)
  docs/rules/prefer-regex-literals.md
  lib/rules/index.js
  lib/rules/prefer-regex-literals.js
  tests/lib/rules/prefer-regex-literals.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12252 New: add no-import-assign (fixes #12237)
  docs/rules/no-import-assign.md
  lib/rules/index.js
  lib/rules/no-import-assign.js
  tests/lib/rules/no-import-assign.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12260 Fix: object-shorthand providing invalid fixes for typescript
  lib/rules/object-shorthand.js
  tests/fixtures/parsers/typescript-parsers/object-with-arrow-fn-props.js
  tests/lib/rules/object-shorthand.js
Labels: accepted, bug, rule

#12241 Fix: no-sequences is reporting incorrect locations
  lib/rules/no-sequences.js
  tests/lib/rules/no-sequences.js
Labels: accepted, bug, rule

#12243 Update: indentation of comment followed by semicolon (fixes #12232)
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, bug, enhancement, indent

#12216 Fix: Allow line comment exception in object-curly-spacing (fixes #11902)
  lib/rules/object-curly-spacing.js
  tests/lib/rules/object-curly-spacing.js
Labels: accepted, bug, rule

#12202 Docs: Added naming convention details to plugin usage
  docs/developer-guide/working-with-plugins.md
  docs/user-guide/configuring.md
Labels: documentation

#12214 Update: enforceForClassMembers computed-property-spacing (fixes #12049)
  docs/rules/computed-property-spacing.md
  lib/rules/computed-property-spacing.js
  tests/lib/rules/computed-property-spacing.js
Labels: accepted, enhancement, rule

#12105 Update: Fix handling of property names in no-self-assign
  lib/rules/no-self-assign.js
  tests/lib/rules/no-self-assign.js
Labels: accepted, enhancement, rule

#12193 Fix: patch hole in the no-lone-blocks rule
  lib/rules/no-lone-blocks.js
  tests/lib/rules/no-lone-blocks.js
Labels: accepted, bug, rule

#12192 Update: enforceForClassMembers option to accessor-pairs (fixes #12063)
  docs/rules/accessor-pairs.md
  lib/rules/accessor-pairs.js
  tests/lib/rules/accessor-pairs.js
Labels: accepted, enhancement, rule

#12067 Docs: Improve examples and clarify default option
  docs/rules/operator-linebreak.md
Labels: documentation

#12244 Chore: enable default-param-last
  lib/rules/capitalized-comments.js
  packages/eslint-config-eslint/default.yml
Labels: chore, evaluating

#12210 Update: add support for JSXFragments in indent rule (fixes #12208)
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, bug, enhancement, indent

#12286 Docs: add example for CLIEngine#executeOnText 3rd arg
  docs/developer-guide/nodejs-api.md
Labels: documentation

#12288 Docs: fix links in array-callback-return
  docs/rules/array-callback-return.md
Labels: documentation

#12306 Docs: English fix
  docs/developer-guide/working-with-rules.md
Labels: documentation

#12270 New: add --env-info flag to CLI
  bin/eslint.js
  docs/user-guide/command-line-interface.md
  lib/cli.js
  lib/options.js
  lib/shared/runtime-info.js
  tests/lib/cli.js
  tests/lib/shared/runtime-info.js
Labels: accepted, cli, feature

#12302 Update: Fix call, new and member expressions in no-extra-parens
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#12313 Fix: prefer-numeric-literals autofix removes comments
  lib/rules/prefer-numeric-literals.js
  tests/lib/rules/prefer-numeric-literals.js
Labels: accepted, bug, rule

#12320 Chore: cache results in runtime-info
  lib/shared/runtime-info.js
  tests/lib/shared/runtime-info.js
Labels: chore

#12300 Fix: no-useless-rename autofix removes comments
  lib/rules/no-useless-rename.js
  tests/lib/rules/no-useless-rename.js
Labels: accepted, autofix, bug, rule

#12290 Docs: Add supported ECMAScript version to README
  README.md
Labels: documentation

#12289 Docs: Add new ES environments to Configuring ESLint
  docs/user-guide/configuring.md
Labels: documentation

#12332 Chore: enable eslint-plugin-jsdoc (refs #11146)
  lib/cli-engine/cli-engine.js
  lib/cli-engine/ignored-paths.js
  lib/cli-engine/lint-result-cache.js
  lib/init/config-rule.js
  lib/init/npm-utils.js
  lib/linter/code-path-analysis/debug-helpers.js
  lib/linter/linter.js
  lib/rule-tester/rule-tester.js
  lib/rules/indent-legacy.js
  lib/shared/logging.js
  lib/source-code/source-code.js
  package.json
  packages/eslint-config-eslint/default.yml
  packages/eslint-config-eslint/package.json
  tests/lib/_utils.js
  tests/lib/cli-engine/_utils.js
  tests/lib/cli-engine/cascading-config-array-factory.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/file-enumerator.js
  tests/lib/cli-engine/ignored-paths.js
  tests/lib/cli.js
  tests/lib/init/config-initializer.js
  tests/lib/init/source-code-utils.js
  tests/tools/loose-parser.js
  tools/code-sample-minimizer.js
  tools/internal-rules/no-invalid-meta.js
Labels: chore

#12330 Chore: add autofix npm script
  Makefile.js
  package.json
Labels: chore

#12303 Update: Fix handling of chained new expressions in new-parens
  lib/rules/new-parens.js
  tests/lib/rules/new-parens.js
Labels: accepted, bug, rule

#12322 Update: no-useless-rename also reports default values (fixes #12301)
  lib/rules/no-useless-rename.js
  tests/lib/rules/no-useless-rename.js
Labels: accepted, bug, enhancement, rule

#12230 Fix: use async reading of stdin in bin/eslint.js
  bin/eslint.js
  tests/bin/eslint.js
Labels: accepted, bug, cli

#12299 Fix: no-undef-init autofix removes comments
  lib/rules/no-undef-init.js
  tests/lib/rules/no-undef-init.js
Labels: accepted, autofix, bug, rule

#12298 Fix: no-extra-label autofix removes comments
  lib/rules/no-extra-label.js
  tests/lib/rules/no-extra-label.js
Labels: accepted, autofix, bug, rule

#12293 Fix: no-extra-bind autofix removes comments
  lib/rules/no-extra-bind.js
  tests/lib/rules/no-extra-bind.js
Labels: accepted, autofix, bug, rule

#12292 Fix: no-useless-return autofix removes comments
  lib/rules/no-useless-return.js
  tests/lib/rules/no-useless-return.js
Labels: autofix, bug, rule

#12247 Fix: prefer-named-capture-group incorrect locations (fixes #12233)
  lib/rules/prefer-named-capture-group.js
  tests/lib/rules/prefer-named-capture-group.js
Labels: accepted, bug, rule

#12231 Fix: no-regex-spaces false positives and invalid autofix (fixes #12226)
  lib/rules/no-regex-spaces.js
  tests/lib/rules/no-regex-spaces.js
Labels: accepted, autofix, bug, rule

#12031 Fix: exclude `\u000d` so new line won't convert to text (fixes #12027)
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, bug, core

#12106 Update: Add enforceForSwitchCase option to use-isnan
  docs/rules/use-isnan.md
  lib/rules/use-isnan.js
  tests/lib/rules/use-isnan.js
Labels: accepted, enhancement, rule
