Repository eslint/eslint, pull requests merged in 2020-07, with the labels that each got.

#12600 Docs: Clarify implicit ignore behavior for dotfiles
  docs/user-guide/configuring.md
Labels: accepted, documentation, enhancement

#13375 Fix: false positive new with member in no-extra-parens (fixes #12740)
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#13395 Update: Improve array-callback-return report message
  lib/rules/array-callback-return.js
  tests/lib/rules/array-callback-return.js
Labels: accepted, enhancement, rule

#13433 Docs: fix no-multiple-empty-lines examples (fixes #13432)
  docs/rules/no-multiple-empty-lines.md
Labels: accepted, documentation, rule

#13449 Fix: Revert config cloning (fixes #13447)
  lib/cli-engine/config-array-factory.js
  tests/fixtures/config-file/cloned-config/circularRefEslintConfig.js
  tests/fixtures/config-file/cloned-config/configWithInfinity.js
  tests/fixtures/config-file/cloned-config/eslintConfig.js
  tests/fixtures/config-file/cloned-config/eslintConfigFail.js
  tests/fixtures/config-file/cloned-config/index.js
  tests/fixtures/config-file/cloned-config/inlineText.js
  tests/lib/cli.js
Labels: accepted, bug, patch candidate, rule

#13451 Fix: support typescript generics in arrow-parens (fixes #12570)
  lib/rules/arrow-parens.js
  tests/fixtures/parsers/arrow-parens/generics-extends-complex.js
  tests/fixtures/parsers/arrow-parens/generics-extends.js
  tests/fixtures/parsers/arrow-parens/generics-simple-async.js
  tests/fixtures/parsers/arrow-parens/generics-simple-no-params.js
  tests/fixtures/parsers/arrow-parens/generics-simple.js
  tests/lib/rules/arrow-parens.js
Labels: accepted, bug, rule

#13452 Docs: fix description for `never` in multiline-ternary (fixes #13368)
  docs/rules/multiline-ternary.md
Labels: accepted, documentation, rule

#13461 Fix: add end location to reports in keyword-spacing (refs #12334)
  lib/rules/keyword-spacing.js
  tests/lib/rules/keyword-spacing.js
Labels: accepted, bug, rule

#13460 Fix: add end location to reports in object-curly-newline (refs #12334)
  lib/rules/object-curly-newline.js
  tests/lib/rules/object-curly-newline.js
Labels: accepted, bug, rule

#13458 Update: Improve report location for max-len (refs #12334)
  lib/rules/max-len.js
  tests/lib/rules/max-len.js
Labels: accepted, enhancement, rule

#13456 Update: Improve report location for no-unneeded-ternary (refs #12334)
  lib/rules/no-unneeded-ternary.js
  tests/lib/rules/no-unneeded-ternary.js
Labels: accepted, enhancement, rule

#13455 Update: add allowSeparatedGroups option to sort-imports (fixes #12951)
  docs/rules/sort-imports.md
  lib/rules/sort-imports.js
  tests/lib/rules/sort-imports.js
Labels: accepted, enhancement, rule

#13469 Docs: fix wording in configuring.md
  docs/user-guide/configuring.md
Labels: triage

#13444 Upgrade: Updated puppeteer version to v4.0.0
  karma.conf.js
  package.json
Labels: upgrade

#13228 Fix: arrow-body-style fixer for `in` wrap (fixes #11849)
  lib/rules/arrow-body-style.js
  tests/lib/rules/arrow-body-style.js
Labels: accepted, autofix, bug, rule

#13457 Build: update webpack resolve.mainFields to match website config
  webpack.config.js
Labels: build

#13462 Update: Improve report location no-irregular-whitespace (refs #12334)
  lib/rules/no-irregular-whitespace.js
  tests/lib/rules/no-irregular-whitespace.js
Labels: accepted, enhancement, rule

#13483 Docs: Update int rule level to string
  docs/developer-guide/working-with-rules.md
Labels: documentation

#13484 Chore: use espree.latestEcmaVersion in fuzzer
  tools/code-sample-minimizer.js
  tools/eslint-fuzzer.js
Labels: chore

#13465 Update: deprecate id-blacklist rule
  docs/rules/id-blacklist.md
  lib/rules/id-blacklist.js
  lib/rules/index.js
  tools/rule-types.json
Labels: accepted, rule

#13488 Docs: fix linebreaks between versions in changelog
  CHANGELOG.md
Labels: accepted, documentation

#13499 Upgrade:lodash@4.17.19
  package.json
Labels: upgrade

#13478 Docs: Update technology sponsors in README
  README.md
Labels: documentation

#13493 Docs: clarify behavior if `meta.fixable` is omitted (refs #13349)
  docs/developer-guide/working-with-rules.md
Labels: documentation

#13487 Chore: enable consistent-meta-messages internal rule
  .eslintrc.js
  tests/tools/internal-rules/consistent-docs-url.js
  tools/internal-rules/consistent-docs-url.js
Labels: chore

#13510 Docs: add ECMAScript 2020 to README
  README.md
Labels: documentation

#13494 Update: Change no-duplicate-case to comparing tokens (fixes #13485)
  lib/rules/no-duplicate-case.js
  tests/lib/rules/no-duplicate-case.js
Labels: accepted, enhancement, rule

#13536 Fix: Update the chatroom link to go directly to help channel
  messages/extend-config-missing.txt
  messages/no-config-found.txt
  messages/plugin-conflict.txt
  messages/plugin-missing.txt
  messages/whitespace-found.txt
Labels: accepted, bug

#13519 Fix: Do not output `undefined` as line and column when it's unavailable in checkstyle format
  lib/cli-engine/formatters/checkstyle.js
  tests/lib/cli-engine/formatters/checkstyle.js
Labels: accepted, bug, formatter

#13518 Docs: fix broken links in developer guide
  docs/developer-guide/contributing/README.md
Labels: accepted, documentation

#13489 Update: require `meta` for fixable rules in RuleTester (refs #13349)
  lib/rule-tester/rule-tester.js
  tests/fixtures/testers/rule-tester/no-var.js
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, core
