Repository eslint/eslint, pull requests merged in 2020-11, with the labels that each got.

#13815 Docs: fix broken url in docs
  docs/maintainer-guide/governance.md
Labels: accepted, documentation

#13812 New: Configurable List Size For Per-Rule Performance Metrics
  docs/developer-guide/working-with-rules.md
  lib/linter/timing.js
  tests/lib/linter/timing.js
Labels: accepted, core, feature

#13828 Docs: Fix JS syntax and doc URL in working-with-custom-formatters.md
  docs/developer-guide/working-with-custom-formatters.md
Labels: accepted, documentation

#13863 Docs: no-restricted-imports is only for static imports
  docs/rules/no-restricted-imports.md
Labels: accepted, documentation, rule

#13842 Fix: no-useless-constructor (#13830)
  lib/rules/no-useless-constructor.js
  tests/fixtures/parsers/typescript-parsers/declare-class.js
  tests/lib/rules/no-useless-constructor.js
Labels: 3rd party plugin, accepted, bug, rule

#13861 Fix: enable debug logs for @eslint/eslintrc (fixes #13850)
  bin/eslint.js
Labels: accepted, bug, core

#13846 Chore: remove eslint comment from no-octal-escape tests
  tests/lib/rules/no-octal-escape.js
Labels: accepted, chore

#13845 New: Add no-nonoctal-decimal-escape rule (fixes #13765)
  docs/rules/no-nonoctal-decimal-escape.md
  lib/rules/index.js
  lib/rules/no-nonoctal-decimal-escape.js
  tests/lib/rules/no-nonoctal-decimal-escape.js
  tools/rule-types.json
Labels: accepted, feature, rule

#13866 Docs: correct the function-call-argument-newline 'default' descriptions
  docs/rules/function-call-argument-newline.md
Labels: accepted, documentation, rule

#13853 Update: fix 'skip' options in no-irregular-whitespace (fixes #13852)
  lib/rules/no-irregular-whitespace.js
  tests/lib/rules/no-irregular-whitespace.js
Labels: accepted, bug, rule

#13875 Docs: Fix a broken link in working-with-rules.md
  docs/developer-guide/working-with-rules.md
Labels: accepted, documentation
