Repository eslint/eslint, pull requests merged in 2020-08, with the labels that each got.

#13533 Chore: remove leche (fixes #13287)
  package.json
  tests/lib/cli-engine/cli-engine.js
  tests/lib/eslint/eslint.js
  tests/lib/init/config-file.js
  tests/lib/shared/config-ops.js
  tests/lib/shared/naming.js
  tests/lib/source-code/source-code.js
Labels: chore

#13544 Fix: indent for async arrow functions (fixes #13497)
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, bug, rule

#13564 Fix: revert "Update: disallow multiple options in comma-dangle schema"
  lib/rules/comma-dangle.js
Labels: accepted, bug

#13563 Docs: Update semantic versioning policy
  README.md
Labels: accepted, documentation

#13562 Docs: clarify "case" specifier in padding-line-between-statements
  docs/rules/padding-line-between-statements.md
Labels: accepted, documentation, rule

#13545 Update: allowFunctionParams option in no-underscore-dangle (fixes 12579)
  docs/rules/no-underscore-dangle.md
  lib/rules/no-underscore-dangle.js
  tests/lib/rules/no-underscore-dangle.js
Labels: accepted, enhancement, rule

#13577 Docs: add exponentiation operators to operator-assignment documentation
  docs/rules/operator-assignment.md
Labels: accepted, documentation, rule

#12611 Update: Add no-magic-numbers 'ignoreDefaultValues' option
  docs/rules/no-magic-numbers.md
  lib/rules/no-magic-numbers.js
  tests/lib/rules/no-magic-numbers.js
Labels: accepted, enhancement, rule

#13609 Upgrade: espree@7.3.0 (refs #13568)
  docs/user-guide/configuring.md
  lib/shared/types.js
  package.json
Labels: upgrade

#13611 Docs: Fix typo and missing article before noun in docs
  docs/developer-guide/nodejs-api.md
  docs/developer-guide/working-with-rules.md
Labels: accepted, documentation

#13613 Chore: Extract some functionality to eslintrc (refs #13481)
  conf/environments.js
  lib/cli-engine/cli-engine.js
  lib/cli-engine/config-array-factory.js
  lib/eslint/eslint.js
  lib/init/autoconfig.js
  lib/init/config-initializer.js
  lib/linter/config-comment-parser.js
  lib/linter/linter.js
  lib/shared/config-ops.js
  lib/shared/config-validator.js
  lib/shared/naming.js
  package.json
  tests/lib/shared/config-ops.js
  tests/lib/shared/naming.js
Labels: accepted, chore

#13622 Docs: Remove stale Keybase 2FA instructions
  docs/maintainer-guide/npm-2fa.md
  docs/maintainer-guide/releases.md
Labels: documentation, evaluating

#13605 Docs: fix examples in object-curly-newline
  docs/rules/object-curly-newline.md
Labels: accepted, documentation, rule

#13522 Update: add comment to message in no-warning-comments (fixes #12327)
  lib/rules/no-warning-comments.js
  tests/lib/rules/no-warning-comments.js
Labels: accepted, enhancement, rule

#13574 Update: support numeric-separator in no-loss-of-precision (refs #13568)
  docs/rules/no-loss-of-precision.md
  lib/rules/no-loss-of-precision.js
  tests/lib/rules/no-loss-of-precision.js
Labels: accepted, new syntax, rule

#13576 Update: Add exceptionPatterns to id-length rule (fixes #13094)
  docs/rules/id-length.md
  lib/rules/id-length.js
  tests/lib/rules/id-length.js
Labels: accepted, enhancement, rule

#13581 Update: support numeric separators (refs #13568)
  lib/rules/prefer-numeric-literals.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/dot-location.js
  tests/lib/rules/dot-notation.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-whitespace-before-property.js
  tests/lib/rules/prefer-numeric-literals.js
  tests/lib/rules/quote-props.js
  tests/lib/rules/utils/ast-utils.js
Labels: accepted, new syntax, rule

#13603 Update: add es2021 environment (refs #13602)
  docs/user-guide/configuring.md
  lib/init/config-initializer.js
  tests/bin/eslint.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/eslint/eslint.js
  tests/lib/init/config-initializer.js
  tests/lib/rules/no-extend-native.js
  tests/lib/rules/no-undef.js
Labels: accepted, core, enhancement, new syntax

#13626 Chore: Test formatted integers in no-dupe-keys (refs #13568)
  tests/lib/rules/no-dupe-keys.js
Labels: accepted, chore, new syntax, rule

#13638 Docs: Update Step 1 of Development Environment documentation
  docs/developer-guide/development-environment.md
Labels: documentation

#13618 Update: support logical assignments in core rules (refs #13569)
  docs/rules/operator-assignment.md
  lib/rules/constructor-super.js
  lib/rules/operator-assignment.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/constructor-super.js
  tests/lib/rules/func-name-matching.js
  tests/lib/rules/no-bitwise.js
  tests/lib/rules/no-extend-native.js
  tests/lib/rules/no-invalid-this.js
  tests/lib/rules/no-param-reassign.js
  tests/lib/rules/no-throw-literal.js
  tests/lib/rules/operator-assignment.js
  tests/lib/rules/operator-linebreak.js
  tests/lib/rules/prefer-destructuring.js
  tests/lib/rules/prefer-promise-reject-errors.js
  tests/lib/rules/space-infix-ops.js
  tests/lib/rules/utils/ast-utils.js
Labels: accepted, new syntax, rule
