Repository eslint/eslint, pull requests merged in 2020-09, with the labels that each got.

#13647 Fix: Update broken @eslint/eslintrc version (fixes #13641)
  package.json
Labels: accepted, bug, core, upgrade

#13660 Chore: fix typo
  tests/lib/eslint/eslint.js
Labels: accepted, chore

#13657 Docs: clarify correct example in no-return-await (fixes #13656)
  docs/rules/no-return-await.md
Labels: accepted, documentation, rule

#13673 Docs: add missing eslint directive comments in no-await-in-loop
  docs/rules/no-await-in-loop.md
Labels: accepted, documentation, rule

#13677 Docs: update outdated link
  docs/user-guide/configuring.md
Labels: triage

#13664 Fix: NonOctalDecimalIntegerLiteral is decimal integer (fixes #13588)
  lib/rules/utils/ast-utils.js
  tests/lib/rules/dot-location.js
  tests/lib/rules/dot-notation.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-whitespace-before-property.js
  tests/lib/rules/utils/ast-utils.js
Labels: accepted, autofix, bug, rule

#13670 Update: fix id-length false negatives on Object.prototype property names
  lib/rules/id-length.js
  tests/lib/rules/id-length.js
Labels: accepted, bug, rule

#13683 Docs: grammatical error
  docs/developer-guide/working-with-plugins.md
Labels: documentation

#13682 Fix: prefer-destructuring removes comments (refs #13678)
  lib/rules/prefer-destructuring.js
  tests/lib/rules/prefer-destructuring.js
Labels: accepted, autofix, bug, rule

#13661 Docs: Provide install commands for Yarn
  docs/user-guide/getting-started.md
Labels: documentation

#13635 Docs: Fix leaky anchors in v4 migration page
  docs/user-guide/migrating-to-4.0.0.md
Labels: documentation

#13473 Fix: Corrected notice for invalid (:) plugin names
  lib/cli-engine/config-array-factory.js
  messages/plugin-invalid.txt
  tests/lib/cli-engine/config-array-factory.js
Labels: accepted, bug, core

#13696 Docs: Clarify package.json requirement in Getting Started (refs #13549)
  docs/user-guide/getting-started.md
  eslint-7.8.0.tgz
Labels: documentation, evaluating

#13710 Chore: remove mistakenly added file
  eslint-7.8.0.tgz
Labels: accepted, chore

#13714 Docs: Add missing quotes
  docs/rules/lines-between-class-members.md
Labels: accepted, documentation, rule

#13707 Chore: Move comment to make tests more organized
  tests/lib/rules/getter-return.js
Labels: accepted, chore, rule

#13716 Upgrade: eslint-scope@5.1.1
  package.json
Labels: upgrade

#13704 Fix: prefer-destructuring invalid autofix with computed property access
  docs/rules/prefer-destructuring.md
  lib/rules/prefer-destructuring.js
  tests/lib/rules/prefer-destructuring.js
Labels: accepted, autofix, bug, rule

#13687 Docs: grammatical error
  docs/developer-guide/development-environment.md
Labels: documentation

#13717 Docs: fix typo
  docs/developer-guide/source-code.md
Labels: accepted, documentation

#13029 Update: Add ignorePattern to no-inline-comments
  docs/rules/no-inline-comments.md
  lib/rules/no-inline-comments.js
  tests/lib/rules/no-inline-comments.js
Labels: accepted, enhancement, rule

#13718 Docs: Clarify that ignorePattern should be a string (refs #13029)
  docs/rules/lines-around-comment.md
  docs/rules/no-inline-comments.md
Labels: accepted, documentation, rule
