Repository eslint/eslint, pull requests merged in 2020-03, with the labels that each got.

#12966 Chore: update space-before-function-paren in eslint-config-eslint
  packages/eslint-config-eslint/default.yml
  tests/lib/cli-engine/cascading-config-array-factory.js
Labels: chore

#12879 Fix: Check division operator in astUtils.canTokensBeAdjacent
  lib/rules/no-extra-parens.js
  lib/rules/operator-assignment.js
  lib/rules/utils/ast-utils.js
  package.json
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-implicit-coercion.js
  tests/lib/rules/operator-assignment.js
  tests/lib/rules/utils/ast-utils.js
Labels: accepted, autofix, bug, rule, upgrade

#13016 Update: acorn version
  package.json
Labels: triage

#12984 Chore: update GitHub Actions
  .github/workflows/ci.yml
Labels: chore

#13004 Docs: added less confusing explanation for func-style (fixes #12900)
  docs/rules/func-style.md
Labels: accepted, documentation, rule

#13015 Chore: added lock files to gitignore
  .gitignore
Labels: chore

#13023 Fix: camelcase false positive with computed property (fixes #13022)
  lib/rules/camelcase.js
  tests/lib/rules/camelcase.js
Labels: accepted, bug, rule

#13026 Upgrade: espree@6.2.1 (fixes #13012)
  package.json
Labels: upgrade

#13055 Docs: Update governance
  docs/maintainer-guide/governance.md
Labels: documentation

#12774 Update: support globalThis (refs #12670)
  conf/environments.js
  lib/rules/no-alert.js
  lib/rules/no-eval.js
  lib/rules/no-obj-calls.js
  package.json
  tests/lib/rules/no-alert.js
  tests/lib/rules/no-eval.js
  tests/lib/rules/no-misleading-character-class.js
  tests/lib/rules/no-obj-calls.js
  tests/lib/rules/no-redeclare.js
  tests/lib/rules/prefer-exponentiation-operator.js
  tests/lib/rules/prefer-named-capture-group.js
  tests/lib/rules/prefer-object-spread.js
  tests/lib/rules/prefer-regex-literals.js
  tests/lib/rules/require-unicode-regexp.js
Labels: accepted, core, enhancement, rule, upgrade

#12952 Fix: Newline before eof when creating config via --init
  lib/init/config-file.js
  tests/lib/init/config-file.js
Labels: accepted, bug, core

#13024 Fix: no-plusplus allow comma operands in for afterthought (fixes #13005)
  docs/rules/no-plusplus.md
  lib/rules/no-plusplus.js
  tests/lib/rules/no-plusplus.js
Labels: accepted, bug, rule

#12635 Update: Allow testing Suggestions with data in RuleTester (fixes #12606)
  docs/developer-guide/nodejs-api.md
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, core, enhancement

#13036 Fix: added async in allow method in no-empty-function (fixes #12768)
  docs/rules/no-empty-function.md
  lib/rules/no-empty-function.js
  tests/lib/rules/no-empty-function.js
Labels: accepted, bug, enhancement, rule

#13046 Fix: check template literal in prefer-numeric-literals (fixes #13045)
  docs/rules/prefer-numeric-literals.md
  lib/rules/prefer-numeric-literals.js
  tests/lib/rules/prefer-numeric-literals.js
Labels: accepted, bug, rule

#13060 Docs: removed correct code from incorrect eg section
  docs/rules/quote-props.md
Labels: accepted, documentation

#13054 Docs: Clarify that node_modules is ignored by default
  docs/user-guide/command-line-interface.md
  docs/user-guide/configuring.md
Labels: documentation

#12757 Update: consider env in no-implied-eval (fixes #12733)
  lib/rules/no-implied-eval.js
  tests/lib/rules/no-implied-eval.js
Labels: accepted, bug, rule

#12887 Breaking: change relative paths with --config (refs eslint/rfcs#37)
  docs/user-guide/configuring.md
  lib/cli-engine/cascading-config-array-factory.js
  lib/cli-engine/config-array-factory.js
  lib/cli-engine/config-array/config-array.js
  lib/shared/types.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array-factory.js
Labels: accepted, breaking, core, feature

#13063 Fix: remove type arguments in prefer-object-spread (fixes #13058)
  lib/rules/prefer-object-spread.js
  tests/fixtures/parsers/typescript-parsers/object-assign-with-generic/object-assign-with-generic-1.js
  tests/fixtures/parsers/typescript-parsers/object-assign-with-generic/object-assign-with-generic-2.js
  tests/lib/rules/prefer-object-spread.js
Labels: 3rd party plugin, autofix, bug, evaluating, rule

#12987 Fix: allow references to external globals in id-blacklist (fixes #12567)
  lib/rules/id-blacklist.js
  tests/lib/rules/id-blacklist.js
Labels: accepted, bug, rule

#13017 Docs: clarify variables option in no-use-before-define (fixes #12986)
  docs/rules/no-use-before-define.md
Labels: accepted, documentation, rule

#13076 Upgrade: esquery@1.2.0
  lib/linter/node-event-generator.js
  package.json
  webpack.config.js
Labels: chore, upgrade

#12909 Update: Report constructor calls in no-obj-calls
  docs/rules/no-obj-calls.md
  lib/rules/no-new-wrappers.js
  lib/rules/no-obj-calls.js
  tests/lib/rules/no-new-wrappers.js
  tests/lib/rules/no-obj-calls.js
Labels: enhancement, evaluating, rule

#13084 Add further reading to rule
  docs/rules/no-return-await.md
Labels: triage

#13092 Docs: Fix typo
  docs/rules/no-return-await.md
Labels: triage

#13089 Docs: add eslint rule comments to code block in example
  docs/rules/no-compare-neg-zero.md
Labels: documentation

#13061 Fix: incorrect logic for required parens in no-extra-boolean-cast fixer
  lib/rules/no-extra-boolean-cast.js
  tests/lib/rules/no-extra-boolean-cast.js
Labels: accepted, autofix, bug, rule

#13087 Fix: add end location to report in no-prototype-builtins (refs #12334)
  lib/rules/no-prototype-builtins.js
  tests/lib/rules/no-prototype-builtins.js
Labels: accepted, bug, rule

#13027 Fix: check assignment property target in camelcase (fixes #13025)
  lib/rules/camelcase.js
  tests/lib/rules/camelcase.js
Labels: accepted, bug, rule

#12922 Breaking: improve plugin resolving (refs eslint/rfcs#47)
  docs/user-guide/configuring.md
  lib/cli-engine/cascading-config-array-factory.js
  lib/cli-engine/config-array-factory.js
  lib/cli-engine/config-array/config-array.js
  messages/plugin-conflict.txt
  tests/lib/cli-engine/cascading-config-array-factory.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array-factory.js
Labels: accepted, breaking, core

#13105 Update: support globalThis in no-implied-eval (fixes #12670)
  lib/rules/no-implied-eval.js
  tests/lib/rules/no-implied-eval.js
Labels: accepted, enhancement, rule

#13102 Update: report operator location in operator-linebreak (refs #12334)
  lib/rules/operator-linebreak.js
  tests/lib/rules/operator-linebreak.js
Labels: accepted, enhancement, rule

#13083 Fix: add end location to report in no-extra-bind (refs #12334)
  lib/rules/no-extra-bind.js
  tests/lib/rules/no-extra-bind.js
Labels: accepted, bug, rule

#13086 Fix: getNameLocationInGlobalDirectiveComment end location (refs #12334)
  lib/rules/utils/ast-utils.js
  tests/lib/linter/linter.js
  tests/lib/rules/no-redeclare.js
  tests/lib/rules/no-unused-vars.js
Labels: accepted, bug, rule

#13048 Fix: require-await ignore async generators (fixes #12459)
  docs/rules/require-await.md
  lib/rules/require-await.js
  tests/lib/rules/require-await.js
Labels: accepted, bug, enhancement, rule

#12878 Fix: Change error message logic for implicit file ignore (fixes #12873)
  lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/cli-engine.js
Labels: accepted, bug, core

#12813 Update: Improve report location for template-curly-spacing
  lib/rules/template-curly-spacing.js
  tests/lib/rules/template-curly-spacing.js
Labels: accepted, enhancement, rule

#12851 Update: stricter array index check in no-magic-numbers (fixes #12845)
  docs/rules/no-magic-numbers.md
  lib/rules/no-magic-numbers.js
  tests/lib/rules/no-magic-numbers.js
Labels: accepted, bug, rule

#12955 Breaking: RuleTester Improvements (refs eslint/rfcs#25)
  docs/developer-guide/nodejs-api.md
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
  tests/lib/rules/_set-default-parser.js
  tests/lib/rules/spaced-comment.js
Labels: accepted, breaking, core

#13121 Update: Improve report location for no-empty-function (refs #12334)
  lib/rules/no-empty-function.js
  tests/lib/rules/no-empty-function.js
Labels: accepted, enhancement, rule

#13062 Update: no-inner-declarations false negative in non-block (fixes #12222)
  docs/rules/no-inner-declarations.md
  lib/rules/no-inner-declarations.js
  tests/lib/rules/no-inner-declarations.js
Labels: accepted, bug, rule

#13111 Update: Improve report location for comma-style
  lib/rules/comma-style.js
  tests/lib/rules/comma-style.js
Labels: accepted, enhancement, rule
