Repository eslint/eslint, pull requests merged in 2020-02, with the labels that each got.

#12847 Fix typo in no-irregular-whitespace.js
  lib/rules/no-irregular-whitespace.js
Labels: accepted, chore

#12848 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#12844 Fix: operator-assignment crash on adjacent division assignment
  lib/rules/operator-assignment.js
  tests/lib/rules/operator-assignment.js
Labels: accepted, bug, rule

#12858 Docs: add missing eslint comments in prefer-regex-literals examples
  docs/rules/prefer-regex-literals.md
Labels: accepted, documentation, rule

#12864 Chore: Fix typo in complexity.js
  lib/rules/complexity.js
Labels: accepted, chore

#12862 Chore: rename shadowed global
  lib/rules/no-obj-calls.js
Labels: accepted, chore

#12861 Docs: Fix spelling mistakes
  conf/environments.js
  docs/developer-guide/working-with-custom-parsers.md
  docs/rules/no-implicit-globals.md
  docs/rules/prefer-regex-literals.md
  lib/cli-engine/config-array/config-array.js
  lib/cli-engine/file-enumerator.js
  lib/init/npm-utils.js
  lib/linter/code-path-analysis/debug-helpers.js
  lib/linter/code-path-analysis/fork-context.js
  lib/linter/linter.js
  lib/rules/consistent-this.js
  lib/rules/linebreak-style.js
  lib/rules/max-len.js
  lib/rules/no-confusing-arrow.js
  lib/rules/no-control-regex.js
  lib/rules/no-lonely-if.js
  lib/rules/no-regex-spaces.js
  lib/rules/no-unused-vars.js
  lib/rules/no-useless-concat.js
  lib/rules/no-useless-constructor.js
  lib/rules/no-useless-return.js
  lib/rules/operator-assignment.js
  lib/rules/padded-blocks.js
  lib/rules/prefer-arrow-callback.js
  lib/rules/prefer-object-spread.js
  lib/rules/prefer-reflect.js
  lib/rules/require-atomic-updates.js
  lib/rules/semi.js
  lib/rules/sort-keys.js
  lib/rules/space-in-parens.js
  lib/rules/space-infix-ops.js
  lib/shared/config-validator.js
  lib/shared/naming.js
  lib/source-code/source-code.js
  lib/source-code/token-store/utils.js
  tests/bin/eslint.js
  tests/lib/_utils.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array-factory.js
  tests/lib/linter/linter.js
  tests/lib/options.js
  tests/lib/rules/camelcase.js
  tests/lib/rules/max-lines-per-function.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-implicit-globals.js
  tests/lib/rules/no-multi-assign.js
  tests/lib/rules/no-regex-spaces.js
  tests/lib/rules/no-unused-vars.js
  tests/lib/rules/no-useless-concat.js
  tests/lib/rules/one-var-declaration-per-line.js
  tests/lib/rules/padded-blocks.js
  tests/lib/rules/prefer-destructuring.js
  tests/lib/rules/prefer-regex-literals.js
  tests/lib/rules/quotes.js
  tests/lib/shared/naming.js
  tools/internal-testers/event-generator-tester.js
Labels: accepted, chore, documentation

#12646 Update: array-callback-return checks Array.forEach (fixes #12551)
  docs/rules/array-callback-return.md
  lib/rules/array-callback-return.js
  tests/lib/rules/array-callback-return.js
Labels: accepted, enhancement, rule

#12834 Docs: add errorOnUnmatchedPattern option to CLIEngine
  docs/developer-guide/nodejs-api.md
Labels: documentation

#12825 Chore: Use consistent badge style
  README.md
Labels: chore

#12831 Fix: id-blacklist false positives on renamed imports
  lib/rules/id-blacklist.js
  tests/lib/rules/id-blacklist.js
Labels: accepted, bug, rule

#12877 Chore: add Twitter and Open Collective badge
  README.md
Labels: chore

#12876 Update: check template literal in yoda (fixes #12863)
  docs/rules/yoda.md
  lib/rules/yoda.js
  tests/lib/rules/yoda.js
Labels: accepted, bug, enhancement, rule

#12837 Breaking: no-dupe-class-members checks some computed keys (fixes #12808)
  lib/rules/no-dupe-class-members.js
  tests/lib/rules/no-dupe-class-members.js
Labels: accepted, breaking, rule

#12888 Breaking: change default ignore pattern (eslint/rfcs#51)
  docs/user-guide/configuring.md
  lib/cli-engine/cli-engine.js
  lib/cli-engine/config-array/ignore-pattern.js
  tests/lib/cli-engine/cli-engine.js
Labels: accepted, breaking, core, feature

#12913 Breaking: use-isnan enforceForSwitchCase default `true` (fixes #12810)
  docs/rules/use-isnan.md
  lib/rules/use-isnan.js
  tests/lib/rules/use-isnan.js
Labels: accepted, breaking, rule

#12897 Fix: make YieldExpression throwable (fixes #12880)
  lib/linter/code-path-analysis/code-path-analyzer.js
  tests/lib/rules/no-unreachable.js
Labels: accepted, bug, core, rule

#12843 Fix: fix inconsistently works option in no-extra-parens (fixes #12717)
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#12796 Docs: add missing plugin reference
  docs/user-guide/configuring.md
Labels: documentation

#12734 Update: enforceForLogicalOperands no-extra-boolean-cast (fixes #12137)
  docs/rules/no-extra-boolean-cast.md
  lib/rules/no-extra-boolean-cast.js
  tests/lib/rules/no-extra-boolean-cast.js
Labels: accepted, enhancement, rule

#12881 Update: check renaming identifier in object destructuring (fixes 12827)
  docs/rules/id-length.md
  lib/rules/id-length.js
  tests/lib/rules/id-length.js
Labels: accepted, bug, enhancement, rule

#12195 Breaking: check unnamed default export in func-names (fixes #12194)
  docs/rules/func-names.md
  lib/rules/func-names.js
  tests/lib/rules/func-names.js
Labels: accepted, breaking, bug, rule

#12923 Update: report rename id destructuring in id-blacklist (fixes #12807)
  lib/rules/id-blacklist.js
  tests/lib/rules/id-blacklist.js
Labels: accepted, bug, regression, rule

#12944 Remove claim about semicolons from docs
  docs/rules/semi.md
Labels: documentation

#12930 Docs: fix category descriptions for site generation (fixes #12894)
  conf/category-list.json
Labels: documentation

#12920 Breaking: Add new rules to eslint:recommended (fixes #12911)
  conf/eslint-recommended.js
  lib/rules/indent-legacy.js
  lib/rules/no-dupe-else-if.js
  lib/rules/no-import-assign.js
  lib/rules/no-setter-return.js
Labels: accepted, breaking, core, enhancement

#12885 Docs: References correct config file name
  docs/user-guide/getting-started.md
Labels: documentation

#12960 Fix: add end location to report in no-eval
  lib/rules/no-eval.js
  tests/lib/rules/no-eval.js
Labels: accepted, bug, rule

#12965 Docs: Fix links to custom parsers doc
  docs/developer-guide/nodejs-api.md
  docs/user-guide/configuring.md
Labels: accepted, documentation

#12919 Breaking: classes default `true` in accessor-pairs (fixes #12811)
  docs/rules/accessor-pairs.md
  lib/rules/accessor-pairs.js
  tests/lib/rules/accessor-pairs.js
Labels: accepted, breaking, rule

#12962 Updated arrow-parens for minor grammar issue
  docs/rules/arrow-parens.md
Labels: documentation

#11972 Fix: Optionally allow underscores in member names
  lib/rules/no-underscore-dangle.js
  tests/lib/rules/no-underscore-dangle.js
Labels: accepted, bug, rule

#12905 Fix: wrap-iife autofix removes mandatory parentheses
  lib/rules/wrap-iife.js
  tests/lib/rules/wrap-iife.js
Labels: accepted, autofix, bug, rule

#12903 Docs: Mention TypeScript's compiler check
  docs/rules/no-dupe-class-members.md
Labels: triage

#12915 Breaking: class default `true` computed-property-spacing (fixes #12812)
  docs/rules/computed-property-spacing.md
  lib/rules/computed-property-spacing.js
  tests/lib/rules/computed-property-spacing.js
Labels: accepted, breaking, rule

#12886 Fix: arrow-body-style crash with object literal body (fixes #12884)
  lib/rules/arrow-body-style.js
  tests/lib/rules/arrow-body-style.js
Labels: accepted, autofix, bug, rule

#12943 Fix: curly removes necessary braces between if and else (fixes #12928)
  lib/rules/curly.js
  tests/lib/rules/curly.js
Labels: accepted, bug, rule

#12932 Update: func-names `as-needed` false negative with AssignmentPattern
  lib/rules/func-names.js
  tests/lib/rules/func-names.js
Labels: accepted, bug, enhancement, rule

#12096 Breaking: Test with an unknown error property should fail in RuleTester
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
  tests/lib/rules/multiline-comment-style.js
Labels: accepted, breaking, core

#12839 Update: check identifier in array pattern in id-length (fixes #12832)
  docs/rules/id-length.md
  lib/rules/id-length.js
  tests/lib/rules/id-length.js
Labels: accepted, bug, rule

#12927 Update: no-restricted-modules handle TemplateLiteral (fixes #12926)
  lib/rules/no-restricted-modules.js
  tests/lib/rules/no-restricted-modules.js
Labels: accepted, bug, rule
