Repository eslint/eslint, pull requests merged in 2020-01, with the labels that each got.

#12732 Fix: change a broken link in working-with-rules.md
  docs/developer-guide/working-with-rules.md
Labels: triage

#12325 Chore: add JSDoc types for RuleTester test cases
  lib/rule-tester/rule-tester.js
Labels: accepted, chore

#12709 Chore: fix separateRequires tests for one-var rule
  tests/lib/rules/one-var.js
Labels: chore

#12706 Update: add outerIIFEBody: "off" to indent rule (fixes #11377)
  docs/rules/indent.md
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, enhancement, indent

#12749 Docs: fix minor typo in brace-style.md
  docs/rules/brace-style.md
Labels: documentation

#12700 Breaking: drop Node.js 8 support (refs eslint/rfcs#44)
  .eslintignore
  .github/workflows/ci.yml
  README.md
  docs/user-guide/getting-started.md
  lib/cli-engine/file-enumerator.js
  lib/rules/utils/unicode/is-combining-character.js
  lib/shared/relative-module-resolver.js
  package.json
  tests/lib/_utils.js
  tests/lib/cli-engine/cli-engine.js
  tools/update-unicode-utils.js
Labels: accepted, breaking, chore, core

#12678 Breaking: runtime-deprecation on '~/.eslintrc' (refs eslint/rfcs#32)
  docs/user-guide/configuring.md
  lib/cli-engine/cascading-config-array-factory.js
  lib/cli-engine/config-array-factory.js
  lib/shared/config-validator.js
  lib/shared/deprecation-warnings.js
  tests/bin/eslint.js
  tests/lib/cli-engine/cascading-config-array-factory.js
Labels: accepted, breaking, core, deprecation

#12766 Docs: fix dead link in max-lines rule docs
  docs/rules/max-lines.md
Labels: documentation

#12753 Upgrade: several dependencies
  lib/cli.js
  package.json
  tests/lib/cli-engine/formatters/stylish.js
  tests/lib/cli-engine/formatters/table.js
Labels: upgrade

#12661 Update: fix counting jsx comment len in max-len (fixes #12213)
  lib/rules/max-len.js
  tests/lib/rules/max-len.js
Labels: accepted, bug, enhancement, rule

#12743 Update: fix no-extra-parens CallExpression#callee false negatives
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, enhancement, rule

#12690 New: Add no-useless-backreference rule (fixes #12673)
  docs/rules/no-useless-backreference.md
  lib/rules/index.js
  lib/rules/no-useless-backreference.js
  tests/lib/rules/no-useless-backreference.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12791 Docs: Improve sort-keys
  docs/rules/sort-keys.md
Labels: documentation

#12697 Update: report double extra parens in no-extra-parens (fixes #12127)
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#12711 Update: fix no-restricted-imports importNames reporting (fixes #12282)
  lib/rules/no-restricted-imports.js
  tests/lib/rules/no-restricted-imports.js
Labels: accepted, bug, rule

#12771 Fix: Display pipe character correctly in test output
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, bug, core

#12790 Chore: add prerequisites checklist to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#12792 Fix: id-blacklist should ignore ObjectPatterns (fixes #12787)
  lib/rules/id-blacklist.js
  tests/lib/rules/id-blacklist.js
Labels: accepted, bug, rule

#12795 Fix: improve report location for computed-property-spacing
  lib/rules/computed-property-spacing.js
  tests/lib/rules/computed-property-spacing.js
Labels: accepted, enhancement, rule

#12798 Update: fix no-restricted-imports export * false negative (fixes #12737)
  lib/rules/no-restricted-imports.js
  tests/lib/rules/no-restricted-imports.js
Labels: accepted, bug, rule

#12668 New: Add default-case-last rule (fixes #12665)
  docs/rules/default-case-last.md
  lib/rules/default-case-last.js
  lib/rules/index.js
  tests/lib/rules/default-case-last.js
  tools/rule-types.json
Labels: accepted, feature, rule

#12784 Fix: prefer-object-spread false positives with accessors (fixes #12086)
  lib/rules/prefer-object-spread.js
  tests/lib/rules/prefer-object-spread.js
Labels: accepted, autofix, bug, rule

#12701 Breaking: some rules recognize bigint literals (fixes #11803)
  .eslintrc.js
  docs/rules/no-magic-numbers.md
  lib/rules/key-spacing.js
  lib/rules/new-cap.js
  lib/rules/no-dupe-class-members.js
  lib/rules/no-magic-numbers.js
  lib/rules/no-useless-computed-key.js
  lib/rules/quote-props.js
  lib/rules/utils/ast-utils.js
  lib/rules/yoda.js
  tests/lib/rules/no-extend-native.js
  tests/lib/rules/no-magic-numbers.js
  tests/lib/rules/no-useless-computed-key.js
  tests/lib/rules/quote-props.js
  tests/lib/rules/yoda.js
Labels: accepted, breaking, enhancement, rule

#12699 Breaking: description in directive comments (refs eslint/rfcs#33)
  docs/user-guide/configuring.md
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: accepted, breaking, core, enhancement

#12765 Breaking: Check flatMap in array-callback-return (fixes #12235)
  docs/rules/array-callback-return.md
  lib/rules/array-callback-return.js
  tests/lib/rules/array-callback-return.js
Labels: accepted, breaking, rule

#12596 Fix: wrong indent at tagged template in indent (fixes #12122)
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: accepted, bug, indent, rule

#12490 Breaking: Check assignment targets in no-extra-parens
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, breaking, bug, enhancement, rule

#12775 Update: treat comment tokens in template-curly-spacing (fixes #12744)
  lib/rules/template-curly-spacing.js
  tests/lib/rules/template-curly-spacing.js
Labels: accepted, bug, rule

#11796 Update: Separate pattern/expression options for array-element-newline
  docs/rules/array-element-newline.md
  lib/rules/array-element-newline.js
  tests/lib/rules/array-element-newline.js
Labels: accepted, enhancement, rule

#12677 Breaking: lint `overrides` files (fixes #10828, refs eslint/rfcs#20)
  conf/default-cli-options.js
  docs/user-guide/command-line-interface.md
  docs/user-guide/configuring.md
  lib/cli-engine/cascading-config-array-factory.js
  lib/cli-engine/cli-engine.js
  lib/cli-engine/config-array-factory.js
  lib/cli-engine/config-array/config-array.js
  lib/cli-engine/config-array/override-tester.js
  lib/cli-engine/file-enumerator.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array-factory.js
Labels: accepted, breaking, core, enhancement

#12608 Breaking: make `radix` rule stricter
  docs/rules/radix.md
  lib/rules/radix.js
  tests/lib/rules/radix.js
Labels: accepted, breaking, rule

#12821 Docs: Fix anchor links in Node.js API table of contents
  docs/developer-guide/nodejs-api.md
Labels: accepted, bug, documentation

#12762 Chore: Adopt `eslint-plugin/require-meta-docs-description` internally
  .eslintrc.js
  package.json
  tests/tools/internal-rules/consistent-docs-description.js
  tools/internal-rules/consistent-docs-description.js
Labels: chore, evaluating

#12307 Fix: no-constant-condition doesn't introspect arrays (fixes #12225)
  lib/rules/no-constant-condition.js
  tests/lib/rules/no-constant-condition.js
Labels: accepted, bug, rule

#12816 Update: check template literal in no-constant-condition (fixes #12815)
  lib/rules/no-constant-condition.js
  tests/lib/rules/no-constant-condition.js
Labels: accepted, bug, enhancement, rule

#12823 Fix: multiline-comment-style rule add extra space after * (fixes #12785)
  lib/rules/multiline-comment-style.js
  tests/lib/rules/multiline-comment-style.js
Labels: accepted, autofix, bug, rule

#12836 Chore: add test for no-constant-condition
  tests/lib/rules/no-constant-condition.js
Labels: chore, rule

#12805 Update: fix no-magic-numbers false negative with ignoreArrayIndexes
  lib/rules/no-magic-numbers.js
  tests/lib/rules/no-magic-numbers.js
Labels: accepted, bug, rule

#12806 Update: check template literal in no-proto, no-iterator (fixes #12801)
  lib/rules/no-iterator.js
  lib/rules/no-proto.js
  tests/lib/rules/no-iterator.js
  tests/lib/rules/no-proto.js
Labels: accepted, bug, enhancement, rule

#12824 Fix: radix rule crash on disabled globals
  lib/rules/radix.js
  tests/lib/rules/radix.js
Labels: accepted, bug, rule

#12833 Chore: add missing `ecmaVersion` 2020/11 type value
  lib/shared/types.js
Labels: chore
