Repository eslint/eslint, pull requests merged in 2020-06, with the labels that each got.

#13354 Fix: no-unused-vars updated location to last reference (fixes #13181)
  lib/rules/no-unused-vars.js
  tests/lib/linter/linter.js
  tests/lib/rules/no-unused-vars.js
Labels: enhancement, evaluating, rule

#13351 Chore: update no-unused-vars caughtErrors in eslint-config-eslint
  lib/cli-engine/cli-engine.js
  lib/cli-engine/config-array-factory.js
  lib/init/config-initializer.js
  lib/linter/config-comment-parser.js
  lib/rules/no-control-regex.js
  lib/rules/no-invalid-regexp.js
  lib/rules/no-misleading-character-class.js
  lib/rules/no-regex-spaces.js
  lib/rules/no-useless-backreference.js
  lib/rules/prefer-named-capture-group.js
  lib/rules/quote-props.js
  lib/rules/utils/ast-utils.js
  packages/eslint-config-eslint/default.yml
  tests/_utils/in-memory-fs.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/eslint/eslint.js
  tests/lib/init/config-initializer.js
  tests/lib/init/source-code-utils.js
  tools/code-sample-minimizer.js
  tools/eslint-fuzzer.js
Labels: chore

#13203 Update: Improve report location for template-tag-spacing (refs #12334)
  lib/rules/template-tag-spacing.js
  tests/lib/rules/template-tag-spacing.js
Labels: accepted, enhancement, rule

#13386 Docs: fixed broken hash link for working-with-rules.md
  docs/developer-guide/working-with-rules.md
Labels: documentation

#13357 Update: enable es2020 environment in --init
  lib/init/config-initializer.js
  tests/lib/init/config-initializer.js
Labels: accepted, cli, enhancement

#13196 Update: support `??` operator, import.meta, and `export * as ns`
  docs/rules/no-mixed-operators.md
  lib/linter/code-path-analysis/code-path-analyzer.js
  lib/linter/code-path-analysis/code-path-state.js
  lib/rules/keyword-spacing.js
  lib/rules/no-extra-boolean-cast.js
  lib/rules/no-extra-parens.js
  lib/rules/no-mixed-operators.js
  lib/rules/no-restricted-exports.js
  lib/rules/no-unneeded-ternary.js
  lib/rules/utils/ast-utils.js
  package.json
  tests/fixtures/code-path-analysis/logical--do-while-qq-1.js
  tests/fixtures/code-path-analysis/logical--do-while-qq-2.js
  tests/fixtures/code-path-analysis/logical--if-mix-and-qq-1.js
  tests/fixtures/code-path-analysis/logical--if-mix-and-qq-2.js
  tests/fixtures/code-path-analysis/logical--if-mix-or-qq-1.js
  tests/fixtures/code-path-analysis/logical--if-mix-or-qq-2.js
  tests/fixtures/code-path-analysis/logical--if-qq-1.js
  tests/fixtures/code-path-analysis/logical--if-qq-2.js
  tests/fixtures/code-path-analysis/logical--if-qq-3.js
  tests/fixtures/code-path-analysis/logical--if-qq-4.js
  tests/fixtures/code-path-analysis/logical--if-qq-5.js
  tests/fixtures/code-path-analysis/logical--simple-3.js
  tests/fixtures/code-path-analysis/logical--while-qq-1.js
  tests/fixtures/code-path-analysis/logical--while-qq-2.js
  tests/lib/linter/code-path-analysis/code-path-analyzer.js
  tests/lib/rules/camelcase.js
  tests/lib/rules/id-blacklist.js
  tests/lib/rules/id-match.js
  tests/lib/rules/keyword-spacing.js
  tests/lib/rules/no-extra-boolean-cast.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-mixed-operators.js
  tests/lib/rules/no-restricted-exports.js
  tests/lib/rules/no-restricted-imports.js
  tests/lib/rules/no-undef.js
  tests/lib/rules/no-unneeded-ternary.js
  tests/lib/rules/no-unused-vars.js
  tests/lib/rules/operator-linebreak.js
Labels: core, enhancement, new syntax, rule

#13380 Chore: Remove duplicate health files
  .github/FUNDING.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: accepted, chore

#13387 Fix: Ignore import expressions in no-unused-expressions rule
  lib/rules/no-unused-expressions.js
  tests/lib/rules/no-unused-expressions.js
Labels: accepted, bug, rule

#13377 Update: keyword-spacing unexpected space loc improve (refs #12334)
  lib/rules/keyword-spacing.js
  tests/lib/rules/keyword-spacing.js
Labels: accepted, enhancement, rule

#13367 Update: handle parentheses in multiline-ternary (fixes #13195)
  lib/rules/multiline-ternary.js
  tests/lib/rules/multiline-ternary.js
Labels: accepted, bug, rule

#13311 Update: reporter loc of func-call-spacing (refs #12334)
  lib/rules/func-call-spacing.js
  tests/lib/rules/func-call-spacing.js
Labels: accepted, enhancement, rule

#12895 Update: add enforceForFunctionPrototypeMethods option to no-extra-parens
  docs/rules/no-extra-parens.md
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, enhancement, rule

#13403 Docs: Add security policy link to README
  README.md
Labels: documentation

#13254 Chore: Replace the inquirer dependency with enquirer
  lib/init/config-initializer.js
  package.json
Labels: accepted, core, enhancement

#13362 Update: key-spacing loc changes for extra space (refs #12334)
  lib/rules/key-spacing.js
  tests/lib/rules/key-spacing.js
Labels: accepted, enhancement, rule

#13374 Docs: On maxEOF with eol-last (fixes #12742)
  docs/rules/no-multiple-empty-lines.md
Labels: accepted, documentation, rule

#13410 Docs: Fix changelog versions
  CHANGELOG.md
Labels: documentation

#13379 Chore: update eslint-config-eslint's required node version
  packages/eslint-config-eslint/package.json
Labels: chore

#13340 Update: Drop @typescript-eslint/eslint-recommended from `eslint --init`
  lib/init/config-initializer.js
  tests/lib/init/config-initializer.js
Labels: core, enhancement, evaluating

#12857 Chore: enable exceptRange option in the yoda rule
  packages/eslint-config-eslint/default.yml
Labels: chore

#12947 Update: curly should check consequent `if` statements
  lib/rules/curly.js
  tests/lib/rules/curly.js
Labels: accepted, bug, enhancement, rule

#12660 New: Add no-unreachable-loop rule (fixes #12381)
  docs/rules/no-unreachable-loop.md
  lib/rules/index.js
  lib/rules/no-unreachable-loop.js
  tests/lib/rules/no-unreachable-loop.js
  tools/rule-types.json
Labels: accepted, feature, rule

#13166 Update: disallow multiple options in comma-dangle schema (fixes #13165)
  lib/rules/comma-dangle.js
Labels: accepted, bug, rule

#13358 Update: semi-spacing should check do-while statements
  lib/rules/semi-spacing.js
  tests/lib/rules/semi-spacing.js
Labels: accepted, bug, enhancement, rule

#13034 Fix: clone config before validating (fixes #12592)
  lib/cli-engine/config-array-factory.js
  tests/fixtures/config-file/cloned-config/circularRefEslintConfig.js
  tests/fixtures/config-file/cloned-config/eslintConfig.js
  tests/fixtures/config-file/cloned-config/eslintConfigFail.js
  tests/fixtures/config-file/cloned-config/index.js
  tests/fixtures/config-file/cloned-config/inlineText.js
  tests/lib/cli.js
Labels: accepted, bug, core

#13200 Update: added empty error array check for false negative
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: bug, core, enhancement, evaluating

#13399 Update: object-property-newline end location (refs #12334)
  lib/rules/object-property-newline.js
  tests/lib/rules/object-property-newline.js
Labels: accepted, enhancement, rule

#13318 Update: max-lines reporting loc improvement (refs #12334)
  lib/rules/max-lines.js
  tests/lib/rules/max-lines.js
Labels: accepted, enhancement, rule

#12648 New: Add no-promise-executor-return rule (fixes #12640)
  docs/rules/no-promise-executor-return.md
  lib/rules/index.js
  lib/rules/no-promise-executor-return.js
  tests/lib/rules/no-promise-executor-return.js
  tools/rule-types.json
Labels: accepted, feature, rule

#13199 Update: fix operator-linebreak overrides schema
  docs/rules/operator-linebreak.md
  lib/rules/operator-linebreak.js
Labels: accepted, bug, rule

#13198 Update: add missing `additionalProperties: false` to some rules' schema
  lib/rules/id-match.js
  lib/rules/no-unused-vars.js
  lib/rules/padded-blocks.js
Labels: accepted, bug, enhancement, rule

#13435 Fix: Replace Infinity with Number.MAX_SAFE_INTEGER (fixes #13427)
  lib/cli-engine/config-array-factory.js
  tests/fixtures/config-file/cloned-config/configWithInfinity.js
  tests/lib/cli.js
Labels: accepted, bug, patch candidate

#13408 Update: rename id-blacklist to id-denylist (fixes #13407)
  docs/rules/id-denylist.md
  lib/rules/id-denylist.js
  lib/rules/index.js
  tests/lib/rules/id-blacklist.js
  tests/lib/rules/id-denylist.js
  tools/rule-types.json
Labels: accepted, core, enhancement

#12842 Update: prefer-regex-literal detects regex literals passed to RegExp (fixes #12840)
  docs/rules/prefer-regex-literals.md
  lib/rules/prefer-regex-literals.js
  tests/lib/rules/prefer-regex-literals.js
Labels: accepted, enhancement, rule

#13424 Update: improve report location in arrow-body-style (refs #12334)
  lib/rules/arrow-body-style.js
  tests/lib/rules/arrow-body-style.js
Labels: accepted, enhancement, rule

#12782 Update: Add option "ignoreGlobals" to camelcase rule (fixes #11716)
  docs/rules/camelcase.md
  lib/rules/camelcase.js
  tests/lib/rules/camelcase.js
Labels: accepted, enhancement, rule
