Repository eslint/eslint, pull requests merged in 2020-04, with the labels that each got.

#13110 Fix: add end location to report in no-useless-concat (refs #12334)
  lib/rules/no-useless-concat.js
  tests/lib/rules/no-useless-concat.js
Labels: accepted, bug, rule

#13115 Fix: no check for shadowed Object (fixes #12809)
  docs/rules/no-new-object.md
  lib/rules/no-new-object.js
  tests/lib/rules/no-new-object.js
Labels: accepted, bug, rule

#13120 Update: Improve error message for fatal fixer errors
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, core, enhancement

#13128 Update: Improve report location for space-before-function-paren
  lib/rules/space-before-function-paren.js
  tests/lib/rules/space-before-function-paren.js
Labels: accepted, enhancement, rule

#13116 Update: Improve report location newline-per-chained-call (refs #12334)
  lib/rules/newline-per-chained-call.js
  tests/lib/rules/newline-per-chained-call.js
Labels: accepted, enhancement, needs bikeshedding, rule

#13126 Docs: clarify exceptions in spaced-comment (fixes #13032)
  docs/rules/spaced-comment.md
Labels: accepted, documentation, rule

#13138 Docs: examples with arrow functions in no-return-assign (fixes #13135)
  docs/rules/no-return-assign.md
  tests/lib/rules/no-return-assign.js
Labels: accepted, documentation, rule

#12738 Fix: init error in extending recommended config (fixes #12707)
  lib/init/autoconfig.js
  tests/lib/init/autoconfig.js
Labels: accepted, bug, core

#13136 Update: Improve report location for new-cap (refs #12334)
  lib/rules/new-cap.js
  tests/lib/rules/new-cap.js
Labels: accepted, enhancement, rule

#13096 Fix: no-extra-parens export default sequence expression false positive
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#13152 Docs: fix eslint comment in no-inner-declarations examples
  docs/rules/no-inner-declarations.md
Labels: accepted, documentation, rule

#13151 Docs: fix curly multi-or-nest examples with comments (refs #12972)
  docs/rules/curly.md
Labels: accepted, documentation, rule

#13140 Upgrade: levn@0.4.1 (fixes #9366)
  package.json
  tests/lib/linter/linter.js
Labels: accepted, bug, core

#12898 Update: deprecate Node.js & CommonJS rules
  .eslintrc.js
  docs/rules/callback-return.md
  docs/rules/global-require.md
  docs/rules/handle-callback-err.md
  docs/rules/no-buffer-constructor.md
  docs/rules/no-mixed-requires.md
  docs/rules/no-new-require.md
  docs/rules/no-path-concat.md
  docs/rules/no-process-env.md
  docs/rules/no-process-exit.md
  docs/rules/no-restricted-modules.md
  docs/rules/no-sync.md
  lib/init/autoconfig.js
  lib/init/source-code-utils.js
  lib/rules/callback-return.js
  lib/rules/global-require.js
  lib/rules/handle-callback-err.js
  lib/rules/no-buffer-constructor.js
  lib/rules/no-mixed-requires.js
  lib/rules/no-new-require.js
  lib/rules/no-path-concat.js
  lib/rules/no-process-env.js
  lib/rules/no-process-exit.js
  lib/rules/no-restricted-modules.js
  lib/rules/no-sync.js
  lib/shared/relative-module-resolver.js
  package.json
  packages/eslint-config-eslint/default.yml
  tests/bin/eslint.js
  tests/lib/linter/code-path-analysis/code-path.js
Labels: accepted, enhancement, rule

#13078 Fix: newBasePath should be an absolute path (fixes #12850)
  lib/cli-engine/config-array/ignore-pattern.js
  tests/lib/cli-engine/config-array/ignore-pattern.js
Labels: accepted, bug, core

#13191 Docs: add rule comment in prefer-rest-params doc
  docs/rules/prefer-rest-params.md
Labels: accepted, documentation, rule

#13177 Docs: Adds import example for object-curly-newline rule (refs #12018)
  docs/rules/object-curly-newline.md
Labels: accepted, documentation, rule

#13161 Chore: nested array tests for array-element-newline
  tests/lib/rules/array-element-newline.js
Labels: accepted, chore, rule

#13157 Chore: use espree.latestEcmaVersion in config-initializer
  lib/init/config-initializer.js
  tests/lib/init/config-initializer.js
Labels: chore

#13204 Docs: fix typos
  docs/rules/array-callback-return.md
  lib/rules/key-spacing.js
  lib/rules/no-lone-blocks.js
  tests/bench/large.js
  tests/bench/small.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array-factory.js
  tests/lib/rules/id-blacklist.js
  tests/lib/rules/keyword-spacing.js
  tests/lib/rules/no-implied-eval.js
  tests/performance/jshint.js
Labels: accepted, documentation

#13164 Update: Improve report location for getter-return (refs #12334)
  lib/rules/getter-return.js
  tests/lib/rules/getter-return.js
Labels: accepted, enhancement, rule

#13176 Fix: Remove default .js from --ext CLI option
  lib/options.js
  tests/lib/options.js
Labels: bug, core, evaluating

#13210 Chore: Run tests on Node.js v14
  .github/workflows/ci.yml
Labels: accepted, build, chore

#13155 Upgrade: some (dev) deps
  .eslintrc.js
  package.json
  packages/eslint-config-eslint/package.json
Labels: accepted, upgrade

#12939 Update: Add ESLint API (refs eslint/rfcs#40)
  bin/eslint.js
  docs/developer-guide/nodejs-api.md
  lib/api.js
  lib/cli-engine/cascading-config-array-factory.js
  lib/cli-engine/cli-engine.js
  lib/cli-engine/config-array-factory.js
  lib/cli-engine/config-array/config-array.js
  lib/cli.js
  lib/eslint/eslint.js
  lib/eslint/index.js
  lib/shared/types.js
  package.json
  tests/_utils/in-memory-fs.js
  tests/_utils/index.js
  tests/bin/eslint.js
  tests/fixtures/fix-types/ignore-missing-meta.expected.js
  tests/fixtures/fix-types/ignore-missing-meta.js
  tests/lib/_utils.js
  tests/lib/cli-engine/cascading-config-array-factory.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/config-array-factory.js
  tests/lib/cli-engine/file-enumerator.js
  tests/lib/cli.js
  tests/lib/eslint/eslint.js
  tests/lib/init/npm-utils.js
  tests/lib/rules/implicit-arrow-linebreak.js
  tests/lib/rules/indent.js
  tests/lib/rules/object-shorthand.js
  tests/lib/shared/runtime-info.js
Labels: core, enhancement

#13193 Fix: func-call-spacing "never" reports wrong message (fixes #13190)
  lib/rules/func-call-spacing.js
  tests/lib/rules/func-call-spacing.js
Labels: accepted, bug, rule

#13142 Update: report backtick loc in no-unexpected-multiline (refs #12334)
  lib/rules/no-unexpected-multiline.js
  tests/lib/rules/no-unexpected-multiline.js
Labels: accepted, enhancement, rule

#13145 Chore: tests for nested arrays (array-bracket-newline)
  tests/lib/rules/array-bracket-newline.js
Labels: accepted, chore, rule

#13052 Fix: yoda left string fix for exceptRange (fixes #12883)
  lib/rules/yoda.js
  tests/lib/rules/yoda.js
Labels: accepted, bug, rule

#13109 Update: Improve report location for array-callback-return (refs #12334)
  lib/rules/array-callback-return.js
  tests/lib/rules/array-callback-return.js
Labels: accepted, enhancement, rule
