Repository eslint/eslint, pull requests merged in 2021-07, with the labels that each got.

#14754 Docs: Suggest linting plugins for ESLint plugin developers
  docs/developer-guide/working-with-plugins.md
Labels: triage

#14748 Chore: don't check Program.start in SourceCode#getComments (refs #14744)
  lib/source-code/source-code.js
Labels: chore

#14771 Chore: pin fs-teardown@0.1.1
  package.json
Labels: chore

#14774 Docs: Mention benefit of rules providing `meta.docs.url`
  docs/developer-guide/working-with-rules.md
Labels: accepted, documentation

#14765 Update: Improving no-mixed-operators to clarify what changes need to be made.
  lib/rules/no-mixed-operators.js
Labels: enhancement, evaluating, rule

#14764 Update: operator-assignment should indicate which operator can be shortened
  lib/rules/operator-assignment.js
Labels: accepted, enhancement, rule

#14790 Docs: fix a broken link
  docs/developer-guide/nodejs-api.md
Labels: accepted, documentation

#14801 Docs: provide more context to no-eq-null
  docs/rules/no-eq-null.md
Labels: accepted, documentation, enhancement, rule

#14787 Docs: update BUG_REPORT template
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: triage

#14798 Update: add end location to report in `consistent-return` (refs #12334)
  lib/rules/consistent-return.js
  tests/lib/rules/consistent-return.js
Labels: accepted, enhancement, rule

#14808 Upgrade: @eslint/eslintrc to v0.4.3
  package.json
Labels: accepted, upgrade

#14816 Chore: use `actions/setup-node@v2`
  .github/workflows/ci.yml
Labels: chore, evaluating

#14833 Docs: fix multiple broken links
  docs/rules/space-after-keywords.md
  docs/rules/space-before-keywords.md
  docs/rules/space-return-throw-case.md
  docs/user-guide/configuring/configuration-files.md
Labels: accepted, documentation

#14809 Chore: assertions on reporting loc in `unicode-bom` (refs #12334)
  tests/lib/rules/unicode-bom.js
Labels: accepted, chore

#14826 Docs: New syntax issue template
  .github/ISSUE_TEMPLATE/NEW_SYNTAX.md
Labels: accepted, documentation

#14823 Chore: Adopt `eslint-plugin/require-meta-docs-url` rule internally
  .eslintrc.js
  package.json
  tests/tools/internal-rules/consistent-docs-url.js
  tools/internal-rules/consistent-docs-url.js
Labels: accepted, chore

#14805 Docs: Reference eslint-config-eslint to avoid potential for staleness
  docs/developer-guide/code-conventions.md
Labels: documentation

#14830 Docs: Prepare data for website to indicate rules with suggestions
  Makefile.js
Labels: accepted, build

#14842 Chore: Simplify internal `no-invalid-meta` rule
  .eslintrc.js
  tests/tools/internal-rules/no-invalid-meta.js
  tools/internal-rules/no-invalid-meta.js
Labels: chore

#14730 New: Exit on fatal error (fixes #13711)
  docs/developer-guide/nodejs-api.md
  docs/user-guide/command-line-interface.md
  lib/cli-engine/cli-engine.js
  lib/cli.js
  lib/options.js
  tests/bin/eslint.js
  tests/fixtures/exit-on-fatal-error/fatal-error.js
  tests/fixtures/exit-on-fatal-error/no-fatal-error-rule-violation.js
  tests/fixtures/exit-on-fatal-error/no-fatal-error.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli.js
  tests/lib/eslint/eslint.js
Labels: accepted, core, feature

#14837 Fix: ignore lines with empty elements (fixes #12756)
  lib/rules/comma-style.js
  tests/lib/rules/comma-style.js
Labels: accepted, bug, rule

#14766 Update: change reporting location for `curly` rule (refs #12334)
  lib/rules/curly.js
  tests/lib/rules/curly.js
Labels: accepted, enhancement, rule

#14841 Chore: Adopt `eslint-plugin/prefer-message-ids` rule internally
  .eslintrc.js
  package.json
  tests/tools/internal-rules/consistent-meta-messages.js
  tools/internal-rules/consistent-meta-messages.js
Labels: chore
