Repository eslint/eslint, pull requests merged in 2021-08, with the labels that each got.

#14877 Docs: Update license copyright
  LICENSE
Labels: accepted, documentation

#14675 Docs: Mention workaround for escaping the slash character in selectors
  docs/developer-guide/selectors.md
Labels: documentation, enhancement, evaluating

#14729 Build: add codeql
  .github/workflows/codeql-analysis.yml
Labels: infrastructure, evaluating

#14592 Breaking: drop node v10/v13/v15 (fixes #14023)
  .github/workflows/ci.yml
  README.md
  docs/user-guide/getting-started.md
  lib/shared/relative-module-resolver.js
  package.json
Labels: core, accepted, breaking

#14316 Breaking: Drop `codeframe` and `table` formatters
  docs/developer-guide/nodejs-api.md
  docs/user-guide/command-line-interface.md
  lib/cli-engine/cli-engine.js
  lib/cli-engine/formatters/codeframe.js
  lib/cli-engine/formatters/table.js
  package.json
  templates/formatter-examples.md.ejs
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/formatters/codeframe.js
  tests/lib/cli-engine/formatters/table.js
  tests/lib/eslint/eslint.js
Labels: core, accepted, breaking

#14691 Breaking: add some rules to eslint:recommended (refs #14673)
  conf/eslint-recommended.js
  lib/rules/no-loss-of-precision.js
  lib/rules/no-nonoctal-decimal-escape.js
  lib/rules/no-unsafe-optional-chaining.js
  lib/rules/no-useless-backreference.js
Labels: core, accepted, breaking

#14030 Breaking: fix comma-dangle schema (fixes #13739)
  lib/rules/comma-dangle.js
Labels: bug, rule, accepted, breaking

#14653 Breaking: support new regex d flag (fixes #14640)
  lib/rules/no-empty-character-class.js
  lib/rules/no-invalid-regexp.js
  package.json
  tests/lib/rules/no-empty-character-class.js
  tests/lib/rules/no-invalid-regexp.js
Labels: accepted, breaking, upgrade, new syntax

#14656 Breaking: allow all directives in line comments (fixes #14575)
  docs/rules/no-unused-vars.md
  docs/user-guide/configuring/language-options.md
  docs/user-guide/configuring/rules.md
  lib/linter/linter.js
  lib/rules/newline-before-return.js
  lib/rules/utils/ast-utils.js
  tests/lib/linter/linter.js
  tests/lib/rules/id-blacklist.js
  tests/lib/rules/id-denylist.js
  tests/lib/rules/no-inline-comments.js
  tests/lib/rules/no-promise-executor-return.js
  tests/lib/rules/no-setter-return.js
  tests/lib/rules/no-warning-comments.js
  tests/lib/rules/require-await.js
  tests/lib/rules/utils/ast-utils.js
Labels: enhancement, core, accepted, breaking

#14573 Breaking: Require `meta.hasSuggestions` for rules with suggestions
  .eslintrc.js
  Makefile.js
  docs/developer-guide/working-with-rules.md
  lib/linter/linter.js
  lib/rules/no-nonoctal-decimal-escape.js
  lib/rules/no-unsafe-negation.js
  lib/rules/no-useless-escape.js
  lib/rules/radix.js
  tests/fixtures/testers/rule-tester/suggestions.js
  tests/lib/linter/linter.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, breaking

#14634 Breaking: require `meta` for fixable rules (fixes #13349)
  lib/linter/linter.js
  lib/rule-tester/rule-tester.js
  tests/fixtures/rules/make-syntax-error-rule.js
  tests/fixtures/testers/rule-tester/fixes-one-problem.js
  tests/lib/linter/linter.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, breaking

#14617 Breaking: Fixable disable directives (fixes #11815)
  docs/developer-guide/nodejs-api.md
  docs/user-guide/command-line-interface.md
  lib/cli-engine/cli-engine.js
  lib/eslint/eslint.js
  lib/linter/apply-disable-directives.js
  lib/linter/linter.js
  lib/options.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/eslint/eslint.js
  tests/lib/linter/apply-disable-directives.js
  tests/lib/linter/linter.js
Labels: core, accepted, breaking

#14769 Breaking: disallow SourceCode#getComments() in RuleTester (refs #14744)
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, breaking

#14624 Chore: update dev deps to latest
  package.json
Labels: evaluating, chore, upgrade

#14887 Chore: update `glob-parent` (fixes #14879)
  package.json
Labels: triage

#14896 Chore: Specify Node 14.x for Verify Files CI job
  .github/workflows/ci.yml
Labels: accepted, chore

#14891 Upgrade: `@humanwhocodes/config-array` to 0.6
  package.json
Labels: accepted, chore

#14883 Upgrade: `markdownlint` dev dependencies
  .markdownlintignore
  Makefile.js
  package.json
Labels: accepted, chore

#14902 Upgrade: `eslint-visitor-keys` to v3
  package.json
Labels: accepted, upgrade

#14908 Docs: add class fields in func-names documentation (refs #14857)
  docs/rules/func-names.md
Labels: rule, documentation, accepted

#14907 Docs: add class fields in no-multi-assign documentation (refs #14857)
  docs/rules/no-multi-assign.md
Labels: rule, documentation, accepted

#14906 Update: check class fields in no-extra-parens (refs #14857)
  docs/rules/no-extra-parens.md
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: bug, enhancement, rule, accepted

#14901 Docs: improve rule details for `no-console` (fixes #14793)
  docs/rules/no-console.md
Labels: documentation, accepted

#14898 Fix: dot-notation false positive with private identifier (refs #14857)
  docs/rules/dot-notation.md
  lib/rules/dot-notation.js
  tests/lib/rules/dot-notation.js
Labels: bug, rule, accepted

#14897 Fix: prefer-destructuring PrivateIdentifier false positive (refs #14857)
  docs/rules/prefer-destructuring.md
  lib/rules/prefer-destructuring.js
  tests/lib/rules/prefer-destructuring.js
Labels: bug, rule, accepted

#14890 Upgrade: `js-yaml` to v4
  Makefile.js
  lib/cli-engine/formatters/tap.js
  lib/init/config-file.js
  package.json
  tests/lib/init/config-file.js
Labels: triage

#14903 Fix: no-useless-computed-key edge cases with class fields (refs #14857)
  docs/rules/no-useless-computed-key.md
  lib/rules/no-useless-computed-key.js
  tests/lib/rules/no-useless-computed-key.js
Labels: bug, rule, accepted

#14899 Chore: add assetions on reporting location in `semi` (refs #12334)
  tests/lib/rules/semi.js
Labels: accepted, chore

#14892 Upgrade: Debug 4.0.1 > 4.3.2
  package.json
Labels: accepted, upgrade

#14910 Chore: Add rel/abs path tests in `no-restricted-{imports/modules}` rules
  tests/lib/rules/no-restricted-imports.js
  tests/lib/rules/no-restricted-modules.js
Labels: accepted, chore

#14915 Fix: handle computed class fields in operator-linebreak (refs #14857)
  docs/rules/operator-linebreak.md
  lib/rules/operator-linebreak.js
  tests/lib/rules/operator-linebreak.js
Labels: bug, rule, accepted

#14916 Docs: add an example `Object.assign()` for rule no-import-assign
  docs/rules/no-import-assign.md
Labels: rule, documentation, accepted

#14865 Upgrade: @eslint/eslintrc@1.0.0
  lib/init/autoconfig.js
  lib/init/config-initializer.js
  lib/linter/config-comment-parser.js
  lib/linter/linter.js
  lib/shared/config-validator.js
  package.json
  tests/_utils/in-memory-fs.js
  tests/_utils/index.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/file-enumerator.js
  tests/lib/eslint/eslint.js
Labels: accepted, upgrade

#14884 Docs: Add v8.0.0 migration guide (fixes #14856)
  docs/user-guide/migrating-to-8.0.0.md
Labels: documentation, accepted, tsc agenda

#14925 Chore: ignore `yarn-error.log` and `.pnpm-debug.log`
  .gitignore
Labels: accepted, chore

#14614 Chore: Switch to native Array flat/flatMap
  lib/linter/apply-disable-directives.js
  lib/linter/linter.js
  lib/linter/node-event-generator.js
  lib/rules/max-lines.js
Labels: chore

#14932 Chore: Fix Makefile call to linter.getRules()
  Makefile.js
Labels: triage

#14933 Build: Force prerelease peer dep for Node 16 in CI
  .github/workflows/ci.yml
Labels: build, evaluating

#14934 Docs: document ESLint api
  docs/developer-guide/architecture.md
Labels: documentation, accepted

#14814 Chore: Update jsdoc plugin and tweak rules in effect
  .eslintrc.js
  Makefile.js
  lib/cli-engine/cli-engine.js
  lib/cli-engine/file-enumerator.js
  lib/config/rule-validator.js
  lib/eslint/eslint.js
  lib/init/autoconfig.js
  lib/init/config-initializer.js
  lib/init/npm-utils.js
  lib/init/source-code-utils.js
  lib/linter/code-path-analysis/code-path-state.js
  lib/linter/config-comment-parser.js
  lib/linter/linter.js
  lib/linter/report-translator.js
  lib/linter/safe-emitter.js
  lib/linter/timing.js
  lib/rule-tester/rule-tester.js
  lib/rules/default-case.js
  lib/rules/function-paren-newline.js
  lib/rules/indent.js
  lib/rules/key-spacing.js
  lib/rules/keyword-spacing.js
  lib/rules/max-len.js
  lib/rules/max-lines-per-function.js
  lib/rules/new-cap.js
  lib/rules/no-extra-boolean-cast.js
  lib/rules/no-loop-func.js
  lib/rules/no-mixed-operators.js
  lib/rules/no-undef-init.js
  lib/rules/no-useless-computed-key.js
  lib/rules/no-useless-escape.js
  lib/rules/object-shorthand.js
  lib/rules/padded-blocks.js
  lib/rules/prefer-arrow-callback.js
  lib/rules/utils/ast-utils.js
  lib/rules/utils/lazy-loading-rule-map.js
  lib/shared/config-validator.js
  lib/shared/relative-module-resolver.js
  lib/shared/runtime-info.js
  lib/source-code/source-code.js
  package.json
  packages/eslint-config-eslint/default.yml
  packages/eslint-config-eslint/package.json
  tests/bin/eslint.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/file-enumerator.js
  tests/lib/eslint/eslint.js
  tests/lib/linter/linter.js
  tests/lib/rule-tester/no-test-runners.js
  tests/lib/rule-tester/rule-tester.js
  tests/lib/rules/utils/ast-utils.js
  tools/eslint-fuzzer.js
Labels: triage

#14946 Fix: keyword-spacing private name compat (refs #14857)
  lib/rules/keyword-spacing.js
  tests/lib/rules/keyword-spacing.js
Labels: bug, rule, accepted

#14920 Update: fix no-unreachable logic for class fields (refs #14857)
  docs/rules/no-unreachable.md
  lib/rules/no-unreachable.js
  tests/lib/rules/no-unreachable.js
Labels: bug, rule, accepted

#14951 Chore: fix small typo
  lib/rules/no-restricted-imports.js
  lib/rules/no-restricted-modules.js
Labels: accepted, chore

#14954 Docs: Fix typo in no-implicit-globals.md
  docs/rules/no-implicit-globals.md
Labels: documentation, accepted

#14928 Update: fix no-unused-vars false negative with comma operator
  lib/rules/no-unused-vars.js
  tests/lib/rules/no-unused-vars.js
Labels: bug, rule, accepted

#14840 Update: reporting loc for `never` option in `eol-last` (refs #12334)
  lib/rules/eol-last.js
  tests/lib/rules/eol-last.js
Labels: accepted, chore

#14948 Chore: add test for merging `parserOptions` in Linter
  tests/lib/linter/linter.js
Labels: accepted, chore

#14969 Docs: fix 'When Not To Use' in prefer-named-capture-group (refs #14959)
  docs/rules/prefer-named-capture-group.md
Labels: rule, documentation, accepted

#14966 Fix: camelcase ignoreGlobals shouldn't apply to undef vars (refs #14857)
  lib/rules/camelcase.js
  tests/lib/rules/camelcase.js
Labels: bug, rule, accepted

#14952 docs: readme: add 2021 and 2022 to supported ECMAScript versions
  README.md
Labels: triage

#14955 Chore: Enforce jsdoc check-line-alignment (never)
  Makefile.js
  lib/cli-engine/cli-engine.js
  lib/cli-engine/hash.js
  lib/init/autoconfig.js
  lib/init/config-file.js
  lib/init/config-initializer.js
  lib/init/config-rule.js
  lib/init/npm-utils.js
  lib/init/source-code-utils.js
  lib/linter/linter.js
  lib/linter/source-code-fixer.js
  lib/rules/consistent-this.js
  lib/rules/default-case.js
  lib/rules/eqeqeq.js
  lib/rules/key-spacing.js
  lib/rules/newline-after-var.js
  lib/rules/newline-per-chained-call.js
  lib/rules/no-bitwise.js
  lib/rules/no-shadow.js
  lib/rules/object-shorthand.js
  lib/rules/one-var.js
  lib/rules/operator-assignment.js
  lib/rules/quote-props.js
  lib/rules/utils/ast-utils.js
  packages/eslint-config-eslint/default.yml
  tests/lib/rules/complexity.js
  tests/lib/rules/dot-notation.js
Labels: chore

#14961 Chore: Update deprecated information
  docs/rules/lines-around-comment.md
  lib/rules/callback-return.js
  lib/rules/global-require.js
  lib/rules/handle-callback-err.js
  lib/rules/id-blacklist.js
  lib/rules/indent-legacy.js
  lib/rules/lines-around-directive.js
  lib/rules/newline-after-var.js
  lib/rules/newline-before-return.js
  lib/rules/no-buffer-constructor.js
  lib/rules/no-mixed-requires.js
  lib/rules/no-new-require.js
  lib/rules/no-path-concat.js
  lib/rules/no-process-env.js
  lib/rules/no-process-exit.js
  lib/rules/no-restricted-modules.js
  lib/rules/no-sync.js
  lib/rules/require-jsdoc.js
  lib/rules/valid-jsdoc.js
Labels: triage

#14964 Update: support class fields in func-name-matching (refs #14857)
  docs/rules/func-name-matching.md
  lib/rules/func-name-matching.js
  tests/lib/rules/func-name-matching.js
Labels: bug, enhancement, rule, accepted

#14971 Docs: remove `docs` script (fixes #14288)
  Makefile.js
  docs/developer-guide/development-environment.md
  package.json
Labels: documentation, accepted

#14974 Docs: update ScopeManager with class fields
  docs/developer-guide/scope-manager-interface.md
Labels: documentation, core, accepted

#14985 Docs: fix typo in migration guide
  docs/user-guide/migrating-to-8.0.0.md
Labels: documentation, accepted

#14995 Docs: Clarify Linter vs ESLint in node.js api docs (fixes #14953)
  docs/developer-guide/nodejs-api.md
Labels: documentation, accepted

#14976 Docs: Make clear how rule options are overridden (fixes #14962)
  docs/user-guide/configuring/configuration-files.md
Labels: documentation, accepted

#14989 Chore: Add test that deprecated rules display a deprecated notice
  Makefile.js
  docs/rules/indent-legacy.md
Labels: accepted, chore
