Repository eslint/eslint, pull requests merged in 2021-02, with the labels that each got.

#14039 Docs: Add more fields to bug report template
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: accepted, documentation

#14067 Upgrade: pin @babel/code-frame@7.12.11
  package.json
Labels: accepted, upgrade

#13973 Fix: Support ENOTDIR error code in the folder existence checking utility
  lib/cli-engine/cli-engine.js
  tests/lib/eslint/eslint.js
Labels: accepted, bug, core

#14060 Fix: `--init` autoconfig shouldn't add deprecated rules (fixes #14017)
  lib/init/autoconfig.js
  tests/lib/init/autoconfig.js
  tests/lib/init/config-initializer.js
Labels: accepted, bug, cli

#14012 Update: add enforceForJSX option to no-unused-expressions rule
  docs/rules/no-unused-expressions.md
  lib/rules/no-unused-expressions.js
  tests/lib/rules/no-unused-expressions.js
Labels: accepted, enhancement, rule

#14014 Docs: Triage process
  docs/maintainer-guide/issues.md
Labels: accepted, documentation

#14072 Fix: Crash with esquery when using JSX (fixes #13639)
  lib/linter/linter.js
  lib/linter/node-event-generator.js
  package.json
  tests/lib/linter/code-path-analysis/code-path-analyzer.js
  tests/lib/linter/linter.js
  tests/lib/linter/node-event-generator.js
  tests/lib/rules/no-restricted-syntax.js
Labels: accepted, bug, core, enhancement, upgrade

#14099 Docs: fix sibling selector descriptions
  docs/developer-guide/selectors.md
Labels: core, documentation

#14115 Docs: pluralize 'line' to 'lines' in max-lines-per-function description
  lib/rules/max-lines-per-function.js
Labels: accepted, rule

#14125 Chore: improve a few comments and fix typos
  lib/rules/indent-legacy.js
  lib/rules/no-loss-of-precision.js
  lib/rules/prefer-destructuring.js
  lib/rules/use-isnan.js
  tests/fixtures/config-extends/error.json
  tests/lib/rules/indent.js
  tests/lib/rules/no-restricted-exports.js
Labels: accepted, chore

#14126 Update: do not ignore symbolic links (fixes #13551, fixes #13615)
  lib/cli-engine/file-enumerator.js
  tests/lib/cli-engine/file-enumerator.js
Labels: accepted, bug, core

#14119 New: Implement cacheStrategy (refs eslint/rfcs#63)
  conf/default-cli-options.js
  docs/developer-guide/nodejs-api.md
  docs/user-guide/command-line-interface.md
  lib/cli-engine/cli-engine.js
  lib/cli-engine/lint-result-cache.js
  lib/cli.js
  lib/eslint/eslint.js
  lib/options.js
  package.json
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli-engine/lint-result-cache.js
  tests/lib/eslint/eslint.js
Labels: accepted, cli, core, feature, upgrade

#14122 Upgrade: Puppeteer to 7.1.0 (refs #14098)
  package.json
Labels: accepted, upgrade

#14147 Upgrade: @eslint/eslintrc to 0.4.0
  package.json
Labels: accepted, upgrade
