Repository eslint/eslint, pull requests merged in 2021-11, with the labels that each got.

#15246 build: upgrade eslint-release to v3.2.0 to support conventional commits
  package.json
Labels: build, accepted, upgrade

#15253 docs: Use string rule severity in CLI examples
  docs/user-guide/command-line-interface.md
Labels: documentation, accepted

#15239 perf: don't prepare a fix for valid code in key-spacing
  lib/rules/key-spacing.js
Labels: rule, accepted, chore

#15134 feat: report class evaluation TDZ errors in no-use-before-define
  docs/rules/no-use-before-define.md
  lib/rules/no-use-before-define.js
  tests/lib/rules/no-use-before-define.js
Labels: bug, enhancement, rule, accepted

#15265 chore: update @eslint/eslintrc to avoid different versions of `js-yaml`
  package.json
  tests/bin/eslint.js
Labels: accepted, upgrade

#15268 feat: Normalize ecmaVersion to eslint-scope when using custom parser
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: enhancement, core, accepted

#15276 docs: Add variables option to overview in no-use-before-define
  docs/rules/no-use-before-define.md
Labels: rule, documentation, accepted

#15277 chore: upgrade eslint-visitor-keys for class static blocks
  package.json
Labels: accepted, upgrade

#15283 docs: no-unused-expressions - class static blocks don't have directives
  docs/rules/no-unused-expressions.md
  lib/rules/no-unused-expressions.js
  tests/lib/rules/no-unused-expressions.js
Labels: rule, documentation, accepted, new syntax

#15293 docs: remove deprecation note from lines-around-comment
  docs/rules/lines-around-comment.md
Labels: rule, documentation, accepted

#15303 docs: Remove inconsistent colon in pull request docs
  docs/developer-guide/contributing/pull-requests.md
Labels: triage

#15302 docs: add examples for block-scoped-var with class static blocks
  docs/rules/block-scoped-var.md
  lib/rules/block-scoped-var.js
  tests/lib/rules/block-scoped-var.js
Labels: rule, documentation, accepted, new syntax

#15286 feat: update semi rule for class static blocks
  docs/rules/semi.md
  lib/rules/semi.js
  tests/lib/rules/semi.js
Labels: rule, accepted, new syntax

#15287 feat: update no-extra-semi for class static blocks
  docs/rules/no-extra-semi.md
  lib/rules/no-extra-semi.js
  tests/lib/rules/no-extra-semi.js
Labels: rule, accepted, new syntax

#15289 feat: update keyword-spacing for class static blocks
  docs/rules/keyword-spacing.md
  docs/rules/space-before-blocks.md
  lib/rules/keyword-spacing.js
  tests/lib/rules/keyword-spacing.js
  tests/lib/rules/semi-spacing.js
  tests/lib/rules/space-before-blocks.js
Labels: rule, accepted, new syntax

#15297 feat: update block-spacing for class static blocks
  docs/rules/block-spacing.md
  lib/rules/block-spacing.js
  tests/lib/rules/block-spacing.js
Labels: rule, accepted, new syntax

#15295 feat: update no-lone-blocks for class static blocks
  docs/rules/no-lone-blocks.md
  lib/rules/no-lone-blocks.js
  tests/lib/rules/no-lone-blocks.js
Labels: rule, accepted, new syntax

#15298 feat: update class-methods-use-this for class static blocks
  docs/rules/class-methods-use-this.md
  lib/rules/class-methods-use-this.js
  tests/lib/rules/class-methods-use-this.js
Labels: rule, accepted, new syntax

#15300 fix: update no-invalid-this and no-eval for class static blocks
  docs/rules/no-eval.md
  docs/rules/no-invalid-this.md
  lib/rules/no-eval.js
  lib/rules/no-invalid-this.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-eval.js
  tests/lib/rules/no-invalid-this.js
Labels: rule, accepted, new syntax

#15314 docs: the strict rule does not apply to class static blocks
  docs/rules/strict.md
  tests/lib/rules/strict.js
Labels: rule, documentation, accepted, new syntax

#15308 docs: Expand `--debug` option description in the CLI documentation
  docs/user-guide/command-line-interface.md
Labels: documentation, accepted

#15318 feat: update padding-line-between-statements for class static blocks
  docs/rules/padding-line-between-statements.md
  lib/rules/padding-line-between-statements.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/padding-line-between-statements.js
Labels: rule, accepted, new syntax

#15321 feat: update eslint-scope for class static blocks
  docs/developer-guide/scope-manager-interface.md
  package.json
  tests/lib/rules/no-shadow.js
  tests/lib/rules/no-undef.js
Labels: core, accepted, new syntax

#15282 feat: code path analysis for class static blocks
  docs/developer-guide/code-path-analysis.md
  lib/linter/code-path-analysis/code-path-analyzer.js
  lib/linter/code-path-analysis/code-path.js
  tests/fixtures/code-path-analysis/class-static-blocks--between-fields.js
  tests/fixtures/code-path-analysis/class-static-blocks--between-methods.js
  tests/fixtures/code-path-analysis/class-static-blocks--conditional.js
  tests/fixtures/code-path-analysis/class-static-blocks--empty.js
  tests/fixtures/code-path-analysis/class-static-blocks--function-inside.js
  tests/fixtures/code-path-analysis/class-static-blocks--if-else.js
  tests/fixtures/code-path-analysis/class-static-blocks--multiple-1.js
  tests/fixtures/code-path-analysis/class-static-blocks--multiple-2.js
  tests/fixtures/code-path-analysis/class-static-blocks--simple.js
  tests/lib/linter/code-path-analysis/code-path.js
Labels: core, accepted, new syntax

#15325 feat: update prefer-const for class static blocks
  docs/rules/prefer-const.md
  lib/rules/prefer-const.js
  tests/lib/rules/prefer-const.js
Labels: rule, accepted, new syntax

#15315 feat: update max-statements for class static blocks
  docs/rules/max-statements.md
  lib/rules/max-statements.js
  tests/lib/rules/max-statements.js
Labels: rule, accepted, new syntax

#15323 feat: update lines-around-comment for class static blocks
  docs/rules/lines-around-comment.md
  lib/rules/lines-around-comment.js
  tests/lib/rules/lines-around-comment.js
Labels: rule, accepted, new syntax

#15324 feat: update the indent rule for class static blocks
  docs/rules/indent.md
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: rule, accepted, new syntax

#15328 feat: update the complexity rule for class static blocks
  docs/rules/complexity.md
  lib/rules/complexity.js
  tests/lib/rules/complexity.js
Labels: rule, accepted, new syntax

#15333 feat: update padded-blocks for class static blocks
  docs/rules/padded-blocks.md
  lib/rules/padded-blocks.js
  tests/lib/rules/padded-blocks.js
Labels: rule, accepted, new syntax

#15316 feat: update max-depth for class static blocks
  docs/rules/max-depth.md
  lib/rules/max-depth.js
  tests/lib/rules/max-depth.js
Labels: rule, accepted, new syntax

#15338 feat: Update espree and eslint-scope
  package.json
Labels: accepted, upgrade

#15060 feat: support for private-in syntax (fixes #14811)
  lib/rules/utils/ast-utils.js
  tests/lib/rules/space-unary-ops.js
  tests/lib/rules/utils/ast-utils.js
Labels: rule, accepted, blocked, upgrade, new syntax

#15290 feat: update no-inner-declarations for class static blocks
  docs/rules/no-inner-declarations.md
  lib/rules/no-inner-declarations.js
  tests/lib/rules/no-inner-declarations.js
Labels: rule, accepted, new syntax

#15313 feat: update no-redeclare for class static blocks
  docs/rules/no-redeclare.md
  lib/rules/no-redeclare.js
  tests/lib/rules/no-redeclare.js
Labels: rule, accepted, new syntax

#15309 fix: update semi-style for class static blocks
  docs/rules/semi-style.md
  lib/rules/semi-style.js
  tests/lib/rules/semi-style.js
Labels: rule, accepted, new syntax

#15306 fix: update vars-on-top for class static blocks
  docs/rules/vars-on-top.md
  lib/rules/vars-on-top.js
  tests/lib/rules/vars-on-top.js
Labels: rule, accepted, new syntax

#15312 feat: update no-use-before-define for class static blocks
  docs/rules/no-use-before-define.md
  lib/rules/no-use-before-define.js
  tests/lib/rules/no-use-before-define.js
Labels: rule, accepted, new syntax

#15238 feat: add `allowProperties` option to require-atomic-updates
  docs/rules/require-atomic-updates.md
  lib/rules/require-atomic-updates.js
  tests/lib/rules/require-atomic-updates.js
Labels: enhancement, rule, accepted

#15243 feat: support async formatter
  docs/developer-guide/nodejs-api.md
  docs/developer-guide/working-with-custom-formatters.md
  lib/cli.js
  lib/eslint/eslint.js
  tests/fixtures/formatters/async.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli.js
  tests/lib/eslint/eslint.js
Labels: enhancement, cli, core, accepted

#15285 docs: Update release notes blog post template
  templates/blogpost.md.ejs
Labels: documentation

#15363 docs: Dedent needlessly indented example in getter-return docs
  docs/rules/getter-return.md
Labels: rule, documentation, accepted

#15364 ci: use node `v16` for Verify Files
  .github/workflows/ci.yml
Labels: accepted, chore

#15310 fix: mark --rulesdir option as deprecated in CLI docs
  docs/user-guide/command-line-interface.md
  lib/options.js
Labels: triage

#15371 chore: Use default Chromium binary in M1 Mac tests
  karma.conf.js
Labels: accepted, chore

#13392 feat: pass cwd to formatters (refs eslint/rfcs#57)
  docs/developer-guide/working-with-custom-formatters.md
  lib/eslint/eslint.js
  tests/fixtures/formatters/cwd.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli.js
  tests/lib/eslint/eslint.js
Labels: enhancement, core, accepted

#15375 chore: fix update-readme to avoid multiple consecutive blank lines
  README.md
  tools/update-readme.js
Labels: accepted, chore
