Repository eslint/eslint, pull requests merged in 2021-05, with the labels that each got.

#14562 Docs: fix example for require-atomic-updates
  docs/rules/require-atomic-updates.md
Labels: accepted, documentation, rule

#14304 Fix: create `.eslintrc.cjs` for `module` type
  lib/init/config-file.js
  lib/init/config-initializer.js
  lib/init/npm-utils.js
  tests/lib/init/config-initializer.js
Labels: accepted, bug, cli

#14569 Chore: remove loose-parser tests (fixes #14315)
  package.json
  tests/lib/rules/no-redeclare.js
  tests/tools/loose-parser.js
Labels: accepted, chore

#14282 Fix: track variables, not names in require-atomic-updates (fixes #14208)
  lib/rules/require-atomic-updates.js
  tests/lib/rules/require-atomic-updates.js
Labels: accepted, bug, rule

#14577 Upgrade: eslintrc for ModuleResolver fix
  lib/cli-engine/cli-engine.js
  package.json
Labels: accepted, upgrade

#14579 Chore: add more test cases for `no-sequences`
  tests/lib/rules/no-sequences.js
Labels: accepted, chore, rule

#14589 Chore: Fix typo in large.js
  tests/bench/large.js
Labels: accepted, chore

#14580 Update: no-restricted-imports custom message for patterns (fixes #11843)
  docs/rules/no-restricted-imports.md
  lib/rules/no-restricted-imports.js
  tests/lib/rules/no-restricted-imports.js
Labels: accepted, enhancement, rule

#14287 Chore: Remove lodash
  bin/eslint.js
  docs/developer-guide/code-path-analysis.md
  docs/developer-guide/code-path-analysis/README.md
  lib/cli-engine/file-enumerator.js
  lib/cli-engine/formatters/html-template-message.html
  lib/cli-engine/formatters/html-template-message.js
  lib/cli-engine/formatters/html-template-page.js
  lib/cli-engine/formatters/html-template-result.html
  lib/cli-engine/formatters/html-template-result.js
  lib/cli-engine/formatters/html.js
  lib/init/autoconfig.js
  lib/linter/apply-disable-directives.js
  lib/linter/linter.js
  lib/linter/node-event-generator.js
  lib/rule-tester/rule-tester.js
  lib/rules/comma-dangle.js
  lib/rules/complexity.js
  lib/rules/consistent-return.js
  lib/rules/eol-last.js
  lib/rules/indent.js
  lib/rules/max-lines-per-function.js
  lib/rules/max-lines.js
  lib/rules/max-params.js
  lib/rules/max-statements.js
  lib/rules/no-fallthrough.js
  lib/rules/no-useless-backreference.js
  lib/rules/no-useless-computed-key.js
  lib/rules/no-warning-comments.js
  lib/rules/object-curly-newline.js
  lib/rules/spaced-comment.js
  lib/rules/utils/ast-utils.js
  lib/shared/deprecation-warnings.js
  lib/shared/string-utils.js
  lib/source-code/source-code.js
  lib/source-code/token-store/utils.js
  messages/all-files-ignored.js
  messages/extend-config-missing.js
  messages/extend-config-missing.txt
  messages/failed-to-read-json.js
  messages/failed-to-read-json.txt
  messages/file-not-found.js
  messages/file-not-found.txt
  messages/no-config-found.js
  messages/plugin-conflict.js
  messages/plugin-conflict.txt
  messages/plugin-invalid.js
  messages/plugin-invalid.txt
  messages/plugin-missing.js
  messages/plugin-missing.txt
  messages/print-config-with-directory-path.js
  messages/whitespace-found.js
  messages/whitespace-found.txt
  package.json
  tests/lib/rule-tester/rule-tester.js
  tests/lib/rules/no-invalid-this.js
  tests/lib/shared/string-utils.js
  tools/eslint-fuzzer.js
  webpack.config.js
Labels: accepted, chore

#14607 Chore: use includes instead of indexOf
  lib/rules/comma-spacing.js
Labels: chore

#14354 Update: no-unused-vars false negative with comma operator (fixes #14325)
  lib/rules/no-unused-vars.js
  tests/lib/rules/no-unused-vars.js
Labels: accepted, bug, rule

#14612 Chore: merge all html formatter files into `html.js`
  lib/cli-engine/formatters/html-template-message.js
  lib/cli-engine/formatters/html-template-page.js
  lib/cli-engine/formatters/html-template-result.js
  lib/cli-engine/formatters/html.js
Labels: chore

#14590 Chore: upgrade eslint-plugin-eslint-plugin
  .eslintrc.js
  package.json
Labels: accepted, chore

#14635 Fix: arrow-body-style crash with object pattern (fixes #14633)
  lib/rules/arrow-body-style.js
  tests/lib/rules/arrow-body-style.js
Labels: accepted, bug, rule

#14578 Docs: add more examples for `no-sequences` rule
  docs/rules/no-sequences.md
Labels: accepted, documentation, enhancement, rule

#14643 Docs: fix `no-sequences` example
  docs/rules/no-sequences.md
Labels: triage
