Repository eslint/eslint, pull requests merged in 2021-01, with the labels that each got.

#13966 Docs: fix examples for no-multi-str
  docs/rules/no-multi-str.md
Labels: accepted, documentation, rule

#13968 Fix: use regexpp's default ecmaVersion in no-invalid-regexp
  lib/rules/no-invalid-regexp.js
  tests/lib/rules/no-invalid-regexp.js
Labels: accepted, bug, rule

#13969 Update: use regexpp's default ecmaVersion in no-control-regex
  lib/rules/no-control-regex.js
  tests/lib/rules/no-control-regex.js
Labels: accepted, bug, rule

#13964 Chore: refactor calculating range and loc in no-useless-escape
  lib/rules/no-useless-escape.js
Labels: accepted, chore

#13946 Update: check logical assignment in no-constant-condition
  docs/rules/no-constant-condition.md
  lib/rules/no-constant-condition.js
  tests/lib/rules/no-constant-condition.js
Labels: accepted, enhancement, rule

#13975 Chore: fix typo
  tests/lib/linter/report-translator.js
Labels: accepted, chore

#13970 Docs: Update semantic versioning policy
  README.md
Labels: accepted, documentation

#13986 Chore: test `foo( )` with space-in-parens: ["error", "always"]
  tests/lib/rules/space-in-parens.js
Labels: accepted, chore

#13987 Docs: space-in-parens examples with no arguments etc.
  docs/rules/space-in-parens.md
Labels: accepted, documentation, rule

#13985 Docs: update space-in-parens related rules
  docs/rules/space-in-parens.md
Labels: accepted, documentation, rule

#13993 Upgrade: Bump lodash to fix security issue
  package.json
Labels: accepted, upgrade

#13981 Fix: no-extra-parens false positive with `let` identifier in for-loop
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#13995 Fix: --init crash on question to upgrade/downgrade ESLint (fixes #13978)
  lib/init/config-initializer.js
Labels: accepted, bug, cli

#13991 Docs: fix no-invalid-regexp docs regarding ecmaVersion
  docs/rules/no-invalid-regexp.md
  tests/lib/rules/no-invalid-regexp.js
Labels: accepted, chore, documentation, rule

#13979 Update: check logical assignment operators in the complexity rule
  docs/rules/complexity.md
  lib/rules/complexity.js
  tests/lib/rules/complexity.js
Labels: accepted, enhancement, new syntax, rule

#14009 Upgrade: @eslint/eslintrc to improve error message for invalid extends
  package.json
Labels: accepted, upgrade

#14006 Docs: Explain why we disable lock files (refs eslint/tsc-meetings#234)
  README.md
Labels: accepted, documentation

#14007 Docs: Fixed Typo
  docs/rules/prefer-arrow-callback.md
Labels: accepted, documentation, rule

#13837 Docs: Reorganize Configuration Documentation
  docs/user-guide/configuring/README.md
  docs/user-guide/configuring/configuration-files.md
  docs/user-guide/configuring/ignoring-code.md
  docs/user-guide/configuring/language-options.md
  docs/user-guide/configuring/plugins.md
  docs/user-guide/configuring/rules.md
Labels: accepted, documentation

#14018 Update: fix no-invalid-regexp false negatives with no flags specified
  lib/rules/no-invalid-regexp.js
  tests/lib/rules/no-invalid-regexp.js
Labels: accepted, bug, rule

#14046 Docs: fix broken links in configuring/README.md
  docs/user-guide/configuring/README.md
Labels: accepted, documentation

#14038 Docs: update configuring links
  docs/developer-guide/working-with-plugins.md
  docs/developer-guide/working-with-rules-deprecated.md
  docs/developer-guide/working-with-rules.md
  docs/rules/no-undef.md
  docs/rules/strict.md
  docs/rules/yield-star-spacing.md
  docs/user-guide/README.md
  docs/user-guide/command-line-interface.md
  docs/user-guide/getting-started.md
Labels: accepted, documentation

#14050 Docs: add a correct example to no-unsafe-optional-chaining (refs #14029)
  docs/rules/no-unsafe-optional-chaining.md
Labels: accepted, documentation, rule

#14033 Fix: extend prefer-const fixer range to whole declaration (fixes #13899)
  lib/rules/prefer-const.js
  tests/lib/rules/prefer-const.js
Labels: accepted, autofix, bug, rule

#13963 Update: check ternary `:` even if `?` was reported in space-infix-ops
  lib/rules/space-infix-ops.js
  tests/lib/rules/space-infix-ops.js
Labels: accepted, bug, rule

#13972 Fix: nested indenting for offsetTernaryExpressions: true (fixes #13971)
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: triage

#14040 Chore: Clean up new issue workflow
  .github/ISSUE_TEMPLATE/QUESTION.md
  .github/ISSUE_TEMPLATE/SECURITY.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: accepted, chore

#14036 Docs: remove configuring.md
  docs/user-guide/configuring.md
Labels: documentation

#14052 Docs: Clarify stylistic rule update policy
  README.md
Labels: accepted, documentation

#14032 Fix: no-useless-rename invalid autofix with parenthesized identifiers
  lib/rules/no-useless-rename.js
  tests/lib/rules/no-useless-rename.js
Labels: accepted, autofix, bug, rule

#14011 Update: fix `let` logic in for-in and for-of loops in no-extra-parens
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: accepted, bug, rule

#13841 Update: add shadowed variable loc to message in no-shadow (fixes #13646)
  lib/rules/no-shadow.js
  tests/lib/rules/no-shadow.js
Labels: accepted, enhancement, rule
