Repository eslint/eslint, pull requests merged in 2021-06, with the labels that each got.

#14616 New: add `getPhysicalFilename()` method to rule context (fixes #11989)
  docs/developer-guide/working-with-rules.md
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: accepted, core, enhancement

#14238 Fix: no-duplicate-imports allow unmergeable (fixes #12758, fixes #12760)
  docs/rules/no-duplicate-imports.md
  lib/rules/no-duplicate-imports.js
  tests/lib/rules/no-duplicate-imports.js
Labels: accepted, bug, rule

#14648 Chore: fix comment location in no-unused-vars
  lib/rules/no-unused-vars.js
Labels: accepted, chore

#14641 Fix: no-implicit-coercion false positive with `String()` (fixes #14623)
  lib/rules/no-implicit-coercion.js
  tests/lib/rules/no-implicit-coercion.js
Labels: accepted, bug, rule

#14658 Upgrade: glob-parent version in package.json
  package.json
Labels: accepted, upgrade

#14660 Update: support multiline /*eslint-env*/ directives (fixes #14652)
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: accepted, bug, core

#14670 Docs: Add Feedback Needed triage description
  docs/maintainer-guide/issues.md
Labels: accepted, documentation

#14672 Upgrade: @eslint/eslintrc to 0.4.2
  package.json
Labels: accepted, upgrade

#14697 Docs: fix a broken link
  docs/developer-guide/working-with-rules.md
Labels: accepted, documentation

#14622 Update: ecmaVersion defaults to 5, and allows "latest"
  docs/user-guide/configuring/language-options.md
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: core, enhancement, evaluating

#14692 Chore: add some rules to eslint-config-eslint
  lib/eslint/eslint.js
  lib/init/npm-utils.js
  lib/rule-tester/rule-tester.js
  lib/rules/comma-style.js
  lib/rules/indent.js
  packages/eslint-config-eslint/default.yml
  tests/lib/eslint/eslint.js
Labels: accepted, chore

#14699 Chore: enable reportUnusedDisableDirectives in eslint-config-eslint
  packages/eslint-config-eslint/default.yml
Labels: chore

#14707 Docs: Add Mega-Linter to the list of integrations
  docs/user-guide/integrations.md
Labels: 3rd party integration, accepted, documentation

#14711 Revert "Update: ecmaVersion defaults to 5, and allows "latest" (#14622)"
  docs/user-guide/configuring/language-options.md
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: accepted, bug, core

#14702 Fix: allow fallthrough comment inside block (fixes #14701)
  docs/rules/no-fallthrough.md
  lib/rules/no-fallthrough.js
  tests/lib/rules/no-fallthrough.js
Labels: accepted, bug, rule

#14719 Chore: remove duplicate code
  tests/lib/linter/linter.js
Labels: triage

#14716 New: Add ESLint#getRulesMetaForResults() (refs #13654)
  docs/developer-guide/nodejs-api.md
  lib/eslint/eslint.js
  tests/lib/eslint/eslint.js
Labels: accepted, core, enhancement

#14677 New: Add only to RuleTester (refs eslint/rfcs#73)
  Makefile.js
  docs/developer-guide/nodejs-api.md
  docs/developer-guide/unit-tests.md
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, core, feature

#14726 Docs: fix two broken links
  docs/developer-guide/working-with-rules.md
Labels: accepted, documentation

#14723 Docs: Fix getRulesMetaForResults link syntax
  docs/developer-guide/nodejs-api.md
Labels: accepted, documentation

#14738 Chore: upgrade eslint-plugin-eslint-plugin
  lib/rules/dot-notation.js
  lib/rules/prefer-arrow-callback.js
  package.json
Labels: accepted, chore

#14321 Update: Implement FlatConfigArray (refs #13481)
  lib/config/default-config.js
  lib/config/flat-config-array.js
  lib/config/flat-config-schema.js
  lib/config/rule-validator.js
  package.json
  tests/lib/config/flat-config-array.js
Labels: accepted, core, feature

#14718 Update: improve use-isnan rule to detect `Number.NaN` (fixes #14715)
  docs/rules/use-isnan.md
  lib/rules/use-isnan.js
  tests/lib/rules/use-isnan.js
Labels: accepted, bug, rule

#14720 Update: ecmaVersion allows "latest"
  docs/user-guide/configuring/language-options.md
  lib/linter/linter.js
  lib/rule-tester/rule-tester.js
  tests/fixtures/parsers/empty-program-parser.js
  tests/lib/linter/linter.js
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, core, enhancement

#14725 Docs: fix and add more examples for new-cap rule (fixes #12874)
  docs/rules/new-cap.md
Labels: accepted, documentation

#14756 Docs: fix broken links
  docs/developer-guide/working-with-rules.md
  docs/rules/no-inner-declarations.md
  docs/user-guide/configuring/configuration-files.md
Labels: accepted, documentation
