Repository eslint/eslint, pull requests merged in 2021-12, with the labels that each got.

#15365 docs: fix typo in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: triage, documentation

#15140 feat: report only lines that exceed the limit in max-lines-per-function
  lib/rules/max-lines-per-function.js
  tests/lib/rules/max-lines-per-function.js
Labels: enhancement, rule, accepted

#15326 feat: Treat Class/New Expressions as truthy in no-constant-condition
  docs/rules/no-constant-condition.md
  lib/rules/no-constant-condition.js
  tests/lib/rules/no-constant-condition.js
Labels: enhancement, rule, accepted

#15380 docs: update integrations.md
  docs/user-guide/integrations.md
Labels: triage, documentation

#15185 feat: Flat config support in Linter (refs #13481)
  conf/globals.js
  karma.conf.js
  lib/config/default-config.js
  lib/config/flat-config-array.js
  lib/config/flat-config-helpers.js
  lib/config/flat-config-schema.js
  lib/config/rule-validator.js
  lib/linter/linter.js
  lib/shared/types.js
  package.json
  tests/fixtures/parsers/throws-with-options.js
  tests/lib/config/flat-config-array.js
  tests/lib/linter/linter.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, feature

#15387 feat: add `allowReserved` parser option
  docs/user-guide/configuring/language-options.md
  lib/shared/types.js
  package.json
  tests/lib/linter/linter.js
Labels: accepted, feature, upgrade

#15389 chore: upgrade @eslint/eslintrc@1.0.5
  package.json
Labels: accepted, chore, upgrade

#15393 docs: fix typo in example for `sort-keys` rule
  docs/rules/sort-keys.md
Labels: documentation, accepted

#15397 fix: revert changes to reported locations in max-lines-per-function
  lib/rules/max-lines-per-function.js
  tests/lib/rules/max-lines-per-function.js
Labels: bug, accepted, patch candidate

#15399 docs: fix heading level for an option in `class-methods-use-this` rule
  docs/rules/class-methods-use-this.md
Labels: documentation, accepted

#15370 docs: update CLA info
  CONTRIBUTING.md
Labels: documentation, accepted

#15346 feat: add `prefer-object-has-own` rule
  docs/rules/prefer-object-has-own.md
  lib/rules/index.js
  lib/rules/prefer-object-has-own.js
  tests/lib/rules/prefer-object-has-own.js
  tools/rule-types.json
Labels: rule, accepted, feature

#15418 ci: use node v16 for `macOS` and `windows` jobs
  .github/workflows/ci.yml
Labels: build, accepted

#15427 docs: add more examples for `array-element-newline` rule
  docs/rules/array-element-newline.md
Labels: rule, documentation, accepted

#15425 fix: add helpful message when test case has non-string `code`/`name`
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: bug, core, accepted

#15419 fix: improve autofix of `prefer-object-has-own`
  lib/rules/prefer-object-has-own.js
  tests/lib/rules/prefer-object-has-own.js
Labels: bug, rule, accepted, autofix

#15424 test: add destructuring test cases for `computed-property-spacing`
  tests/lib/rules/computed-property-spacing.js
Labels: accepted, chore

#15434 docs: Adding an incorrect code in for-direction.md
  docs/rules/for-direction.md
Labels: rule, documentation, accepted

#15077 feat: Suggestions support for `prefer-regex-literals`
  lib/rules/prefer-regex-literals.js
  tests/lib/rules/prefer-regex-literals.js
Labels: enhancement, rule, accepted, feature

#15230 fix: improve fixer of `prefer-template` rule
  lib/rules/prefer-template.js
  tests/lib/rules/prefer-template.js
Labels: bug, rule, accepted, autofix

#15421 docs: Mention character classes in no-useless-escape
  docs/rules/no-useless-escape.md
Labels: rule, documentation, accepted

#15431 feat: false negative with `onlyDeclarations` + `properties` in id-match
  lib/rules/id-match.js
  tests/lib/rules/id-match.js
Labels: bug, rule, accepted, feature

#15450 test: add tests for `allowReserved` parser option with flat config
  tests/lib/linter/linter.js
Labels: accepted, chore

#15451 refactor: remove unused parameter in `linter.js`
  lib/linter/linter.js
Labels: accepted, chore

#15436 feat: allow to define `eslint-disable-next-line` in multiple lines
  docs/user-guide/configuring/rules.md
  lib/linter/apply-disable-directives.js
  lib/linter/linter.js
  tests/lib/linter/apply-disable-directives.js
  tests/lib/linter/linter.js
Labels: enhancement, core, accepted, feature

#14152 feat: handle logical assignment in no-self-assign
  docs/rules/no-self-assign.md
  lib/rules/no-self-assign.js
  tests/lib/rules/no-self-assign.js
Labels: rule, accepted, feature, new syntax

#15469 docs: Document homedir is a configuration root
  docs/user-guide/configuring/configuration-files.md
Labels: triage, documentation

#15468 chore: Update blogpost.md.ejs
  templates/blogpost.md.ejs
Labels: chore

#15473 chore: Upgrade espree to 9.3.0
  package.json
Labels: chore, upgrade
