Repository eslint/eslint, pull requests merged in 2022-05, with the labels that each got.

#15831 docs: add more examples for prefer-object-spread
  docs/src/rules/prefer-object-spread.md
Labels: rule, documentation, accepted

#15830 docs: update docs directory in working-with-rules
  docs/src/developer-guide/working-with-rules.md
Labels: documentation, accepted

#15829 docs: mark `SourceCode#getJSDocComment` deprecated in working-with-rules
  docs/src/developer-guide/working-with-rules.md
Labels: documentation

#15818 feat: add `enforceInClassFields` option to no-underscore-dangle
  docs/src/rules/no-underscore-dangle.md
  lib/rules/no-underscore-dangle.js
  tests/lib/rules/no-underscore-dangle.js
Labels: enhancement, rule, accepted, feature

#15833 docs: update example for running individual rule tests
  docs/src/developer-guide/unit-tests.md
Labels: documentation, accepted

#15834 docs: fix h1 heading on formatters page
  templates/formatter-examples.md.ejs
Labels: documentation, accepted

#15843 docs: update AST node names link in no-restricted-syntax
  docs/src/rules/no-restricted-syntax.md
Labels: rule, documentation, accepted

#15846 fix: "use strict" should not trigger strict mode in ES3
  package.json
Labels: bug, core, accepted

#15847 chore: upgrade @eslint/eslintrc@1.2.3
  package.json
Labels: accepted, chore

#15850 fix: function-paren-newline crash on "new new Foo();"
  lib/rules/function-paren-newline.js
  tests/lib/rules/function-paren-newline.js
Labels: bug, rule, accepted

#15837 docs: Fix some grammar issues
  docs/src/user-guide/configuring/configuration-files.md
  docs/src/user-guide/configuring/index.md
Labels: triage, documentation

#15875 docs: remove confusing examples for no-mixed-operators
  docs/src/rules/no-mixed-operators.md
Labels: rule, documentation

#15871 feat: Update global variables
  package.json
Labels: accepted, feature

#15869 chore: Refactor rule docs format
  docs/.eleventy.js
  docs/src/_includes/components/docs-toc.html
  docs/src/_includes/layouts/doc.html
  docs/src/rules/block-scoped-var.md
  docs/src/rules/no-ternary.md
Labels: triage, chore

#15880 Upgrade official GitHub actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/stale.yml
Labels: triage, chore

#15882 chore: upgrade eslint-plugin-eslint-plugin@^4.2.0
  package.json
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, chore

#15878 chore: enable some rules from eslint-plugin-unicorn internally
  Makefile.js
  lib/cli-engine/cli-engine.js
  lib/cli-engine/lint-result-cache.js
  lib/linter/code-path-analysis/code-path-segment.js
  lib/linter/code-path-analysis/code-path-state.js
  lib/linter/code-path-analysis/code-path.js
  lib/rules/accessor-pairs.js
  lib/rules/callback-return.js
  lib/rules/capitalized-comments.js
  lib/rules/consistent-this.js
  lib/rules/dot-notation.js
  lib/rules/global-require.js
  lib/rules/indent-legacy.js
  lib/rules/indent.js
  lib/rules/jsx-quotes.js
  lib/rules/lines-around-comment.js
  lib/rules/max-lines.js
  lib/rules/newline-before-return.js
  lib/rules/no-bitwise.js
  lib/rules/no-console.js
  lib/rules/no-empty-function.js
  lib/rules/no-extra-boolean-cast.js
  lib/rules/no-extra-semi.js
  lib/rules/no-global-assign.js
  lib/rules/no-implicit-coercion.js
  lib/rules/no-magic-numbers.js
  lib/rules/no-mixed-operators.js
  lib/rules/no-mixed-requires.js
  lib/rules/no-multi-spaces.js
  lib/rules/no-native-reassign.js
  lib/rules/no-new-wrappers.js
  lib/rules/no-prototype-builtins.js
  lib/rules/no-shadow.js
  lib/rules/no-sparse-arrays.js
  lib/rules/no-underscore-dangle.js
  lib/rules/no-unused-expressions.js
  lib/rules/no-unused-vars.js
  lib/rules/operator-assignment.js
  lib/rules/prefer-const.js
  lib/rules/prefer-reflect.js
  lib/rules/prefer-regex-literals.js
  lib/rules/quote-props.js
  lib/rules/quotes.js
  lib/rules/spaced-comment.js
  lib/rules/valid-jsdoc.js
  lib/rules/valid-typeof.js
  lib/rules/yoda.js
  package.json
  packages/eslint-config-eslint/default.yml
  packages/eslint-config-eslint/package.json
  tests/lib/cli.js
  tests/lib/linter/node-event-generator.js
  tests/lib/rules/no-invalid-this.js
  tools/code-sample-minimizer.js
Labels: triage, chore

#15889 docs: Adjust docs site path prefix
  docs/.eleventy.js
Labels: documentation, accepted

#15892 docs: fix absolute paths in related rules shortcode to work from /docs
  docs/.eleventy.js
Labels: documentation

#15862 feat: check Unicode code point escapes in no-control-regex
  docs/src/rules/no-control-regex.md
  lib/rules/no-control-regex.js
  tests/lib/rules/no-control-regex.js
Labels: bug, rule, accepted, feature

#15894 chore: Add deploy workflow for docs site
  .github/workflows/docs-deploy.yml
  docs/package.json
Labels: accepted, chore

#15867 feat: add Unicode flag suggestion in no-misleading-character-class
  docs/src/rules/no-misleading-character-class.md
  lib/rules/no-misleading-character-class.js
  tests/lib/rules/no-misleading-character-class.js
Labels: enhancement, rule, accepted, feature

#15890 docs: Static further reading links
  .eslintrc.js
  docs/.eleventy.js
  docs/README.md
  docs/package.json
  docs/src/_data/further_reading_links.json
  docs/src/_includes/layouts/doc.html
  docs/src/library/link-card.md
  package.json
  tools/fetch-docs-links.js
Labels: documentation, accepted

#15903 chore: upgrade @eslint/eslintrc@1.3.0
  package.json
Labels: accepted, chore, upgrade

#15907 test: ensure no-restricted-imports works with NodeJS subpath imports
  tests/lib/rules/no-restricted-imports.js
Labels: accepted, chore

#15909 docs: display eslint version in mobile view
  docs/src/_includes/components/nav-version-switcher.html
Labels: bug, triage, documentation

#15917 docs: fix openjs link
  docs/src/_includes/partials/docs-footer.html
Labels: documentation, accepted

#15920 Docs: add social media links
  docs/src/_data/links.json
  docs/src/_includes/components/social-icons.html
Labels: documentation, accepted

#15912 docs: use-dart-sass instead of node-sass
  docs/package.json
  docs/src/assets/scss/tokens/themes.scss
Labels: triage, documentation

#15915 chore: update Rule typedefs
  lib/shared/types.js
Labels: accepted, chore

#15904 chore: lint eleventy config file
  .eslintignore
  .eslintrc.js
  .github/workflows/ci.yml
  Makefile.js
  docs/.eleventy.js
  docs/README.md
  docs/package.json
  package.json
Labels: accepted, chore

#15923 chore: use addEventListener instead of addListener
  docs/src/assets/js/components-index.js
  docs/src/assets/js/main.js
Labels: triage, chore

#15940 fix: typo ocatal -> octal
  lib/rules/no-octal.js
  tests/lib/rules/no-octal.js
Labels: bug, rule, accepted

#15939 fix: cleanup typos
  bin/eslint.js
  lib/eslint/eslint.js
  lib/rules/function-paren-newline.js
  lib/rules/max-statements.js
  lib/rules/no-constant-binary-expression.js
  lib/rules/no-implicit-coercion.js
  lib/rules/no-loop-func.js
  lib/rules/no-new-object.js
Labels: bug, rule, accepted

#15936 docs: cleanup typos
  docs/src/_data/languages.json
  docs/src/assets/js/focus-visible.js
  docs/src/developer-guide/nodejs-api.md
  docs/src/rules/eol-last.md
  docs/src/rules/key-spacing.md
Labels: documentation, accepted

#15901 docs: Add Resources section to rule pages
  docs/src/_includes/layouts/doc.html
Labels: documentation, accepted

#15937 test: cleanup typos
  tests/fixtures/parsers/arrow-parens/identifier-type.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/eslint/eslint.js
  tests/lib/linter/apply-disable-directives.js
  tests/lib/linter/code-path-analysis/code-path.js
  tests/lib/linter/config-comment-parser.js
  tests/lib/linter/linter.js
  tests/lib/linter/node-event-generator.js
  tests/lib/rules/array-bracket-newline.js
  tests/lib/rules/arrow-parens.js
  tests/lib/rules/camelcase.js
  tests/lib/rules/max-lines-per-function.js
  tests/lib/rules/no-constant-binary-expression.js
  tests/lib/rules/no-constant-condition.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-multi-assign.js
  tests/lib/rules/no-redeclare.js
  tests/lib/rules/no-restricted-exports.js
  tests/lib/rules/padding-line-between-statements.js
  tests/lib/rules/space-unary-ops.js
  tests/lib/rules/utils/fix-tracker.js
  tests/lib/rules/wrap-iife.js
Labels: accepted, chore
