Repository eslint/eslint, pull requests merged in 2022-04, with the labels that each got.

#15750 chore: replace `trimLeft`/`trimRight` with `trimStart`/`trimEnd`
  lib/cli-engine/formatters/html.js
  lib/linter/apply-disable-directives.js
  messages/all-files-ignored.js
  messages/extend-config-missing.js
  messages/failed-to-read-json.js
  messages/file-not-found.js
  messages/no-config-found.js
  messages/plugin-invalid.js
  messages/plugin-missing.js
  messages/print-config-with-directory-path.js
  messages/whitespace-found.js
Labels: accepted, chore

#15748 chore: remove `lib/init` from eslint config
  .eslintrc.js
Labels: accepted, chore

#15727 docs: disambiguate types `FormatterFunction` and `LoadedFormatter`
  docs/developer-guide/nodejs-api.md
  docs/developer-guide/working-with-custom-formatters.md
  lib/cli-engine/cli-engine.js
  lib/eslint/eslint.js
  lib/shared/types.js
Labels: documentation, accepted, chore

#15754 docs: Typo in space-infix-ops docs
  docs/rules/space-infix-ops.md
Labels: rule, documentation, accepted

#15759 fix: invalid operator in operator-assignment messages
  lib/rules/operator-assignment.js
  tests/lib/rules/operator-assignment.js
Labels: bug, rule, accepted

#15755 feat: fix no-eval logic for `this` in arrow functions
  lib/rules/no-eval.js
  tests/lib/rules/no-eval.js
Labels: bug, rule, accepted, feature

#15783 chore: markdownlint autofix on commit
  package.json
Labels: accepted, chore

#15775 fix: update `astUtils.isDirectiveComment` with `globals` and `exported`
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-inline-comments.js
  tests/lib/rules/utils/ast-utils.js
Labels: bug, rule, accepted

#15791 build: add node v18
  .github/workflows/ci.yml
Labels: build, accepted

#15296 feat: Add rule no-constant-binary-expression
  docs/src/rules/no-constant-binary-expression.md
  docs/src/rules/no-constant-condition.md
  lib/rules/index.js
  lib/rules/no-constant-binary-expression.js
  lib/rules/no-constant-condition.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-constant-binary-expression.js
  tools/rule-types.json
Labels: rule, accepted, feature

#15798 chore: add static frontmatter to no-constant-binary-expression docs
  docs/src/rules/no-constant-binary-expression.md
  docs/src/rules/no-constant-condition.md
Labels: accepted, chore

#15795 fix: allow project paths to have URL-encoded characters
  package.json
Labels: bug, core, accepted

#15799 docs: fix 'Related Rules' heading in no-constant-binary-expression
  docs/src/rules/no-constant-binary-expression.md
Labels: rule, documentation, accepted

#15804 docs: remove links to 2fa document
  docs/src/maintainer-guide/governance.md
  docs/src/maintainer-guide/releases.md
Labels: documentation, accepted

#15807 chore: enable no-constant-binary-expression in eslint-config-eslint
  packages/eslint-config-eslint/default.yml
Labels: accepted, chore

#15812 Fixed typo in code comment
  docs/src/rules/no-constant-binary-expression.md
Labels: documentation, accepted

#15817 chore: update link in `codeql-analysis.yml`
  .github/workflows/codeql-analysis.yml
Labels: accepted, chore

#15808 docs: clarify no-control-regex rule
  docs/src/rules/no-control-regex.md
Labels: rule, documentation, accepted
