Repository eslint/eslint, pull requests merged in 2022-03, with the labels that each got.

#15669 fix: extend the autofix range in comma-dangle to ensure the last element
  lib/rules/comma-dangle.js
  tests/lib/rules/comma-dangle.js
Labels: bug, rule, accepted, autofix

#15675 docs: sort-imports add single named import example
  docs/rules/sort-imports.md
Labels: rule, documentation, accepted

#15635 feat: `valid-typeof`: always ban `undefined`
  lib/rules/valid-typeof.js
  tests/lib/rules/valid-typeof.js
Labels: rule, accepted, feature

#15688 docs: link to minimatch docs added.
  docs/user-guide/configuring/configuration-files.md
Labels: triage, documentation

#15679 docs: add object pattern to first section of computed-property-spacing
  docs/rules/computed-property-spacing.md
Labels: rule, documentation, accepted

#15671 feat: Add favicon to the HTML document
  lib/cli-engine/formatters/html.js
Labels: bug, enhancement, accepted, feature

#15689 chore: rm trailing space in docs
  docs/user-guide/configuring/configuration-files.md
Labels: accepted, chore

#15680 docs: Add clarification about `eslint-enable`
  docs/user-guide/configuring/rules.md
Labels: enhancement, documentation, core, accepted

#15613 feat: Catch more cases in no-constant-condition
  docs/rules/no-constant-condition.md
  lib/rules/no-constant-condition.js
  tests/lib/rules/no-constant-condition.js
Labels: enhancement, rule, accepted, feature

#15649 feat: add `destructuredArrayIgnorePattern` option in `no-unused-vars`
  docs/rules/no-unused-vars.md
  lib/rules/no-unused-vars.js
  tests/lib/rules/no-unused-vars.js
Labels: enhancement, rule, accepted, feature

#15695 docs: add fast-eslint-8 to atom integrations (userguide)
  docs/user-guide/integrations.md
Labels: documentation, accepted, 3rd party integration

#15666 fix: escaping for square brackets in ignore patterns
  package.json
  tests/fixtures/ignored-paths/.eslintignoreWithEscapedBrackets
  tests/fixtures/ignored-paths/brackets/[index.js
  tests/fixtures/ignored-paths/brackets/[index].js
  tests/fixtures/ignored-paths/brackets/index.js
  tests/fixtures/ignored-paths/brackets/index].js
  tests/lib/eslint/eslint.js
Labels: bug, core, accepted, upgrade

#15706 chore: Error: strict mode: "additionalItems" is ignored when "items" is not an array of schemas
  lib/rules/padding-line-between-statements.js
Labels: bug, rule, accepted, chore

#15712 feat: fix logic for top-level `this` in no-invalid-this and no-eval
  docs/rules/no-invalid-this.md
  lib/rules/no-eval.js
  lib/rules/no-invalid-this.js
  tests/lib/rules/no-eval.js
  tests/lib/rules/no-invalid-this.js
Labels: bug, rule, accepted, feature
