Repository eslint/eslint, pull requests merged in 2022-09, with the labels that each got.

#16252 docs: copy & use main package version in docs on release
  Makefile.js
  docs/package.json
  docs/src/_data/eslintVersion.js
Labels: documentation, accepted

#16274 chore: enable linting `.eleventy.js` again
  Makefile.js
  eslint.config.js
Labels: triage, chore

#16263 chore: switch nyc to c8
  .c8rc
  Makefile.js
  lib/cli-engine/file-enumerator.js
  lib/linter/code-path-analysis/code-path-segment.js
  lib/linter/code-path-analysis/code-path-state.js
  lib/linter/code-path-analysis/debug-helpers.js
  lib/linter/code-path-analysis/id-generator.js
  lib/linter/timing.js
  lib/rules/array-callback-return.js
  lib/rules/global-require.js
  lib/rules/indent-legacy.js
  lib/rules/new-cap.js
  lib/rules/no-extra-boolean-cast.js
  lib/rules/no-extra-parens.js
  lib/rules/no-labels.js
  lib/rules/no-useless-computed-key.js
  lib/rules/no-var.js
  lib/rules/padded-blocks.js
  lib/rules/prefer-arrow-callback.js
  lib/rules/prefer-rest-params.js
  lib/rules/require-yield.js
  lib/rules/utils/ast-utils.js
  lib/shared/logging.js
  lib/source-code/token-store/cursor.js
  package.json
  tools/internal-testers/event-generator-tester.js
Labels: triage, chore

#16225 docs: add Consolas font and prioritize resource loading
  docs/src/_includes/layouts/base.html
  docs/src/assets/fonts/Consolas.woff
  docs/src/assets/scss/syntax-highlighter.scss
  docs/src/assets/scss/tokens/typography.scss
Labels: documentation, accepted

#16222 docs: add keyboard controls to docs search results
  docs/src/assets/js/search.js
  docs/src/assets/scss/components/search.scss
Labels: documentation, accepted

#16293 docs: fix mobile Safari double tap issue
  docs/src/assets/scss/docs.scss
Labels: triage, documentation

#16267 perf: migrate rbTree to js-sdsl
  lib/rules/indent.js
  package.json
Labels: triage, chore

#16287 fix: Ensure that glob patterns are normalized
  lib/eslint/eslint-helpers.js
  tests/lib/cli.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, triage

#16292 fix: improve autofix for the `prefer-const` rule
  lib/rules/prefer-const.js
  tests/lib/rules/prefer-const.js
Labels: bug, triage

#16297 fix: Upgrade eslintrc to stop redefining plugins
  package.json
Labels: bug, triage

#16288 docs: fix typo
  docs/src/user-guide/configuring/configuration-files-new.md
Labels: documentation, accepted

#16309 docs: use more clean link syntax
  docs/src/developer-guide/source-code.md
Labels: documentation, accepted

#16102 feat: add rule logical-assignment-operators
  docs/src/rules/logical-assignment-operators.md
  lib/rules/index.js
  lib/rules/logical-assignment-operators.js
  tests/lib/rules/logical-assignment-operators.js
  tools/rule-types.json
Labels: rule, accepted, feature

#16308 feat: account for `sourceType: "commonjs"` in the strict rule
  lib/rules/strict.js
  tests/lib/rules/strict.js
Labels: accepted, feature

#16311 perf: switch from object spread to `Object.assign` when merging globals
  lib/linter/linter.js
Labels: accepted, chore

#16324 docs: fix warn severity description for new config files
  docs/src/user-guide/configuring/configuration-files-new.md
Labels: documentation, accepted

#16317 docs: note false positive `Object.getOwnPropertyNames` in prefer-reflect
  docs/src/rules/prefer-reflect.md
Labels: rule, documentation, accepted

#16339 chore: Upgrade @humanwhocodes/config-array for perf
  package.json
Labels: core, accepted, chore

#16346 docs: fix logical-assignment-operators option typo
  docs/src/rules/logical-assignment-operators.md
Labels: rule, documentation, accepted

#16344 chore: remove `jsdoc` dev dependency
  package.json
Labels: accepted, chore

#16352 docs: update `docs` README with setup details
  docs/README.md
Labels: documentation, accepted

#16321 feat: `id-length` counts graphemes instead of code units
  docs/src/rules/id-length.md
  lib/rules/id-length.js
  tests/lib/rules/id-length.js
Labels: bug, rule, accepted, feature

#16362 docs: add `BigInt` to `new-cap` docs
  docs/src/rules/new-cap.md
Labels: rule, documentation, accepted
