Repository eslint/eslint, pull requests merged in 2022-12, with the labels that each got.

#16605 docs: add a property assignment example for camelcase rule
  docs/src/rules/camelcase.md
Labels: rule, documentation, accepted

#16534 docs: Configuring Plugins page intro, page tweaks, and rename
  docs/src/developer-guide/working-with-plugins.md
  docs/src/user-guide/configuring/configuration-files.md
  docs/src/user-guide/configuring/index.md
  docs/src/user-guide/configuring/plugins.md
Labels: documentation, accepted

#16603 docs: fix css leaking
  docs/src/assets/scss/components/rules.scss
Labels: documentation, accepted

#16607 docs: fix: typo prefer-const.md
  docs/src/rules/prefer-const.md
Labels: documentation, accepted

#16566 docs: Formatters page updates
  Makefile.js
  lib/cli-engine/formatters/formatters-meta.json
  templates/formatter-examples.md.ejs
Labels: documentation, accepted

#16591 docs: don't apply layouts to html formatter example
  docs/src/user-guide/formatters/html-formatter-example.html
  docs/src/user-guide/formatters/html-formatter-example.json
Labels: documentation, accepted

#16628 docs: Fix anchor in URL
  docs/src/user-guide/configuring/configuration-files.md
Labels: documentation, accepted

#16625 docs: reorder options in no-unused-vars
  docs/src/rules/no-unused-vars.md
Labels: rule, documentation, accepted

#16631 docs: use relative links for internal links
  docs/src/developer-guide/code-conventions.md
  docs/src/developer-guide/contributing/new-rules.md
  docs/src/developer-guide/contributing/reporting-bugs.md
  docs/src/developer-guide/contributing/rule-changes.md
  docs/src/developer-guide/contributing/working-on-issues.md
  docs/src/developer-guide/nodejs-api.md
  docs/src/developer-guide/selectors.md
  docs/src/developer-guide/working-with-custom-formatters.md
  docs/src/developer-guide/working-with-plugins.md
  docs/src/developer-guide/working-with-rules.md
  docs/src/library/rule-categories.md
  docs/src/maintainer-guide/governance.md
  docs/src/rules/id-denylist.md
  docs/src/rules/indent-legacy.md
  docs/src/rules/indent.md
  docs/src/rules/nonblock-statement-body-position.md
  docs/src/rules/rest-spread-spacing.md
  docs/src/rules/strict.md
  docs/src/user-guide/configuring/configuration-files-new.md
  docs/src/user-guide/configuring/configuration-files.md
  docs/src/user-guide/getting-started.md
  docs/src/user-guide/migrating-from-jscs.md
  docs/src/user-guide/migrating-to-1.0.0.md
  docs/src/user-guide/migrating-to-2.0.0.md
  docs/src/user-guide/migrating-to-3.0.0.md
  docs/src/user-guide/migrating-to-4.0.0.md
  docs/src/user-guide/migrating-to-5.0.0.md
  docs/src/user-guide/migrating-to-6.0.0.md
  docs/src/user-guide/migrating-to-7.0.0.md
  docs/src/user-guide/migrating-to-8.0.0.md
Labels: documentation, accepted

#16606 docs: fix broken line numbers
  docs/.eleventy.js
  docs/package.json
  docs/src/_plugins/md-syntax-highlighter.js
  docs/src/assets/scss/syntax-highlighter.scss
Labels: documentation, accepted, contributor pool

#16611 fix: autofix recursive functions in no-var
  lib/rules/no-var.js
  tests/lib/rules/no-var.js
Labels: bug, rule, accepted, autofix

#16618 refactor: migrate off deprecated function-style rules in all tests
  docs/.eleventy.js
  lib/rule-tester/flat-rule-tester.js
  lib/rule-tester/rule-tester.js
  lib/rules/comma-dangle.js
  lib/rules/multiline-ternary.js
  lib/rules/no-else-return.js
  lib/rules/no-unneeded-ternary.js
  packages/eslint-config-eslint/default.yml
  tests/fixtures/rules/custom-rule.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/config/flat-config-array.js
  tests/lib/linter/code-path-analysis/code-path-analyzer.js
  tests/lib/linter/code-path-analysis/code-path.js
  tests/lib/linter/linter.js
  tests/lib/rules/no-unused-vars.js
  tests/lib/rules/prefer-const.js
  tests/lib/rules/utils/ast-utils.js
  tests/lib/shared/config-validator.js
  tests/lib/source-code/source-code.js
  tests/tools/eslint-fuzzer.js
  tools/fuzzer-runner.js
Labels: accepted, chore

#16563 docs: CLI documentation standardization
  docs/src/_data/links.json
  docs/src/user-guide/command-line-interface.md
  lib/options.js
Labels: documentation, accepted

#16654 feat: update globals
  package.json
Labels: accepted, feature, upgrade

#16664 ci: fix npm v9 problem with `file:`
  .npmrc
  package.json
Labels: build, accepted

#16663 docs: Clarify Discord info in issue template config
  .github/ISSUE_TEMPLATE/config.yml
Labels: documentation, accepted

#16315 chore: standardize npm script names per #14827
  Makefile.js
  docs/src/developer-guide/package-json-conventions.md
  package.json
Labels: accepted, chore

#16637 feat: add suggestion for no-return-await
  lib/rules/no-return-await.js
  tests/lib/rules/no-return-await.js
Labels: enhancement, rule, accepted, feature, contributor pool

#16579 fix: Ensure flat config unignores work consistently like eslintrc
  lib/config/default-config.js
  package.json
  tests/lib/eslint/flat-eslint.js
Labels: bug, accepted

#16675 chore: upgrade @eslint/eslintrc@1.4.0
  package.json
Labels: accepted, chore

#16678 chore: update ignore patterns in `eslint.config.js`
  Makefile.js
  eslint.config.js
  tests/lib/eslint/flat-eslint.js
Labels: accepted, chore

#16677 feat: group properties with values in parentheses in `key-spacing`
  lib/rules/key-spacing.js
  tests/lib/rules/key-spacing.js
Labels: bug, rule, accepted, feature, contributor pool

#16596 docs: User Guide Getting Started expansion
  docs/src/user-guide/getting-started.md
Labels: documentation, accepted

#16006 feat: add options to check destructuring in no-underscore-dangle
  docs/src/rules/no-underscore-dangle.md
  lib/rules/no-underscore-dangle.js
  tests/lib/rules/no-underscore-dangle.js
Labels: rule, feature, evaluating, contributor pool

#16685 docs: remove manually maintained anchors
  README.md
Labels: triage, documentation

#16686 docs: display zh-hans in the docs language switcher
  docs/src/_data/sites/zh-hans.yml
Labels: documentation, accepted

#16698 docs: country flag missing in windows
  docs/src/_includes/layouts/base.html
  docs/src/assets/scss/tokens/typography.scss
Labels: bug, documentation, accepted

#16700 docs: fix search bar focus on `Esc`
  docs/src/assets/js/search.js
Labels: bug, documentation, accepted

#16710 docs: fix link to npm package
  docs/src/user-guide/core-concepts.md
Labels: triage, documentation, accepted

#16709 docs: clarify files property of configuration object
  docs/src/user-guide/configuring/configuration-files-new.md
Labels: documentation, accepted

#16638 docs: Add mastodon link
  docs/src/_data/links.json
  docs/src/_data/sites/en.yml
  docs/src/_includes/components/social-icons.html
  docs/src/assets/scss/components/social-icons.scss
Labels: documentation, accepted, feature

#16712 docs: Add function call example for no-undefined
  docs/src/rules/no-undefined.md
Labels: rule, documentation, accepted

#16693 feat: check assignment patterns in no-underscore-dangle
  docs/src/rules/no-underscore-dangle.md
  lib/rules/no-underscore-dangle.js
  tests/lib/rules/no-underscore-dangle.js
Labels: bug, rule, accepted, feature

#16719 fix: do not escape code block of text language
  templates/formatter-examples.md.ejs
Labels: bug, documentation, accepted

#16669 docs: optimize code block structure
  docs/.eleventy.js
  docs/src/_plugins/md-syntax-highlighter.js
  docs/src/assets/scss/syntax-highlighter.scss
Labels: documentation, accepted

#16717 chore: Set up automatic updating of README
  .github/workflows/update-readme.yml
  README.md
  package.json
  tools/commit-readme.sh
  tools/update-readme.js
Labels: accepted, chore

#16721 chore: fix CI failure
  README.md
  tools/update-readme.js
Labels: accepted, chore

#16608 fix: new instance of FlatESLint should load latest config file version
  lib/eslint/flat-eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#16722 fix: syntax error in `prefer-arrow-callback` autofix
  lib/rules/prefer-arrow-callback.js
  tests/lib/rules/prefer-arrow-callback.js
Labels: bug, rule, accepted, autofix, contributor pool

#16729 chore: Upgrade @eslint/eslintrc@1.4.1
  package.json
Labels: accepted, chore, upgrade
