Repository eslint/eslint, pull requests merged in 2022-01, with the labels that each got.

#15480 chore: switch `new syntax` issue template to forms
  .github/ISSUE_TEMPLATE/NEW_SYNTAX.md
  .github/ISSUE_TEMPLATE/new-syntax.yml
Labels: triage, chore

#15478 feat: Support arbitrary module namespace names in no-restricted-exports
  docs/rules/no-restricted-exports.md
  lib/rules/no-restricted-exports.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-restricted-exports.js
Labels: rule, accepted, feature, new syntax

#15481 feat: Support arbitrary module namespace names in keyword-spacing
  docs/rules/keyword-spacing.md
  lib/rules/keyword-spacing.js
  tests/lib/rules/keyword-spacing.js
Labels: rule, accepted, feature, new syntax

#15479 feat: Support arbitrary module namespace names in the quotes rule
  lib/rules/quotes.js
  tests/lib/rules/quotes.js
Labels: rule, accepted, feature, new syntax

#15490 feat: Support arbitrary module namespace names in the camelcase rule
  lib/rules/camelcase.js
  tests/lib/rules/camelcase.js
Labels: rule, accepted, feature, new syntax

#15474 feat: false negative with `property` option in `id-match`
  lib/rules/id-match.js
  tests/lib/rules/id-match.js
Labels: bug, rule, accepted, feature

#15497 chore: Fixed Typo in CLI Engine
  lib/cli-engine/cli-engine.js
Labels: accepted, chore

#15150 feat: move `eslint --init` to @eslint/create-config
  README.md
  bin/eslint.js
  docs/developer-guide/architecture.md
  docs/user-guide/command-line-interface.md
  docs/user-guide/configuring/configuration-files.md
  docs/user-guide/getting-started.md
  docs/user-guide/migrating-from-jscs.md
  lib/init/autoconfig.js
  lib/init/config-file.js
  lib/init/config-initializer.js
  lib/init/npm-utils.js
  lib/init/source-code-utils.js
  messages/no-config-found.js
  package.json
  tests/fixtures/autoconfig/source-with-comments.js
  tests/fixtures/autoconfig/source.js
  tests/fixtures/config-initializer/lib/doubleQuotes.js
  tests/fixtures/config-initializer/lib/no-semi.js
  tests/fixtures/config-initializer/new-es-features/new-es-features.js
  tests/fixtures/config-initializer/parse-error/parse-error.js
  tests/fixtures/config-initializer/singleQuotes.js
  tests/fixtures/config-initializer/tests/console-log.js
  tests/fixtures/config-initializer/tests/doubleQuotes.js
  tests/lib/init/autoconfig.js
  tests/lib/init/config-file.js
  tests/lib/init/config-initializer.js
  tests/lib/init/npm-utils.js
  tests/lib/init/source-code-utils.js
  tests/tools/config-rule.js
  tests/tools/eslint-fuzzer.js
  tools/config-rule.js
  tools/eslint-fuzzer.js
Labels: cli, accepted, feature

#15501 ci: remove master branch from CI configs
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Labels: build, accepted, chore

#15493 feat: Support arbitrary module namespace names in no-useless-rename
  docs/rules/no-useless-rename.md
  lib/rules/no-useless-rename.js
  tests/lib/rules/no-useless-rename.js
Labels: rule, accepted, feature, new syntax

#15491 feat: Support arbitrary module namespace names in no-restricted-imports
  docs/rules/no-restricted-imports.md
  lib/rules/no-restricted-imports.js
  tests/lib/rules/no-restricted-imports.js
Labels: rule, accepted, feature, new syntax

#15486 fix: Prevent false positives with no-constant-condition
  lib/rules/no-constant-condition.js
  tests/lib/rules/no-constant-condition.js
Labels: bug, rule, accepted

#15507 fix: Correctly consume RuleTester statics
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: bug, core, evaluating

#15522 feat: Update shell code fences for new website
  docs/developer-guide/contributing/pull-requests.md
  docs/developer-guide/development-environment.md
  docs/rules/no-mixed-operators.md
  docs/user-guide/command-line-interface.md
  docs/user-guide/getting-started.md
  docs/user-guide/migrating-from-jscs.md
Labels: triage, feature

#15513 docs: Update CLI docs to prefer local install
  docs/user-guide/command-line-interface.md
Labels: documentation, cli, accepted

#15439 feat: no-restricted-imports support casing
  docs/rules/no-restricted-imports.md
  lib/rules/no-restricted-imports.js
  lib/rules/no-restricted-modules.js
  package.json
  tests/lib/rules/no-restricted-imports.js
Labels: enhancement, rule, feature, evaluating

#15495 fix: no-invalid-this false positive in class field initializer
  lib/rules/no-invalid-this.js
  tests/lib/rules/no-invalid-this.js
Labels: bug, rule, accepted

#15526 chore: Upgrade to eslint-visitor-keys@3.2.0
  package.json
Labels: accepted, chore, upgrade

#15529 docs: Address an upcoming violation of markdownlint rule MD050/strong-style.
  docs/rules/array-callback-return.md
Labels: documentation, accepted

#15531 docs: Fixed typo in comment
  docs/user-guide/command-line-interface.md
Labels: triage

#15544 chore: fix relative link
  docs/developer-guide/nodejs-api.md
Labels: triage, chore

#15459 feat: implement rfc 2021-suppression-support
  docs/developer-guide/nodejs-api.md
  lib/cli-engine/cli-engine.js
  lib/eslint/eslint.js
  lib/linter/apply-disable-directives.js
  lib/linter/linter.js
  lib/shared/types.js
  tests/bin/eslint.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/eslint/eslint.js
  tests/lib/linter/apply-disable-directives.js
  tests/lib/linter/linter.js
Labels: core, accepted, feature

#15550 docs: add missed verb in `no-ex-assign` rule
  docs/rules/no-ex-assign.md
Labels: rule, documentation, accepted
