Repository eslint/eslint, pull requests merged in 2022-10, with the labels that each got.

#16378 docs: remove duplicate words
  docs/src/user-guide/configuring/ignoring-code.md
  lib/rules/lines-around-comment.js
  lib/rules/no-loss-of-precision.js
  lib/rules/no-use-before-define.js
  lib/shared/traverser.js
Labels: documentation, accepted

#16374 docs: typo cleanups for docs
  docs/src/assets/js/search.js
  docs/src/assets/scss/components/search.scss
  docs/src/user-guide/configuring/configuration-files-new.md
  lib/config/flat-config-array.js
  lib/eslint/eslint-helpers.js
  lib/eslint/flat-eslint.js
  lib/options.js
  tests/lib/eslint/flat-eslint.js
  tests/lib/rule-tester/rule-tester.js
Labels: documentation, accepted, chore

#16376 docs: MD053 unused link definitions
  docs/src/developer-guide/nodejs-api.md
Labels: documentation, accepted

#16355 feat: remove support for ignore files in FlatESLint
  Makefile.js
  docs/src/user-guide/configuring/configuration-files-new.md
  eslint.config.js
  lib/cli.js
  lib/eslint/eslint-helpers.js
  lib/eslint/flat-eslint.js
  lib/options.js
  package.json
  tests/fixtures/.eslintignore_empty
  tests/fixtures/cli-engine/eslint.config_with_ignores2.js
  tests/fixtures/eslint.config_with_ignores.js
  tests/fixtures/eslint.config_with_ignores2.js
  tests/lib/cli.js
  tests/lib/eslint/flat-eslint.js
  tests/lib/options.js
Labels: core, accepted, feature

#16381 Add VS to integrations
  docs/src/user-guide/integrations.md
Labels: documentation, accepted

#16366 docs: Conflicting fixes
  docs/src/developer-guide/working-with-rules.md
Labels: documentation, accepted

#16377 chore: use "ci" for Dependabot commit message
  .github/dependabot.yml
Labels: evaluating, chore

#16375 chore: Remove CODEOWNERS
  .github/CODEOWNERS.md
Labels: accepted, evaluating, chore

#16348 feat: Pass --max-warnings value to formatters
  docs/src/developer-guide/nodejs-api.md
  docs/src/developer-guide/working-with-custom-formatters.md
  lib/cli.js
  lib/eslint/eslint.js
  lib/eslint/flat-eslint.js
  lib/shared/types.js
  tests/lib/cli.js
Labels: enhancement, core, accepted, feature

#16397 chore: upgrade @eslint/eslintrc@1.3.3
  package.json
Labels: accepted, chore

#16398 chore: suppress a Node.js deprecation warning
  tests/lib/eslint/flat-eslint.js
Labels: accepted, chore

#16369 feat: Swap out Globby for custom globbing solution.
  lib/config/default-config.js
  lib/eslint/eslint-helpers.js
  package.json
  tests/fixtures/ignores-directory/eslint.config.js
  tests/fixtures/ignores-directory/subdir/subsubdir/a.js
  tests/fixtures/ignores-relative/a.js
  tests/fixtures/ignores-relative/eslint.config.js
  tests/fixtures/ignores-relative/subdir/a.js
  tests/fixtures/ignores-self/eslint.config.js
  tests/lib/cli.js
  tests/lib/eslint/flat-eslint.js
Labels: core, accepted, feature

#16394 docs: Document extending plugin with new config
  docs/src/user-guide/configuring/configuration-files-new.md
Labels: documentation, accepted

#16356 feat: Use ESLINT_USE_FLAT_CONFIG environment variable for flat config
  docs/src/user-guide/configuring/configuration-files-new.md
  lib/cli.js
  tests/lib/cli.js
Labels: enhancement, core, accepted, feature, contributor pool

#16423 chore: Add VS Code issues link
  .github/ISSUE_TEMPLATE/config.yml
Labels: accepted, chore

#16403 docs: update header
  docs/src/_includes/layouts/base.html
  docs/src/_includes/layouts/doc.html
  docs/src/_includes/partials/docs-header.html
Labels: documentation, accepted

#16422 fix: Ensure unignore and reignore work correctly in flat config.
  package.json
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#16343 feat: `no-implicit-globals` supports `exported` block comment
  docs/src/rules/no-implicit-globals.md
  lib/linter/linter.js
  lib/rules/no-implicit-globals.js
  tests/lib/rules/no-implicit-globals.js
Labels: rule, accepted, feature, contributor pool

#16427 docs: fix syntax in examples for new config files
  docs/src/user-guide/configuring/configuration-files-new.md
Labels: documentation, accepted

#16434 docs(command-line-interface.md): note --ignore-path not supported with flat config
  docs/src/user-guide/command-line-interface.md
Labels: triage, documentation

#16436 fix: Ensure that directories can be unignored.
  package.json
  tests/fixtures/ignores-subdirectory/eslint.config.js
  tests/fixtures/ignores-subdirectory/subdir/subsubdir/a.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#16438 fix: make `getRulesMetaForResults` return a plain object in trivial case
  lib/eslint/flat-eslint.js
  tests/lib/eslint/eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted, contributor pool

#16425 fix: `--ignore-pattern` in flat config mode should be relative to `cwd`
  eslint.config.js
  lib/cli.js
  lib/eslint/flat-eslint.js
  tests/fixtures/cli/ignore-pattern-relative/.eslintrc.js
  tests/fixtures/cli/ignore-pattern-relative/eslint.config.js
  tests/fixtures/cli/ignore-pattern-relative/subdir/subsubdir/a.js
  tests/lib/cli.js
Labels: bug, core, accepted

#16409 fix: ignore messages without a `ruleId` in `getRulesMetaForResults`
  lib/eslint/flat-eslint.js
  tests/lib/eslint/eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#16443 build: add node v19
  .github/workflows/ci.yml
  tests/lib/shared/runtime-info.js
Labels: build, accepted

#16420 feat: check for Object.create() without explicit return value in getter return
  lib/rules/getter-return.js
  tests/lib/rules/getter-return.js
Labels: bug, enhancement, rule, accepted, feature, contributor pool

#16399 docs: Core concepts page
  docs/src/pages/rules.md
  docs/src/user-guide/command-line-interface.md
  docs/src/user-guide/configuring/index.md
  docs/src/user-guide/core-concepts.md
  docs/src/user-guide/formatters/index.md
  docs/src/user-guide/integrations.md
  docs/src/user-guide/migrating-to-8.0.0.md
Labels: triage, documentation

#16449 fix: Ensure that glob patterns are matched correctly.
  lib/eslint/eslint-helpers.js
  package.json
  tests/fixtures/example-app/app.js
  tests/fixtures/example-app/eslint.config.js
  tests/fixtures/example-app/subdir/util.js
  tests/fixtures/example-app2/eslint.config.js
  tests/fixtures/example-app2/subdir1/a.js
  tests/fixtures/example-app2/subdir2/b.js
  tests/lib/cli.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#16432 fix: use `baseConfig` constructor option in FlatESLint
  lib/eslint/flat-eslint.js
  tests/fixtures/eslint.config_with_rules.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#16451 Revert "docs: update header (#16403)"
  docs/src/_includes/layouts/base.html
  docs/src/_includes/layouts/doc.html
  docs/src/_includes/partials/docs-header.html
Labels: documentation, accepted

#16453 docs: core-concepts: fix link to semi rule
  docs/src/user-guide/core-concepts.md
Labels: documentation, accepted

#16455 docs: fix link to Formatters on the Core Concepts page
  docs/src/user-guide/core-concepts.md
Labels: documentation, accepted

#16454 docs: update formatters template
  docs/src/user-guide/formatters/index.md
  templates/formatter-examples.md.ejs
Labels: documentation, accepted

#16417 docs: improve context.getScope() docs
  docs/src/developer-guide/working-with-rules.md
Labels: triage, documentation

#16435 docs: note commit messages don't support scope
  docs/src/developer-guide/contributing/pull-requests.md
Labels: triage, documentation

#16379 docs: add Stylelint configuration and cleanup
  .github/workflows/ci.yml
  docs/.stylelintrc.json
  docs/package.json
  docs/src/assets/scss/carbon-ads.scss
  docs/src/assets/scss/components/alert.scss
  docs/src/assets/scss/components/buttons.scss
  docs/src/assets/scss/components/docs-index.scss
  docs/src/assets/scss/components/docs-navigation.scss
  docs/src/assets/scss/components/hero.scss
  docs/src/assets/scss/components/index.scss
  docs/src/assets/scss/components/language-switcher.scss
  docs/src/assets/scss/components/resources.scss
  docs/src/assets/scss/components/rules.scss
  docs/src/assets/scss/components/search.scss
  docs/src/assets/scss/components/tabs.scss
  docs/src/assets/scss/components/toc.scss
  docs/src/assets/scss/docs-header.scss
  docs/src/assets/scss/docs.scss
  docs/src/assets/scss/eslint-site-footer.scss
  docs/src/assets/scss/eslint-site-header.scss
  docs/src/assets/scss/forms.scss
  docs/src/assets/scss/foundations.scss
  docs/src/assets/scss/print.scss
  docs/src/assets/scss/styles.scss
  docs/src/assets/scss/syntax-highlighter.scss
  docs/src/assets/scss/tokens/themes.scss
  docs/src/assets/scss/tokens/typography.scss
  docs/src/assets/scss/tokens/ui.scss
  docs/src/assets/scss/utilities.scss
Labels: documentation, build, accepted, contributor pool

#16458 feat: use `context.languageOptions.ecmaVersion` in core rules
  lib/rules/comma-dangle.js
  lib/rules/func-name-matching.js
  lib/rules/no-misleading-character-class.js
  lib/rules/prefer-regex-literals.js
  tests/lib/rules/comma-dangle.js
  tests/lib/rules/func-name-matching.js
  tests/lib/rules/no-misleading-character-class.js
  tests/lib/rules/prefer-regex-literals.js
Labels: bug, rule, accepted, feature

#16437 fix: handle files with unspecified path in `getRulesMetaForResults`
  lib/eslint/flat-eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#16430 docs: Add heading to justification explanation
  docs/src/user-guide/configuring/rules.md
Labels: documentation, accepted
