Repository eslint/eslint, pull requests merged in 2022-06, with the labels that each got.

#15945 chore: Use build hook for docs deploy
  .github/workflows/docs-deploy.yml
Labels: triage, chore

#15927 chore: avoid theme flashes
  docs/src/_includes/layouts/base.njk
  docs/src/assets/js/themes.js
Labels: bug, accepted, chore

#15960 docs: Update Exponentiation operator MDN link
  docs/src/_data/further_reading_links.json
  docs/src/rules/prefer-exponentiation-operator.md
Labels: rule, documentation, accepted

#15953 feat: add `allowNamedExports` option to no-use-before-define
  docs/src/_data/further_reading_links.json
  docs/src/rules/no-use-before-define.md
  lib/rules/no-use-before-define.js
  tests/lib/rules/no-use-before-define.js
Labels: enhancement, rule, accepted, feature

#15951 feat: fix indent bug with semicolon-first style
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: bug, rule, accepted, feature

#15970 docs: change some absolute links to relative
  docs/src/rules/no-undef.md
  docs/src/user-guide/command-line-interface.md
  docs/src/user-guide/configuring/ignoring-code.md
  docs/src/user-guide/configuring/index.md
  docs/src/user-guide/configuring/language-options.md
  docs/src/user-guide/configuring/plugins.md
  docs/src/user-guide/configuring/rules.md
Labels: documentation

#15967 chore: avoid generating subdirectories for each page on new docs site
  docs/.eleventy.js
  docs/package.json
  docs/src/_includes/components/docs-index.html
  docs/src/_includes/layouts/base.njk
  docs/src/_includes/layouts/components.html
  docs/src/library/library.json
  docs/src/src.json
  docs/src/static/sitemap.njk
Labels: documentation, chore

#15971 chore: Set permissions for GitHub actions
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
Labels: evaluating, chore

#15978 docs: Switch to version-relative URLs
  Makefile.js
  docs/.eleventy.js
  docs/src/_includes/components/nav-version-switcher.html
  docs/src/_includes/components/version-switcher.html
  docs/src/_includes/partials/versions-list.html
Labels: documentation, accepted

#15984 chore: Remove docs deploy
  .github/workflows/docs-deploy.yml
Labels: triage, chore

#15991 docs: add missing trailing slash to some internal links
  docs/src/developer-guide/nodejs-api.md
  docs/src/maintainer-guide/governance.md
  docs/src/pages/index.md
  docs/src/user-guide/command-line-interface.md
  docs/src/user-guide/index.md
Labels: documentation, accepted

#15992 chore: tweak URL rewriting for local previews
  docs/.eleventy.js
Labels: chore

#15993 chore: add trailing slash to `pathPrefix`
  docs/.eleventy.js
Labels: chore

#15995 chore: fix versions link
  docs/src/_includes/components/nav-version-switcher.html
  docs/src/_includes/components/version-switcher.html
Labels: accepted, chore

#15893 docs: unify the wording referring to optional exception
  docs/src/rules/object-property-newline.md
Labels: triage, documentation

#15868 fix: Make no-unused-var function the same way in for..of loops as for..in loops
  lib/rules/no-unused-vars.js
  tests/lib/rules/no-unused-vars.js
Labels: bug, accepted, feature

#15998 docs: Add correct/incorrect containers
  docs/.eleventy.js
  docs/package.json
  docs/src/assets/scss/docs.scss
  docs/src/library/code-blocks.md
  docs/src/rules/semi.md
Labels: documentation, accepted

#15982 feat: account for rule creation time in performance reports
  docs/src/developer-guide/working-with-rules.md
  lib/linter/linter.js
  lib/linter/timing.js
Labels: accepted, feature

#15994 chore: remove unused deprecation warnings
  lib/shared/deprecation-warnings.js
Labels: evaluating, chore

#15996 docs: Update analytics, canonical URL, ads
  docs/.eleventy.js
  docs/package.json
  docs/src/_data/links.json
  docs/src/_data/site.js
  docs/src/_data/sites/en.yml
  docs/src/_includes/components/language-switcher.html
  docs/src/_includes/components/navigation.html
  docs/src/_includes/components/social-icons.html
  docs/src/_includes/components/theme-switcher.html
  docs/src/_includes/layouts/base.html
  docs/src/_includes/layouts/components.html
  docs/src/_includes/layouts/doc.html
  docs/src/_includes/layouts/main.html
  docs/src/_includes/partials/analytics.html
  docs/src/_includes/partials/carbon-ad.html
  docs/src/_includes/partials/docs-footer.html
  docs/src/pages/404.html
Labels: documentation, accepted

#15986 build: remove unwanted parallel and image-min for dev server
  docs/package.json
Labels: build, accepted

#16007 chore: fix 'replaced by' rule list
  docs/src/_includes/components/rule-list.macro.html
  docs/src/_includes/components/rule.macro.html
  docs/src/assets/scss/components/rules.scss
  docs/src/library/rule-list.md
Labels: documentation, chore

#16019 fix: remove ligatures from fonts
  docs/src/assets/scss/syntax-highlighter.scss
Labels: bug, accepted

#16020 fix: remove TOC from printable
  docs/src/assets/scss/print.scss
Labels: bug, evaluating

#16026 chore: fix sitemap
  docs/.eleventy.js
  docs/src/static/robots.njk
  docs/src/static/sitemap.njk
Labels: documentation, chore

#16016 chore: add noindex meta tag
  docs/.eleventy.js
  docs/src/_includes/layouts/base.html
Labels: documentation, accepted, chore

#15985 chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Labels: triage, chore

#16035 chore: prepare versions data file
  .gitignore
  docs/src/_data/versions.json
Labels: triage, documentation, chore

#16017 chore: add missing images
  docs/src/assets/images/architecture/dependency.svg
  docs/src/assets/images/code-path-analysis/example-dowhilestatement.svg
  docs/src/assets/images/code-path-analysis/example-forinstatement.svg
  docs/src/assets/images/code-path-analysis/example-forstatement-for-ever.svg
  docs/src/assets/images/code-path-analysis/example-forstatement.svg
  docs/src/assets/images/code-path-analysis/example-hello-world.svg
  docs/src/assets/images/code-path-analysis/example-ifstatement-chain.svg
  docs/src/assets/images/code-path-analysis/example-ifstatement.svg
  docs/src/assets/images/code-path-analysis/example-switchstatement-has-default.svg
  docs/src/assets/images/code-path-analysis/example-switchstatement.svg
  docs/src/assets/images/code-path-analysis/example-trystatement-try-catch-finally.svg
  docs/src/assets/images/code-path-analysis/example-trystatement-try-catch.svg
  docs/src/assets/images/code-path-analysis/example-trystatement-try-finally.svg
  docs/src/assets/images/code-path-analysis/example-when-there-is-a-function-f.svg
  docs/src/assets/images/code-path-analysis/example-when-there-is-a-function-g.svg
  docs/src/assets/images/code-path-analysis/example-whilestatement.svg
  docs/src/assets/images/code-path-analysis/helo.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-1.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-2.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-3.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-4.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-5.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-while-1.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-while-2.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-while-3.svg
  docs/src/developer-guide/architecture/index.md
  docs/src/developer-guide/code-path-analysis.md
Labels: bug, accepted, chore

#16036 docs: Update release process
  Makefile.js
  docs/src/_data/rule_versions.json
  docs/src/_includes/layouts/doc.html
  docs/src/user-guide/formatters/html-formatter-example.html
  docs/src/user-guide/formatters/index.md
  package.json
  templates/blogpost.md.ejs
  templates/formatter-examples.md.ejs
Labels: triage, documentation

#16045 docs: add listener only if element exists
  docs/src/assets/js/search.js
Labels: triage, documentation

#16044 docs: use only fenced code blocks
  .markdownlint.yml
  docs/src/developer-guide/development-environment.md
  docs/src/developer-guide/source-code.md
  docs/src/developer-guide/unit-tests.md
  docs/src/pages/rules.md
  docs/src/rules/no-irregular-whitespace.md
  docs/src/user-guide/command-line-interface.md
  docs/src/user-guide/configuring/configuration-files.md
  docs/src/user-guide/configuring/ignoring-code.md
Labels: documentation

#16058 docs: make logo link clickable on small width screens
  docs/src/assets/scss/eslint-site-header.scss
Labels: documentation, accepted

#16060 chore: correctly use .markdownlintignore in Makefile
  Makefile.js
Labels: accepted, chore

#16046 docs: Add base href to each page to fix relative URLs
  docs/src/_includes/layouts/base.html
Labels: bug, triage, documentation
