Repository eslint/eslint, pull requests merged in 2022-08, with the labels that each got.

#16173 chore: Upgrade to Espree 9.3.3
  package.json
Labels: chore, upgrade

#16149 feat: Implement FlatESLint
  docs/.eleventy.js
  docs/package.json
  docs/src/assets/scss/components/alert.scss
  docs/src/assets/scss/foundations.scss
  docs/src/user-guide/configuring/configuration-files-new.md
  eslint.config.js
  lib/config/default-config.js
  lib/config/flat-config-array.js
  lib/config/flat-config-helpers.js
  lib/eslint/eslint-helpers.js
  lib/eslint/flat-eslint.js
  lib/eslint/index.js
  lib/linter/linter.js
  lib/rule-tester/flat-rule-tester.js
  lib/unsupported-api.js
  package.json
  tests/fixtures/cli-engine/deprecated-rule-config/eslint.config.js
  tests/fixtures/config-hierarchy/broken/add-conf.js
  tests/fixtures/config-hierarchy/broken/override-conf.js
  tests/fixtures/configurations/env-browser.js
  tests/fixtures/configurations/env-node.js
  tests/fixtures/configurations/plugins-with-prefix.js
  tests/fixtures/configurations/processors.js
  tests/fixtures/configurations/quotes-error.js
  tests/fixtures/configurations/semi-error.js
  tests/fixtures/eslint.config.js
  tests/fixtures/ignored-paths/.eslintignoreForNegationTest
  tests/fixtures/rules/eslint.js
  tests/fixtures/rules/missing-rule.js
  tests/lib/config/flat-config-array.js
  tests/lib/config/flat-config-helpers.js
  tests/lib/eslint/eslint.config.js
  tests/lib/eslint/flat-eslint.js
  tests/lib/linter/linter.js
  tests/lib/unsupported-api.js
Labels: core, feature

#16186 chore: remove deploy workflow for playground
  .github/workflows/playground-deploy.yml
Labels: accepted, chore

#16180 docs: use shorthand property name in example
  docs/src/user-guide/configuring/configuration-files-new.md
Labels: documentation, accepted

#16187 feat: optimize search result
  docs/src/assets/js/search.js
Labels: triage, feature

#16178 docs: add svgo command to pre commit hook
  package.json
Labels: triage, documentation, chore

#16170 perf: optimize image assets
  docs/src/assets/images/architecture/dependency.svg
  docs/src/assets/images/code-path-analysis/example-dowhilestatement.svg
  docs/src/assets/images/code-path-analysis/example-forinstatement.svg
  docs/src/assets/images/code-path-analysis/example-forstatement-for-ever.svg
  docs/src/assets/images/code-path-analysis/example-forstatement.svg
  docs/src/assets/images/code-path-analysis/example-hello-world.svg
  docs/src/assets/images/code-path-analysis/example-ifstatement-chain.svg
  docs/src/assets/images/code-path-analysis/example-ifstatement.svg
  docs/src/assets/images/code-path-analysis/example-switchstatement-has-default.svg
  docs/src/assets/images/code-path-analysis/example-switchstatement.svg
  docs/src/assets/images/code-path-analysis/example-trystatement-try-catch-finally.svg
  docs/src/assets/images/code-path-analysis/example-trystatement-try-catch.svg
  docs/src/assets/images/code-path-analysis/example-trystatement-try-finally.svg
  docs/src/assets/images/code-path-analysis/example-when-there-is-a-function-f.svg
  docs/src/assets/images/code-path-analysis/example-when-there-is-a-function-g.svg
  docs/src/assets/images/code-path-analysis/example-whilestatement.svg
  docs/src/assets/images/code-path-analysis/helo.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-1.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-2.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-3.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-4.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-for-5.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-while-1.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-while-2.svg
  docs/src/assets/images/code-path-analysis/loop-event-example-while-3.svg
  docs/src/assets/images/icons/arrow-left.svg
  docs/src/assets/images/icons/arrow-right.svg
  docs/src/assets/images/icons/arrow-top-right.svg
  docs/src/assets/images/icons/chevron-down.svg
  docs/src/assets/images/icons/copy.svg
  docs/src/assets/images/icons/correct.svg
  docs/src/assets/images/icons/discord.svg
  docs/src/assets/images/icons/facebook.svg
  docs/src/assets/images/icons/features-list-icon.svg
  docs/src/assets/images/icons/github-icon-mono.svg
  docs/src/assets/images/icons/github-img.svg
  docs/src/assets/images/icons/github-large.svg
  docs/src/assets/images/icons/github-small.svg
  docs/src/assets/images/icons/github.svg
  docs/src/assets/images/icons/google.svg
  docs/src/assets/images/icons/incorrect.svg
  docs/src/assets/images/icons/languages.svg
  docs/src/assets/images/icons/learn-more-arrow.svg
  docs/src/assets/images/icons/link.svg
  docs/src/assets/images/icons/linkedin.svg
  docs/src/assets/images/icons/menu.svg
  docs/src/assets/images/icons/minus-circle.svg
  docs/src/assets/images/icons/npm.svg
  docs/src/assets/images/icons/open-collectione-mono.svg
  docs/src/assets/images/icons/opencollective-img.svg
  docs/src/assets/images/icons/plus-circle.svg
  docs/src/assets/images/icons/search.svg
  docs/src/assets/images/icons/twitter.svg
  docs/src/assets/images/logo/brand-colors.svg
  docs/src/assets/images/logo/eslint-logo-color.svg
  docs/src/assets/images/logo/eslint-logo-white.svg
  docs/src/static/icon.svg
Labels: accepted, chore

#16185 feat: add `methodsIgnorePattern` option to object-shorthand rule
  docs/src/rules/object-shorthand.md
  lib/rules/object-shorthand.js
  tests/lib/rules/object-shorthand.js
Labels: enhancement, rule, accepted, feature

#16207 docs: add anchor link for "migrating from jscs"
  docs/src/user-guide/migrating-from-jscs.md
Labels: triage, documentation

#16217 docs: remove word immediately
  docs/src/rules/no-loss-of-precision.md
Labels: triage, documentation

#16206 docs: package.json conventions
  docs/src/developer-guide/code-conventions.md
  docs/src/developer-guide/package-json-conventions.md
Labels: documentation, accepted, contributor pool

#16120 feat: no-warning-comments support comments with decoration
  docs/src/rules/no-warning-comments.md
  lib/rules/no-warning-comments.js
  tests/lib/rules/no-warning-comments.js
Labels: enhancement, rule, accepted, feature

#16241 refactor: simplify `parseListConfig`
  lib/linter/config-comment-parser.js
Labels: core, accepted, chore

#15974 chore: fix off-by-one `min-width: 1023px` media queries
  docs/src/assets/scss/components/docs-index.scss
  docs/src/assets/scss/components/docs-navigation.scss
  docs/src/assets/scss/components/index.scss
  docs/src/assets/scss/components/search.scss
  docs/src/assets/scss/docs.scss
  docs/src/assets/scss/tokens/spacing.scss
  docs/src/assets/scss/utilities.scss
Labels: documentation, chore

#16236 test: add no-extra-parens tests with rest properties
  tests/lib/rules/no-extra-parens.js
Labels: rule, accepted, chore

#15887 feat: add `allowEmptyCase` option to no-fallthrough rule
  docs/src/rules/no-fallthrough.md
  lib/rules/no-fallthrough.js
  tests/lib/rules/no-fallthrough.js
Labels: enhancement, rule, accepted, feature

#16235 feat: Enable eslint.config.js lookup from CLI
  .eslintrc.js
  bin/eslint.js
  docs/src/user-guide/configuring/configuration-files-new.md
  eslint.config.js
  lib/cli.js
  lib/eslint/eslint-helpers.js
  lib/eslint/flat-eslint.js
  lib/options.js
  lib/rule-tester/flat-rule-tester.js
  lib/rule-tester/rule-tester.js
  lib/rules/no-lone-blocks.js
  package.json
  tests/bin/eslint.js
  tests/fixtures/bin/eslint.config.js
  tests/fixtures/configurations/es6.js
  tests/fixtures/max-warnings/eslint.config.js
  tests/lib/cli.js
  tests/lib/eslint/flat-eslint.js
  tests/lib/options.js
  tools/internal-testers/event-generator-tester.js
Labels: cli, core, accepted, feature

#16243 chore: Upgrade to espree@9.4.0
  conf/globals.js
  docs/src/user-guide/configuring/language-options.md
  lib/rules/utils/ast-utils.js
  lib/shared/types.js
  package.json
  tests/lib/rules/utils/ast-utils.js
Labels: accepted, chore, upgrade

#16249 chore: upgrade @eslint/eslintrc@1.3.1
  package.json
Labels: accepted, chore, upgrade

#16223 docs: Improve id-denylist documentation
  docs/src/rules/id-denylist.md
Labels: documentation, evaluating

#16258 chore: fix `npm run perf` crashes
  Makefile.js
Labels: chore
