Repository eslint/eslint, pull requests merged in 2023-06, with the labels that each got.

#17181 fix: Config with `ignores` and without `files` should not always apply
  package.json
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#17235 refactor: remove `Identifier` listener in no-irregular-whitespace
  lib/rules/no-irregular-whitespace.js
Labels: rule, chore

#17236 chore: upgrade @eslint/js@8.42.0
  package.json
Labels: accepted, chore

#17227 docs: Revert all changes after the license change
  docs/src/extend/code-path-analysis.md
  docs/src/extend/custom-processors.md
  docs/src/extend/custom-rules.md
  docs/src/extend/plugins.md
  docs/src/integrate/nodejs-api.md
  docs/src/maintain/manage-issues.md
  docs/src/rules/callback-return.md
  docs/src/rules/global-require.md
  docs/src/rules/handle-callback-err.md
  docs/src/rules/id-match.md
  docs/src/rules/no-buffer-constructor.md
  docs/src/rules/no-div-regex.md
  docs/src/rules/no-mixed-requires.md
  docs/src/rules/no-new-require.md
  docs/src/rules/no-new.md
  docs/src/rules/no-path-concat.md
  docs/src/rules/no-process-env.md
  docs/src/rules/no-process-exit.md
  docs/src/rules/no-restricted-modules.md
  docs/src/rules/no-sync.md
  docs/src/rules/semi.md
  docs/src/use/configure/configuration-files-new.md
  docs/src/use/configure/configuration-files.md
  docs/src/use/configure/language-options.md
  docs/src/use/formatters/index.md
  docs/src/use/integrations.md
  docs/src/use/migrate-to-8.0.0.md
  docs/src/use/migrating-to-5.0.0.md
  docs/src/use/migrating-to-7.0.0.md
Labels: documentation, accepted

#17204 chore: use eslint-plugin-eslint-plugin flat configs
  .eslintrc.js
  eslint.config.js
  lib/rules/logical-assignment-operators.js
  lib/rules/newline-after-var.js
  package.json
  tests/bin/eslint.js
  tests/fixtures/simple-valid-project/.eslintrc.js
  tests/fixtures/simple-valid-project/eslint.config.js
  tests/fixtures/simple-valid-project/foo.js
  tests/fixtures/simple-valid-project/src/foobar.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/cli.js
  tests/lib/eslint/eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: accepted, chore

#17248 docs: add references to MIT License
  docs/README.md
  docs/src/_data/sites/en.yml
  docs/src/_data/sites/zh-hans.yml
Labels: documentation, accepted

#17182 feat: add `skipJSXText` option to `no-irregular-whitespace` rule
  docs/src/rules/no-irregular-whitespace.md
  lib/rules/no-irregular-whitespace.js
  tests/lib/rules/no-irregular-whitespace.js
Labels: rule, accepted, feature, contributor pool

#17254 chore: docs package.license ISC => MIT
  docs/package.json
Labels: chore

#17257 docs: fix typos and missing info
  docs/src/rules/id-match.md
Labels: documentation, accepted

#17239 docs: Improve `ignores` documentation
  docs/src/use/configure/configuration-files-new.md
Labels: documentation, accepted

#17258 docs: update flat config default ignore patterns
  docs/src/use/configure/configuration-files-new.md
Labels: documentation, accepted

#17261 docs: explain how to include predefined globals
  docs/src/use/configure/configuration-files-new.md
Labels: documentation, accepted

#17262 docs: Resubmit getScope/getDeclaredVariables docs
  docs/src/extend/code-path-analysis.md
  docs/src/extend/custom-rules.md
Labels: documentation, accepted

#17263 docs: add new `omitLastInOneLineClassBody` option to the `semi` rule
  docs/src/rules/semi.md
Labels: documentation, accepted

#17252 feat: add declaration loc to message in block-scoped-var
  lib/rules/block-scoped-var.js
  tests/lib/rules/block-scoped-var.js
Labels: rule, accepted, feature

#17273 docs: Resubmit custom rules update docs
  docs/src/extend/custom-rules.md
  docs/src/use/migrate-to-8.0.0.md
  docs/src/use/migrating-to-5.0.0.md
Labels: documentation

#17266 docs: resubmit `Manage Issues` documentation
  docs/src/maintain/manage-issues.md
Labels: documentation, accepted

#17267 docs: resubmit `Configuration Files` documentation
  docs/src/use/configure/configuration-files-new.md
  docs/src/use/configure/configuration-files.md
Labels: documentation, accepted

#17268 docs: resubmit `Create Plugins` documentation
  docs/src/extend/plugins.md
Labels: documentation

#17265 docs: resubmit `Custom Processors` documentation
  docs/src/extend/custom-processors.md
Labels: documentation, accepted

#17264 docs: resubmit `no-new` rule documentation
  docs/src/rules/no-new.md
Labels: documentation

#17024 docs: Custom rule & plugin tutorial
  docs/_examples/custom-rule-tutorial-code/.gitignore
  docs/_examples/custom-rule-tutorial-code/enforce-foo-bar.js
  docs/_examples/custom-rule-tutorial-code/enforce-foo-bar.test.js
  docs/_examples/custom-rule-tutorial-code/eslint-plugin-example.js
  docs/_examples/custom-rule-tutorial-code/eslint.config.js
  docs/_examples/custom-rule-tutorial-code/example.js
  docs/_examples/custom-rule-tutorial-code/package.json
  docs/src/extend/custom-processors.md
  docs/src/extend/custom-rule-tutorial.md
  docs/src/extend/custom-rules.md
  docs/src/extend/index.md
Labels: documentation, accepted

#17022 fix: Remove `no-extra-parens` autofix for potential directives
  docs/src/rules/no-extra-parens.md
  lib/rules/no-extra-parens.js
  lib/rules/no-unused-expressions.js
  lib/rules/padding-line-between-statements.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/utils/ast-utils.js
Labels: bug, rule, accepted, autofix

#17281 docs: Resubmit Fix formatting in Custom Rules docs
  docs/src/extend/custom-rules.md
Labels: documentation, accepted

#17277 fix: normalize `cwd` passed to `ESLint`/`FlatESLint` constructor
  lib/eslint/eslint-helpers.js
  lib/eslint/eslint.js
  tests/fixtures/example-app3/.eslintignore
  tests/fixtures/example-app3/.eslintrc.js
  tests/fixtures/example-app3/eslint.config.js
  tests/fixtures/example-app3/node_modules/eslint-formatter-cwd/index.js
  tests/fixtures/example-app3/node_modules/eslint-formatter-cwd/package.json
  tests/fixtures/example-app3/node_modules/eslint-plugin-test/index.js
  tests/fixtures/example-app3/node_modules/eslint-plugin-test/package.json
  tests/fixtures/example-app3/src/1.js
  tests/fixtures/example-app3/src/dist/2.js
  tests/lib/eslint/eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#17294 docs: resubmit custom-rules doc changes
  docs/src/extend/code-path-analysis.md
  docs/src/extend/custom-rules.md
  docs/src/integrate/nodejs-api.md
Labels: documentation

#17293 docs: resubmit pr17012 doc changes
  docs/src/rules/semi.md
Labels: documentation, accepted

#17284 feat: directive prologue detection and autofix condition in `quotes`
  docs/src/rules/quotes.md
  lib/rules/quotes.js
  tests/lib/rules/quotes.js
Labels: bug, rule, accepted, feature, autofix

#17292 docs: resubmit pr17061 doc changes
  docs/src/extend/plugins.md
  docs/src/rules/callback-return.md
  docs/src/rules/global-require.md
  docs/src/rules/handle-callback-err.md
  docs/src/rules/no-buffer-constructor.md
  docs/src/rules/no-mixed-requires.md
  docs/src/rules/no-new-require.md
  docs/src/rules/no-path-concat.md
  docs/src/rules/no-process-env.md
  docs/src/rules/no-process-exit.md
  docs/src/rules/no-restricted-modules.md
  docs/src/rules/no-sync.md
  docs/src/use/configure/language-options.md
  docs/src/use/integrations.md
  docs/src/use/migrate-to-8.0.0.md
  docs/src/use/migrating-to-7.0.0.md
Labels: documentation, accepted

#17295 chore: upgrade @eslint/js@8.43.0
  package.json
Labels: accepted, chore

#17132 docs: Integration section and tutorial
  docs/_examples/integration-tutorial-code/.gitignore
  docs/_examples/integration-tutorial-code/example-eslint-integration.js
  docs/_examples/integration-tutorial-code/example-eslint-integration.test.js
  docs/_examples/integration-tutorial-code/package.json
  docs/_examples/integration-tutorial-code/sample-data/test-file.js
  docs/src/contribute/index.md
  docs/src/extend/index.md
  docs/src/integrate/index.md
  docs/src/integrate/integration-tutorial.md
  docs/src/integrate/nodejs-api.md
  docs/src/maintain/index.md
  docs/src/pages/index.md
Labels: documentation, accepted

#17297 fix: Remove `no-extra-semi` autofix before potential directives
  docs/src/rules/no-extra-semi.md
  lib/rules/no-extra-semi.js
  tests/lib/rules/no-extra-semi.js
Labels: bug, rule, accepted, autofix

#17291 docs: resubmit pr 17115 doc changes
  docs/src/extend/custom-rules.md
Labels: documentation, accepted

#17135 perf: various performance improvements
  lib/cli-engine/cli-engine.js
  lib/eslint/flat-eslint.js
  lib/rules/accessor-pairs.js
  lib/rules/array-element-newline.js
  lib/rules/grouped-accessor-pairs.js
  lib/rules/indent.js
  lib/rules/max-len.js
  lib/rules/no-loss-of-precision.js
Labels: accepted, chore, contributor pool

#17301 feat: allow flat config files to export a Promise
  docs/src/use/configure/configuration-files-new.md
  tests/fixtures/promise-config/a.js
  tests/fixtures/promise-config/eslint.config.js
  tests/lib/eslint/flat-eslint.js
Labels: core, accepted, feature

#17308 refactor: remove unnecessary code in `flat-eslint.js`
  lib/eslint/flat-eslint.js
Labels: accepted, chore

#17302 feat: treat unknown nodes as having the lowest precedence
  lib/rules/logical-assignment-operators.js
  lib/rules/prefer-exponentiation-operator.js
  lib/rules/utils/ast-utils.js
  tests/fixtures/parsers/typescript-parsers/boolean-cast-with-assertion.js
  tests/fixtures/parsers/typescript-parsers/exponentiation-with-assertion-1.js
  tests/fixtures/parsers/typescript-parsers/exponentiation-with-assertion-2.js
  tests/fixtures/parsers/typescript-parsers/exponentiation-with-assertion-3.js
  tests/fixtures/parsers/typescript-parsers/logical-assignment-with-assertion.js
  tests/fixtures/parsers/typescript-parsers/logical-with-assignment-with-assertion-1.js
  tests/fixtures/parsers/typescript-parsers/logical-with-assignment-with-assertion-2.js
  tests/fixtures/parsers/typescript-parsers/logical-with-assignment-with-assertion-3.js
  tests/fixtures/parsers/typescript-parsers/member-call-expr-with-assertion.js
  tests/fixtures/parsers/typescript-parsers/unneeded-ternary-1.js
  tests/fixtures/parsers/typescript-parsers/unneeded-ternary-2.js
  tests/lib/rules/logical-assignment-operators.js
  tests/lib/rules/no-extra-boolean-cast.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-unneeded-ternary.js
  tests/lib/rules/prefer-exponentiation-operator.js
Labels: rule, accepted, feature, contributor pool

#17314 fix: Remove `no-unused-labels` autofix before potential directives
  docs/src/rules/no-unused-labels.md
  lib/rules/dot-notation.js
  lib/rules/no-restricted-modules.js
  lib/rules/no-unused-labels.js
  lib/rules/prefer-regex-literals.js
  lib/rules/utils/ast-utils.js
  lib/rules/valid-typeof.js
  lib/rules/yoda.js
  tests/lib/rules/no-unused-labels.js
  tests/lib/rules/utils/ast-utils.js
Labels: bug, rule, accepted, autofix

#17311 feat: Move `parserServices` to `SourceCode`
  docs/src/extend/custom-parsers.md
  docs/src/extend/custom-rules.md
  tests/lib/linter/linter.js
  tests/lib/rule-tester/flat-rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, feature

#17320 fix: no-unused-vars false positive with logical assignment operators
  lib/rules/no-unused-vars.js
  tests/lib/rules/no-unused-vars.js
Labels: bug, rule, accepted, contributor pool

#17323 chore: upgrade semver@7.5.3
  package.json
Labels: accepted, chore

#17315 test: More test cases for no-case-declarations
  tests/lib/rules/no-case-declarations.js
Labels: rule, accepted, chore

#17270 feat: add ternaryOperandBinaryExpressions option to no-extra-parens rule
  docs/src/rules/no-extra-parens.md
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: rule, accepted, feature

#17324 feat: add `ecmaVersion: 2024`, regexp `v` flag parsing
  README.md
  conf/globals.js
  docs/src/use/configure/language-options.md
  lib/shared/types.js
  package.json
  tests/lib/linter/linter.js
Labels: core, accepted, feature, upgrade

#17328 feat: add `es2023` and `es2024` environments
  docs/src/use/configure/language-options.md
  package.json
Labels: core, accepted, feature, upgrade

#17329 chore: upgrade @eslint/js@8.44.0
  package.json
Labels: accepted, chore
