Repository eslint/eslint, pull requests merged in 2023-08, with the labels that each got.

#17438 docs: add metadata for parser/processor
  docs/src/extend/custom-parsers.md
  docs/src/extend/custom-processors.md
  docs/src/extend/plugins.md
Labels: documentation, accepted

#17435 docs: update with "Specifying Parser Options"
  docs/src/use/configure/language-options.md
Labels: documentation

#17439 feat: update regex for methods with `thisArg`
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-eval.js
  tests/lib/rules/no-invalid-this.js
Labels: rule, accepted, feature

#17441 docs: update `require-unicode-regexp.md` as following up #17402
  docs/src/_data/further_reading_links.json
  docs/src/rules/require-unicode-regexp.md
Labels: rule, documentation, accepted

#17444 chore: Update add-to-triage.yml
  .github/workflows/add-to-triage.yml
Labels: chore

#17442 docs: document lack of config file names
  docs/src/use/configure/configuration-files-new.md
Labels: documentation, accepted

#17431 chore: standardize npm script names
  docs/package.json
Labels: accepted, chore

#17450 chore: Remove add-to-triage
  .github/workflows/add-to-triage.yml
Labels: chore

#17447 fix: do not report on shadowed constructors in `no-new-wrappers`
  lib/rules/no-new-wrappers.js
  tests/lib/rules/no-new-wrappers.js
Labels: bug, rule, accepted

#17456 chore: Update dependencies
  package.json
Labels: chore

#17465 docs: update documentation URL in error message
  messages/eslintrc-incompat.js
Labels: bug, documentation, accepted

#17282 feat: Allow `void` in rule `no-promise-executor-return`
  docs/src/rules/no-promise-executor-return.md
  lib/rules/no-promise-executor-return.js
  tests/lib/rules/no-promise-executor-return.js
Labels: rule, accepted, feature, contributor pool

#17475 feat: rule tester do not create empty valid or invalid test suites
  lib/rule-tester/flat-rule-tester.js
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/flat-rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, feature, contributor pool

#17482 docs: fix example of flat config from plugin
  docs/src/use/configure/configuration-files-new.md
Labels: documentation, accepted

#17458 docs: advice for inline disabling of rules
  docs/src/use/configure/rules.md
Labels: documentation

#17474 chore: Refactor and document CodePathSegment
  lib/linter/code-path-analysis/code-path-segment.js
Labels: accepted, chore

#17483 feat: correct update direction in `for-direction`
  docs/src/rules/for-direction.md
  lib/rules/for-direction.js
  tests/lib/rules/for-direction.js
Labels: bug, rule, accepted, feature

#17496 fix: RuleTester JSDoc and deprecations
  lib/rule-tester/flat-rule-tester.js
  lib/rule-tester/rule-tester.js
Labels: bug, core, accepted

#17459 docs: add `fetch` script to package.json conventions
  docs/src/contribute/core-rules.md
  docs/src/contribute/governance.md
  docs/src/contribute/package-json-conventions.md
  docs/src/contribute/pull-requests.md
  docs/src/contribute/report-security-vulnerability.md
  docs/src/contribute/work-on-issue.md
Labels: documentation, accepted

#17494 docs: no-param-reassign mention strict mode
  docs/src/rules/no-param-reassign.md
Labels: rule, documentation, accepted

#17501 chore: upgrade @eslint/js@8.48.0
  package.json
Labels: accepted, chore

#17512 chore: Upgrade config-array
  package.json
Labels: accepted, chore

#17126 test: replace Karma with Webdriver.IO
  .github/workflows/ci.yml
  .gitignore
  Makefile.js
  karma.conf.js
  lib/config/rule-validator.js
  package.json
  tests/lib/linter/linter.js
  wdio.conf.js
Labels: accepted, chore, contributor pool
