Repository eslint/eslint, pull requests merged in 2023-09, with the labels that each got.

#17516 chore: use eslint-plugin-jsdoc's flat config
  packages/eslint-config-eslint/base.js
  packages/eslint-config-eslint/package.json
Labels: accepted, chore

#17500 docs: add typescript template
  docs/src/_includes/layouts/doc.html
  docs/src/rules/constructor-super.md
  docs/src/rules/getter-return.md
  docs/src/rules/no-const-assign.md
  docs/src/rules/no-dupe-args.md
  docs/src/rules/no-dupe-class-members.md
  docs/src/rules/no-dupe-keys.md
  docs/src/rules/no-func-assign.md
  docs/src/rules/no-import-assign.md
  docs/src/rules/no-invalid-this.md
  docs/src/rules/no-new-symbol.md
  docs/src/rules/no-obj-calls.md
  docs/src/rules/no-redeclare.md
  docs/src/rules/no-setter-return.md
  docs/src/rules/no-this-before-super.md
  docs/src/rules/no-undef.md
  docs/src/rules/no-unreachable.md
  docs/src/rules/no-unsafe-negation.md
Labels: documentation, accepted

#17462 feat: add new `enforce` option to `lines-between-class-members`
  docs/src/rules/lines-between-class-members.md
  lib/rules/lines-between-class-members.js
  tests/lib/rules/lines-between-class-members.js
Labels: rule, accepted, feature

#17527 feat: Emit deprecation warnings in RuleTester
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, feature

#17529 docs: update `no-promise-executor-return` examples
  docs/src/rules/no-promise-executor-return.md
Labels: documentation, accepted

#17511 feat: Implement onUnreachableCodePathStart/End
  docs/src/extend/code-path-analysis.md
  eslint.config.js
  lib/linter/code-path-analysis/code-path-analyzer.js
  lib/linter/code-path-analysis/code-path.js
  lib/linter/linter.js
  lib/rule-tester/flat-rule-tester.js
  lib/rule-tester/rule-tester.js
  lib/rules/array-callback-return.js
  lib/rules/consistent-return.js
  lib/rules/constructor-super.js
  lib/rules/getter-return.js
  lib/rules/no-fallthrough.js
  lib/rules/no-this-before-super.js
  lib/rules/no-unreachable-loop.js
  lib/rules/no-unreachable.js
  lib/rules/no-useless-return.js
  lib/rules/require-atomic-updates.js
  tests/lib/linter/code-path-analysis/code-path-analyzer.js
  tests/lib/rule-tester/flat-rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, feature

#17549 chore: upgrade @eslint/js@8.49.0
  package.json
Labels: accepted, chore

#17550 chore: remove browser test from `npm test`
  Makefile.js
Labels: chore

#17564 feat: allowVoid option in array-callback-return
  docs/src/rules/array-callback-return.md
  lib/rules/array-callback-return.js
  tests/lib/rules/array-callback-return.js
Labels: rule, accepted, feature, contributor pool

#17575 docs: fix incorrect tag's place
  docs/src/rules/logical-assignment-operators.md
Labels: rule, documentation, accepted

#17571 fix: wrong suggestion and message in `no-misleading-character-class`
  lib/rules/no-misleading-character-class.js
  tests/lib/rules/no-misleading-character-class.js
Labels: bug, rule, accepted

#17589 docs: Add correct/incorrect tags to `prefer-arrow-callback`
  docs/src/rules/prefer-arrow-callback.md
Labels: rule, documentation, accepted

#17576 feat: add rule `no-object-constructor`, deprecate `no-new-object`
  docs/src/_data/rules.json
  docs/src/_data/rules_meta.json
  docs/src/rules/no-array-constructor.md
  docs/src/rules/no-new-object.md
  docs/src/rules/no-new-wrappers.md
  docs/src/rules/no-object-constructor.md
  lib/rules/index.js
  lib/rules/no-new-object.js
  lib/rules/no-object-constructor.js
  packages/js/src/configs/eslint-all.js
  tests/lib/rules/no-object-constructor.js
  tools/rule-types.json
Labels: rule, accepted, feature

#17591 docs: Fix and standardize JSX code examples
  docs/src/rules/jsx-quotes.md
  docs/src/rules/keyword-spacing.md
  docs/src/rules/no-extra-parens.md
  docs/src/rules/no-inline-comments.md
  docs/src/rules/no-irregular-whitespace.md
  docs/src/rules/no-unused-expressions.md
Labels: documentation, accepted

#17587 fix: Ensure all RuleTester tests all deprecated context methods
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: bug

#17593 fix: Ensure deprecated context.parserServices warns
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: bug, core, accepted

#17351 feat: Implement SourceCode#applyInlineConfig()
  lib/config/flat-config-schema.js
  lib/linter/linter.js
  lib/rule-tester/flat-rule-tester.js
  lib/rule-tester/rule-tester.js
  lib/source-code/source-code.js
  tests/lib/eslint/flat-eslint.js
  tests/lib/linter/linter.js
  tests/lib/rule-tester/flat-rule-tester.js
  tests/lib/rule-tester/rule-tester.js
  tests/lib/source-code/source-code.js
Labels: core, accepted, feature

#17585 feat: flat-rule-tester make sure default config always matches
  lib/rule-tester/flat-rule-tester.js
  tests/lib/rule-tester/flat-rule-tester.js
Labels: core, accepted, feature, contributor pool

#17590 feat: add suggestions to array-callback-return
  lib/rules/array-callback-return.js
  tests/lib/rules/array-callback-return.js
Labels: rule, accepted, feature, contributor pool

#17599 chore: upgrade @eslint/js@8.50.0
  package.json
Labels: accepted, chore

#17558 chore: Refactor and document CodePath
  lib/linter/code-path-analysis/code-path.js
Labels: accepted, chore

#17566 chore: Document and refactor ForkContext
  lib/linter/code-path-analysis/fork-context.js
Labels: accepted, chore

#17600 feat: logical-assignment-operators to report expressions with 3 operands
  docs/src/rules/logical-assignment-operators.md
  lib/rules/logical-assignment-operators.js
  tests/lib/rules/logical-assignment-operators.js
Labels: bug, rule, accepted, feature

#17510 chore: Refactor CodePathState
  lib/linter/code-path-analysis/code-path-state.js
Labels: accepted, chore
