Repository eslint/eslint, pull requests merged in 2023-04, with the labels that each got.

#16687 docs: switch language based on current path
  docs/src/_data/sites/en.yml
  docs/src/_data/sites/zh-hans.yml
  docs/src/_includes/components/language-switcher.html
Labels: documentation, accepted

#17020 docs: Removed the second object instance for the "no-new" rule
  docs/src/rules/no-new.md
Labels: rule, documentation, accepted

#17051 docs: Clarify `no-div-regex` rule docs
  docs/src/rules/no-div-regex.md
  lib/rules/no-div-regex.js
Labels: bug, rule, documentation, accepted

#17060 refactor: simplify new-parens rule schema
  lib/rules/new-parens.js
Labels: accepted, chore

#17061 docs: Update/remove external links, eg. point to `eslint-community`
  docs/src/extend/plugins.md
  docs/src/rules/callback-return.md
  docs/src/rules/global-require.md
  docs/src/rules/handle-callback-err.md
  docs/src/rules/no-buffer-constructor.md
  docs/src/rules/no-mixed-requires.md
  docs/src/rules/no-new-require.md
  docs/src/rules/no-path-concat.md
  docs/src/rules/no-process-env.md
  docs/src/rules/no-process-exit.md
  docs/src/rules/no-restricted-modules.md
  docs/src/rules/no-sync.md
  docs/src/use/configure/language-options.md
  docs/src/use/integrations.md
  docs/src/use/migrate-to-8.0.0.md
  docs/src/use/migrating-to-7.0.0.md
Labels: documentation, accepted

#17059 feat: Move getDeclaredVariables and getAncestors to SourceCode
  docs/src/extend/code-path-analysis.md
  docs/src/extend/custom-rules.md
  lib/linter/linter.js
  lib/rules/block-scoped-var.js
  lib/rules/camelcase.js
  lib/rules/func-names.js
  lib/rules/global-require.js
  lib/rules/no-class-assign.js
  lib/rules/no-const-assign.js
  lib/rules/no-dupe-args.js
  lib/rules/no-ex-assign.js
  lib/rules/no-func-assign.js
  lib/rules/no-import-assign.js
  lib/rules/no-lone-blocks.js
  lib/rules/no-lonely-if.js
  lib/rules/no-param-reassign.js
  lib/rules/no-restricted-exports.js
  lib/rules/no-shadow-restricted-names.js
  lib/rules/no-underscore-dangle.js
  lib/rules/no-unused-expressions.js
  lib/rules/no-unused-vars.js
  lib/rules/no-var.js
  lib/rules/prefer-arrow-callback.js
  lib/rules/prefer-const.js
  lib/rules/prefer-promise-reject-errors.js
  lib/rules/valid-typeof.js
  lib/rules/wrap-regex.js
  lib/rules/yoda.js
  lib/source-code/source-code.js
  tests/lib/source-code/source-code.js
Labels: core, accepted, feature

#17068 docs: Mention new config system is complete
  docs/src/use/configure/configuration-files-new.md
  docs/src/use/configure/configuration-files.md
Labels: documentation, accepted

#17069 chore: upgrade @eslint/js@8.38.0
  package.json
Labels: accepted, chore

#17071 chore: remove unnecessary references to the LICENSE file
  lib/rules/prefer-object-spread.js
  tests/lib/rules/prefer-object-spread.js
Labels: accepted, chore

#17072 chore: update description of `SourceCode#getDeclaredVariables`
  lib/source-code/source-code.js
Labels: documentation, chore

#17075 refactor: remove unnecessary use of `SourceCode#getAncestors` in rules
  lib/rules/no-lone-blocks.js
  lib/rules/no-lonely-if.js
  lib/rules/no-unused-expressions.js
  lib/rules/valid-typeof.js
  lib/rules/wrap-regex.js
  lib/rules/yoda.js
Labels: accepted, chore

#17066 perf: Binary search in token store `utils.search`
  lib/source-code/token-store/utils.js
Labels: chore

#17084 docs: Clarify how to add to tsc agenda
  docs/src/maintain/manage-issues.md
Labels: documentation, accepted

#17093 ci: run tests on Node.js v20
  .github/workflows/ci.yml
Labels: build

#16906 docs: Custom Rules cleanup/expansion
  docs/src/extend/custom-rules.md
  docs/src/use/migrate-to-8.0.0.md
  docs/src/use/migrating-to-5.0.0.md
Labels: documentation, accepted

#17086 feat: Implement `SourceCode#markVariableAsUsed()`
  docs/src/extend/custom-rules.md
  lib/linter/linter.js
  lib/source-code/source-code.js
  package.json
  tests/lib/rules/no-unused-vars.js
  tests/lib/rules/prefer-const.js
  tests/lib/source-code/source-code.js
Labels: accepted, feature

#17097 docs: Fix formatting in Custom Rules docs
  docs/src/extend/custom-rules.md
Labels: documentation, accepted

#17102 chore: upgrade @eslint/js@8.39.0
  package.json
Labels: accepted, chore

#17110 docs: add mastodon link in readme
  README.md
Labels: documentation

#17114 docs: explain how to include predefined globals
  docs/src/use/configure/configuration-files-new.md
Labels: documentation, accepted

#17115 docs: Fix custom rule schema docs
  docs/src/extend/custom-rules.md
Labels: documentation, accepted

#17122 perf: don't use `grapheme-splitter` on ASCII strings in key-spacing rule
  lib/rules/id-length.js
  lib/rules/key-spacing.js
  lib/shared/string-utils.js
  tests/lib/shared/string-utils.js
Labels: rule, accepted, chore

#17105 feat: add new `omitLastInOneLineClassBody` option to the `semi` rule
  docs/src/rules/semi.md
  lib/rules/semi.js
  tests/lib/rules/semi.js
Labels: rule, accepted, feature

#17108 feat: add `filename` to the rule context
  docs/src/extend/custom-rules.md
  lib/linter/linter.js
  tests/fixtures/testers/rule-tester/no-test-filename
  tests/lib/linter/linter.js
Labels: feature

#17106 feat: add `cwd` to rule context
  docs/src/extend/custom-rules.md
  docs/src/integrate/nodejs-api.md
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: accepted, feature

#17111 feat: add `physicalFilename` property to the rule context
  docs/src/extend/custom-rules.md
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: accepted, feature
