Repository eslint/eslint, pull requests merged in 2023-07, with the labels that each got.

#17331 docs: `max-len` rule `code` and `tabWidth` as positional arguments
  docs/src/rules/max-len.md
Labels: rule, documentation, accepted

#17318 feat: fix indent rule for else-if
  lib/rules/indent.js
  tests/lib/rules/indent.js
Labels: bug, rule, accepted, feature, indent

#17338 chore: move jsdoc settings to eslint-config-eslint
  .eslintrc.js
  eslint.config.js
  packages/eslint-config-eslint/eslintrc.js
  packages/eslint-config-eslint/index.js
Labels: accepted, chore

#17330 docs: add more prefer-destructuring examples with array destructuring
  docs/src/rules/prefer-destructuring.md
Labels: rule, documentation, accepted

#17332 fix: provide unique `fix` and `fix.range` objects in lint messages
  lib/linter/report-translator.js
  tests/lib/linter/linter.js
  tests/lib/linter/report-translator.js
Labels: bug, core, accepted

#17341 feat: Expose LegacyESLint in unsupported API
  lib/unsupported-api.js
  tests/lib/unsupported-api.js
Labels: accepted, feature

#17349 chore: Remove `defaultIgnores` from FlatESLint private members
  lib/eslint/flat-eslint.js
Labels: accepted, chore

#17352 chore: remove unused dependencies
  package.json
Labels: accepted, chore

#17336 chore: update eslint-config-eslint exports
  eslint.config.js
  packages/eslint-config-eslint/README.md
  packages/eslint-config-eslint/base.js
  packages/eslint-config-eslint/cjs.js
  packages/eslint-config-eslint/index.js
  packages/eslint-config-eslint/nodejs.js
  packages/eslint-config-eslint/package.json
Labels: chore

#17230 docs: Config Migration Guide
  docs/src/use/configure/migration-guide.md
Labels: documentation, accepted

#17198 docs: Expand rule options schema docs
  docs/src/extend/custom-rules.md
Labels: documentation, accepted, contributor pool

#17306 docs: add playground links to correct and incorrect code blocks
  docs/.eleventy.js
  docs/src/assets/js/main.js
  docs/src/assets/scss/docs.scss
  docs/src/rules/no-implicit-globals.md
  docs/src/rules/no-restricted-imports.md
Labels: documentation, accepted

#17358 fix: Update no-loop-func to not overlap with no-undef
  lib/rules/no-loop-func.js
  tests/lib/rules/no-loop-func.js
Labels: bug, rule, accepted, contributor pool

#17385 feat: Improve config error messages
  lib/config/flat-config-schema.js
  messages/eslintrc-incompat.js
  tests/lib/config/flat-config-array.js
  tests/lib/rule-tester/flat-rule-tester.js
Labels: core, accepted, feature

#17392 docs: fix Ignoring Files section in config migration guide
  docs/src/use/configure/migration-guide.md
Labels: documentation

#17393 fix: FlatESLint#getRulesMetaForResults shouldn't throw on unknown rules
  lib/eslint/flat-eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted

#17390 docs: Migrating `eslint-env` configuration comments
  docs/src/use/configure/migration-guide.md
Labels: documentation, accepted

#17404 feat: `no-invalid-regexp` support `v` flag
  lib/rules/no-invalid-regexp.js
  package.json
  tests/lib/rules/no-invalid-regexp.js
Labels: rule, accepted, feature, new syntax, contributor pool

#17408 feat: `no-useless-backreference` support `v` flag
  lib/rules/no-useless-backreference.js
  tests/lib/rules/no-useless-backreference.js
Labels: rule, accepted, feature, new syntax, contributor pool

#17410 feat: `prefer-regex-literals` support `v` flag
  lib/rules/prefer-regex-literals.js
  lib/rules/utils/regular-expressions.js
  tests/lib/rules/prefer-regex-literals.js
Labels: rule, accepted, feature, new syntax, contributor pool

#17407 feat: `no-regex-spaces` support `v` flag
  lib/rules/no-regex-spaces.js
  tests/lib/rules/no-regex-spaces.js
Labels: rule, accepted, feature, new syntax, contributor pool

#17406 feat: `no-misleading-character-class` support `v` flag
  docs/src/rules/no-misleading-character-class.md
  lib/rules/no-misleading-character-class.js
  lib/rules/utils/regular-expressions.js
  tests/lib/rules/no-misleading-character-class.js
Labels: rule, accepted, feature, new syntax, contributor pool

#17399 feat: Better error message for flat config plugins
  docs/src/use/configure/migration-guide.md
  lib/config/flat-config-schema.js
  messages/eslintrc-plugins.js
  tests/lib/config/flat-config-array.js
Labels: core, accepted, feature

#17409 feat: `prefer-named-capture-group` support `v` flag
  lib/rules/prefer-named-capture-group.js
  tests/lib/rules/prefer-named-capture-group.js
Labels: rule, accepted, feature, new syntax, contributor pool

#17405 feat: `no-control-regex` support `v` flag
  lib/rules/no-control-regex.js
  tests/lib/rules/no-control-regex.js
Labels: enhancement, rule, accepted, feature, new syntax, contributor pool

#17417 feat: deprecate no-return-await
  docs/src/_data/further_reading_links.json
  docs/src/_data/rules.json
  docs/src/_data/rules_meta.json
  docs/src/rules/no-return-await.md
  lib/rules/no-return-await.js
  packages/js/src/configs/eslint-all.js
Labels: rule, accepted, feature, deprecation, contributor pool

#17419 feat: `no-empty-character-class` support `v` flag
  docs/src/rules/no-empty-character-class.md
  lib/rules/no-empty-character-class.js
  tests/lib/rules/no-empty-character-class.js
Labels: rule, accepted, feature, new syntax

#17421 chore: Add PRs to triage project
  .github/workflows/add-to-triage.yml
  docs/src/contribute/work-on-issue.md
  docs/src/maintain/manage-issues.md
Labels: accepted, chore

#17420 feat: `no-useless-escape` support `v` flag
  lib/rules/no-useless-escape.js
  tests/lib/rules/no-useless-escape.js
Labels: rule, accepted, feature, new syntax, contributor pool

#17362 docs: File extension named processor deprecation
  docs/src/extend/custom-processors.md
  docs/src/extend/plugins.md
  docs/src/use/configure/migration-guide.md
Labels: bug, documentation

#17423 docs: update with TypeScript info
  docs/src/rules/constructor-super.md
  docs/src/rules/no-dupe-class-members.md
Labels: documentation

#17402 feat: `require-unicode-regexp` support `v` flag
  docs/src/rules/require-unicode-regexp.md
  lib/rules/require-unicode-regexp.js
  tests/lib/rules/require-unicode-regexp.js
Labels: rule, accepted, feature, new syntax, contributor pool

#17427 chore: Update ecosystem dependencies
  package.json
Labels: chore

#17432 docs: update script names in README
  docs/README.md
Labels: documentation, accepted
