Repository eslint/eslint, pull requests merged in 2023-02, with the labels that each got.

#16848 docs: Remove extra line numbers in example
  docs/src/rules/no-multiple-empty-lines.md
Labels: documentation, accepted

#16803 docs: Configure a Parser page
  docs/src/use/configure/ignore.md
  docs/src/use/configure/index.md
  docs/src/use/configure/parser.md
  docs/src/use/configure/plugins.md
Labels: documentation, accepted

#16845 feat: `array-callback-return` supports `Array.prototype.toSorted`
  docs/src/rules/array-callback-return.md
  lib/rules/array-callback-return.js
  tests/lib/rules/array-callback-return.js
Labels: rule, accepted, feature

#16871 docs: fix typo command-line-interface.md
  docs/src/use/command-line-interface.md
Labels: documentation, accepted

#16868 chore: Remove unused functions
  lib/eslint/eslint-helpers.js
Labels: accepted, chore

#16877 chore: type property to array-element-newline schema added
  lib/rules/array-element-newline.js
Labels: accepted, chore

#16872 fix: false positive with assignment in `no-extra-parens`
  lib/rules/no-extra-parens.js
  tests/lib/rules/no-extra-parens.js
Labels: bug, rule, accepted, contributor pool

#16797 docs: split rules documentation
  docs/src/contribute/core-rules.md
  docs/src/contribute/governance.md
  docs/src/contribute/index.md
  docs/src/extend/custom-rules.md
  docs/src/extend/index.md
Labels: documentation, accepted

#16870 chore: Update stale bot settings
  .github/workflows/stale.yml
  docs/src/maintain/review-pull-requests.md
Labels: accepted, chore

#16861 docs: Ways to Extend ESLint page
  docs/src/extend/custom-formatters.md
  docs/src/extend/custom-parsers.md
  docs/src/extend/custom-rules.md
  docs/src/extend/index.md
  docs/src/extend/plugins.md
  docs/src/extend/ways-to-extend.md
Labels: documentation, accepted

#16884 docs: fix typos
  docs/src/rules/arrow-parens.md
  lib/eslint/eslint-helpers.js
  lib/rules/logical-assignment-operators.js
  lib/rules/no-constant-binary-expression.js
  lib/rules/no-eval.js
  lib/rules/no-useless-return.js
  tests/bench/large.js
  tests/lib/eslint/flat-eslint.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/valid-jsdoc.js
Labels: documentation, accepted

#16824 docs: Shareable configs page edits and expansion
  docs/src/extend/shareable-configs.md
Labels: documentation, accepted

#16897 fix: pin esquery v1.4.0 (fixes #16896)
  package.json
Labels: bug, accepted

#16901 perf: upgrade to esquery@1.4.2
  package.json
Labels: accepted, chore, upgrade

#16782 docs: support unicode anchors
  docs/.eleventy.js
  docs/package.json
Labels: documentation, accepted

#16907 ci: use LTS node version in workflows
  .github/workflows/ci.yml
Labels: build, accepted

#16502 docs: Add PostCSS/Autoprefixer/CSSNano
  docs/.stylelintrc.json
  docs/package.json
  docs/postcss.config.js
  docs/src/assets/scss/components/docs-index.scss
  docs/src/assets/scss/components/search.scss
  docs/src/assets/scss/components/toc.scss
  docs/src/assets/scss/forms.scss
  docs/src/assets/scss/syntax-highlighter.scss
Labels: documentation, accepted

#16886 docs: Custom Formatters page cleanup/expansion
  docs/src/extend/custom-formatters.md
Labels: documentation, accepted

#16862 docs: Plugin docs cleanup & expansion
  docs/src/extend/custom-processors.md
  docs/src/extend/custom-rules.md
  docs/src/extend/plugins.md
  docs/src/extend/shareable-configs.md
  docs/src/integrate/nodejs-api.md
Labels: documentation, accepted

#16920 feat: add `afterHashbangComment` option to `lines-around-comment` rule
  docs/src/rules/lines-around-comment.md
  lib/rules/lines-around-comment.js
  tests/lib/rules/lines-around-comment.js
Labels: rule, accepted, feature, contributor pool

#16928 chore: upgrade @eslint/eslintrc@2.0.0
  eslint.config.js
  package.json
Labels: accepted, chore

#16935 chore: upgrade @eslint/js@8.35.0
  package.json
Labels: accepted, chore

#16837 docs: detect and fix broken links
  .github/workflows/ci.yml
  conf/rule-type-list.json
  docs/package.json
  docs/src/_data/rules.json
  docs/src/extend/custom-rules-deprecated.md
  docs/src/extend/custom-rules.md
  docs/src/use/configure/index.md
  docs/tools/validate-links.js
Labels: documentation, accepted
