Repository eslint/eslint, pull requests merged in 2023-01, with the labels that each got.

#16658 feat: add suggestions for redundant wrapping in prefer-regex-literals
  lib/rules/prefer-regex-literals.js
  tests/lib/rules/prefer-regex-literals.js
Labels: enhancement, rule, accepted, feature

#16740 chore: Add new issues to triage project
  .github/workflows/add-to-triage.yml
Labels: accepted, chore

#16768 docs: use inline code for rule options name
  docs/src/rules/class-methods-use-this.md
  docs/src/rules/eqeqeq.md
  docs/src/rules/func-name-matching.md
  docs/src/rules/generator-star-spacing.md
Labels: rule, documentation, accepted

#16758 chore: sync templates/*.md files with issue templates
  templates/bug-report.md
  templates/rule-change-proposal.md
  templates/rule-proposal.md
Labels: documentation, accepted, chore

#16541 docs: deploy prerelease docs under the `/docs/next/` path
  Makefile.js
  docs/.eleventy.js
  docs/src/_data/config.json
  docs/src/_includes/components/nav-version-switcher.html
  docs/src/_includes/components/version-switcher.html
  docs/src/_includes/partials/versions-list.html
Labels: documentation, accepted

#16752 docs: fix theme switcher button
  docs/src/assets/scss/components/theme-switcher.scss
Labels: documentation, accepted

#16757 fix: ignore directives for no-fallthrough
  docs/src/rules/no-fallthrough.md
  lib/linter/linter.js
  lib/rules/no-fallthrough.js
  lib/shared/directives.js
  tests/lib/linter/linter.js
  tests/lib/rules/no-fallthrough.js
Labels: bug, rule, accepted

#16800 Replace removed related rules with one valid rule
  docs/src/rules/space-before-function-paren.md
Labels: rule, documentation, accepted

#16789 docs: add example for nodejs lintText api
  docs/src/integrate/nodejs-api.md
Labels: documentation, accepted

#16809 docs: 'a .eslint' -> 'an .eslint'
  README.md
  docs/src/use/configure/configuration-files.md
  docs/src/use/configure/ignore.md
  docs/src/use/getting-started.md
  docs/src/use/migrating-from-jscs.md
  docs/src/use/migrating-to-3.0.0.md
  docs/src/use/migrating-to-7.0.0.md
  tests/lib/cli-engine/cli-engine.js
  tests/lib/eslint/eslint.js
Labels: documentation, accepted

#16779 docs: Remove Google Group icon
  docs/src/_includes/components/social-icons.html
  docs/src/assets/scss/components/social-icons.scss
Labels: documentation, accepted

#16776 docs: no-constant-condition: Add multi-comparison example
  docs/src/rules/no-constant-condition.md
Labels: rule, documentation, accepted

#16822 docs: add background to code-path-diagrams for dark-mode
  docs/.eleventy.js
  docs/src/assets/scss/docs.scss
  docs/src/assets/scss/tokens/themes.scss
  docs/src/contribute/architecture/index.md
  docs/src/extend/code-path-analysis.md
Labels: documentation, accepted, contributor pool

#16760 docs: Update page titles, section landing pages, and side TOC
  CONTRIBUTING.md
  README.md
  docs/package.json
  docs/src/contribute/architecture/index.md
  docs/src/contribute/development-environment.md
  docs/src/contribute/governance.md
  docs/src/contribute/index.md
  docs/src/contribute/propose-new-rule.md
  docs/src/contribute/propose-rule-change.md
  docs/src/contribute/pull-requests.md
  docs/src/contribute/report-bugs.md
  docs/src/contribute/request-change.md
  docs/src/contribute/source-code.md
  docs/src/contribute/tests.md
  docs/src/contribute/work-on-issue.md
  docs/src/extend/custom-formatters.md
  docs/src/extend/custom-parsers.md
  docs/src/extend/custom-rules.md
  docs/src/extend/index.md
  docs/src/extend/plugins.md
  docs/src/extend/shareable-configs.md
  docs/src/integrate/nodejs-api.md
  docs/src/maintain/index.md
  docs/src/maintain/manage-issues.md
  docs/src/maintain/manage-releases.md
  docs/src/maintain/review-pull-requests.md
  docs/src/maintain/working-groups.md
  docs/src/pages/index.md
  docs/src/pages/rules.md
  docs/src/rules/id-denylist.md
  docs/src/use/command-line-interface.md
  docs/src/use/configure/configuration-files-new.md
  docs/src/use/configure/configuration-files.md
  docs/src/use/configure/ignore.md
  docs/src/use/configure/index.md
  docs/src/use/configure/language-options.md
  docs/src/use/configure/plugins.md
  docs/src/use/configure/rules.md
  docs/src/use/core-concepts.md
  docs/src/use/formatters/index.md
  docs/src/use/getting-started.md
  docs/src/use/index.md
  docs/src/use/integrations.md
  docs/src/use/migrate-to-8.0.0.md
  packages/eslint-config-eslint/README.md
  templates/formatter-examples.md.ejs
Labels: documentation, accepted

#16785 feat: add `restrictDefaultExports` option to no-restricted-exports rule
  docs/src/rules/no-restricted-exports.md
  lib/rules/no-restricted-exports.js
  tests/lib/rules/no-restricted-exports.js
Labels: rule, accepted, feature

#16808 docs: Report a Security Vulnerability page
  docs/src/contribute/index.md
  docs/src/contribute/report-security-vulnerability.md
Labels: documentation, accepted

#16781 docs: Code of Conduct page
  docs/src/contribute/code-of-conduct.md
Labels: triage, documentation

#16802 docs: Custom processors page
  docs/src/extend/custom-processors.md
  docs/src/extend/index.md
  docs/src/extend/plugins.md
  docs/src/extend/shareable-configs.md
  docs/src/integrate/nodejs-api.md
Labels: documentation, accepted

#16780 docs: 'Source Code' content in 'Set up Development Environment' page
  docs/src/contribute/development-environment.md
  docs/src/contribute/index.md
  docs/src/contribute/source-code.md
Labels: documentation, accepted

#16835 docs: Fix examples in no-multiple-empty-lines rule
  docs/src/rules/no-multiple-empty-lines.md
Labels: documentation, accepted
