Repository eslint/eslint, pull requests merged in 2023-03, with the labels that each got.

#16784 feat: use @eslint-community dependencies
  lib/rules/no-control-regex.js
  lib/rules/no-extra-boolean-cast.js
  lib/rules/no-extra-parens.js
  lib/rules/no-implied-eval.js
  lib/rules/no-import-assign.js
  lib/rules/no-invalid-regexp.js
  lib/rules/no-misleading-character-class.js
  lib/rules/no-obj-calls.js
  lib/rules/no-promise-executor-return.js
  lib/rules/no-regex-spaces.js
  lib/rules/no-setter-return.js
  lib/rules/no-useless-backreference.js
  lib/rules/prefer-exponentiation-operator.js
  lib/rules/prefer-named-capture-group.js
  lib/rules/prefer-object-spread.js
  lib/rules/prefer-regex-literals.js
  lib/rules/require-unicode-regexp.js
  lib/rules/wrap-iife.js
  lib/source-code/source-code.js
  lib/source-code/token-store/index.js
  package.json
  tests/lib/rules/no-invalid-regexp.js
Labels: accepted, feature, chore

#16887 docs: Custom Parsers cleanup/expansion
  docs/src/extend/custom-parsers.md
Labels: documentation, accepted

#16964 chore: lint more js files in docs
  .eslintignore
  .eslintrc.js
  docs/postcss.config.js
  docs/tools/validate-links.js
  eslint.config.js
  tools/fetch-docs-links.js
Labels: accepted, chore

#16967 docs: fix estree link in custom formatters docs
  docs/src/extend/custom-formatters.md
Labels: documentation, accepted

#16944 feat: Serialize parsers/processors in flat config
  lib/config/flat-config-array.js
  tests/lib/config/flat-config-array.js
Labels: accepted, feature

#16807 feat: Add `checkJSDoc` option to multiline-comment-style
  docs/src/rules/multiline-comment-style.md
  lib/rules/multiline-comment-style.js
  tests/lib/rules/multiline-comment-style.js
Labels: rule, accepted, feature, contributor pool

#16976 chore: upgrade espree@9.5.0
  package.json
Labels: accepted, chore, dependencies

#16977 chore: upgrade @eslint/eslintrc@2.0.1
  package.json
Labels: accepted, chore, dependencies

#16978 chore: upgrade @eslint/js@8.36.0
  package.json
Labels: accepted, chore, dependencies

#16939 docs: Copy edits on Maintain ESLint docs
  docs/src/maintain/index.md
  docs/src/maintain/manage-issues.md
  docs/src/maintain/manage-releases.md
  docs/src/maintain/review-pull-requests.md
  docs/src/maintain/working-groups.md
Labels: documentation, accepted

#16982 docs: update `Array.prototype.toSorted` specification link
  docs/src/rules/array-callback-return.md
Labels: rule, documentation, accepted

#16983 docs: Add example to guard-for-in docs.
  docs/src/rules/guard-for-in.md
Labels: documentation, accepted

#16987 ci: pin Node 19 to 19.7.0
  .github/workflows/ci.yml
Labels: build, accepted, chore

#16986 docs: Describe guard options for guard-for-in.
  docs/src/rules/guard-for-in.md
Labels: documentation, accepted

#16961 docs: 'How ESLint is Maintained' page
  docs/src/maintain/index.md
  docs/src/maintain/manage-issues.md
  docs/src/maintain/manage-releases.md
  docs/src/maintain/overview.md
  docs/src/maintain/review-pull-requests.md
  docs/src/maintain/working-groups.md
Labels: documentation, accepted

#16990 chore: Remove triage label from template
  .github/ISSUE_TEMPLATE/change.yml
Labels: triage, chore

#16993 ci: unpin Node 19
  .github/workflows/ci.yml
Labels: build, accepted, chore

#16985 feat: languageOptions.parser must be an object.
  docs/src/use/configure/configuration-files-new.md
  lib/config/default-config.js
  lib/config/flat-config-array.js
  lib/config/flat-config-schema.js
  tests/lib/config/flat-config-array.js
  tests/lib/eslint/flat-eslint.js
  tests/lib/linter/linter.js
Labels: enhancement, core, accepted, feature

#17000 Fix a typo in `logical-assignment-operators` rule description
  lib/rules/logical-assignment-operators.js
Labels: bug, rule, documentation, accepted

#16889 fix: `getFirstToken`/`getLastToken` on comment-only node
  lib/source-code/token-store/utils.js
  tests/fixtures/parsers/all-comments-parser.js
  tests/lib/source-code/token-store.js
Labels: bug, core, accepted

#16838 docs: Custom Processors cleanup and expansion
  docs/src/extend/custom-processors.md
Labels: documentation, accepted

#17010 feat: docs license
  docs/README.md
  docs/src/_data/sites/en.yml
  docs/src/_data/sites/zh-hans.yml
Labels: documentation, accepted, feature

#16992 feat: Use plugin metadata for flat config serialization
  docs/src/extend/plugins.md
  lib/config/flat-config-array.js
  tests/lib/config/flat-config-array.js
Labels: core, accepted, feature

#17005 docs: remove duplicate scss
  docs/.stylelintrc.json
  docs/src/assets/scss/components/alert.scss
  docs/src/assets/scss/components/theme-switcher.scss
  docs/src/assets/scss/components/toc.scss
  docs/src/assets/scss/foundations.scss
  docs/src/assets/scss/tokens/spacing.scss
  docs/src/assets/scss/tokens/typography.scss
Labels: documentation, accepted

#16979 docs: add back to top button
  docs/src/_includes/layouts/base.html
  docs/src/_includes/layouts/doc.html
  docs/src/assets/js/scroll-up-btn.js
  docs/src/assets/scss/docs.scss
  docs/src/assets/scss/print.scss
Labels: documentation, accepted, contributor pool

#17012 docs: Fixed typos in `semi.md`
  docs/src/rules/semi.md
Labels: rule, documentation, accepted

#17023 fix: correctly handle `null` default config in `RuleTester`
  lib/rule-tester/flat-rule-tester.js
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/flat-rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: bug, core, accepted

#17007 feat: `require-unicode-regexp` add suggestions
  lib/rules/no-misleading-character-class.js
  lib/rules/prefer-regex-literals.js
  lib/rules/require-unicode-regexp.js
  lib/rules/utils/regular-expressions.js
  tests/lib/rules/require-unicode-regexp.js
Labels: rule, accepted, feature, contributor pool

#17029 docs: fix typos and missing info
  docs/src/rules/id-match.md
Labels: rule, documentation, accepted

#17030 chore: upgrade eslint-visitor-keys@3.4.0
  package.json
Labels: accepted, chore

#17031 chore: upgrade espree@9.5.1
  package.json
Labels: accepted, chore

#17032 chore: upgrade @eslint/eslintrc@2.0.2
  package.json
Labels: accepted, chore

#17033 chore: upgrade @eslint/js@8.37.0
  package.json
Labels: accepted, chore

#17037 fix: do not report on `RegExp(...args)` in `require-unicode-regexp`
  lib/rules/require-unicode-regexp.js
  tests/lib/rules/require-unicode-regexp.js
Labels: bug, rule, accepted
