Repository eslint/eslint, pull requests merged in 2024-07, with the labels that each got.

#18640 docs: revert `loadESLint` does not support option `cwd`
  docs/src/integrate/nodejs-api.md
Labels: documentation

#18641 docs: `loadESLint` does not support option `cwd`
  docs/src/integrate/nodejs-api.md
Labels: documentation

#18650 refactor: move "Parsing error" prefix adding to Linter
  lib/languages/js/index.js
  lib/linter/linter.js
Labels: core, chore

#18622 feat: add `regex` option in `no-restricted-imports`
  docs/src/rules/no-restricted-imports.md
  lib/rules/no-restricted-imports.js
  tests/lib/rules/no-restricted-imports.js
Labels: rule, accepted, feature

#18653 refactor: don't use `parent` property in `NodeEventGenerator`
  lib/linter/node-event-generator.js
  tests/lib/linter/node-event-generator.js
Labels: core, chore

#18633 docs: Add Powered by Algolia label to the search.
  docs/src/_includes/components/search.html
  docs/src/assets/scss/components/search.scss
Labels: documentation

#18624 chore: add tech sponsors through actions
  README.md
  tools/update-readme.js
Labels: accepted, chore

#18652 refactor: Add type references
  lib/languages/js/index.js
  lib/languages/js/source-code/source-code.js
  lib/linter/apply-disable-directives.js
  lib/linter/linter.js
  lib/linter/vfile.js
  package.json
Labels: core, chore

#18660 chore: ignore `/docs/v8.x` in link checker
  docs/tools/validate-links.js
Labels: chore

#18636 fix: destructuring in catch clause in `no-unused-vars`
  lib/rules/no-unused-vars.js
  package.json
  tests/lib/rules/no-unused-vars.js
Labels: bug, rule, accepted

#18680 chore: upgrade @eslint/js@9.7.0
  package.json
Labels: chore

#18682 docs: fix search input stylings
  docs/src/assets/scss/components/search.scss
Labels: documentation

#18658 docs: Add Powered by Algolia label to the search
  docs/src/_includes/components/search.html
  docs/src/assets/scss/components/search.scss
Labels: documentation, chore

#18681 build: Enable JSON linting
  Makefile.js
  eslint.config.js
  package.json
Labels: build, accepted

#18711 fix: `basePath` directory can never be ignored
  package.json
  tests/lib/eslint/eslint.js
Labels: bug, core, accepted

#18705 fix: Throw error when invalid flags passed
  docs/src/_data/flags.js
  docs/src/pages/flags.md
  docs/src/use/formatters/index.md
  docs/src/use/integrations.md
  docs/src/use/migrate-to-9.0.0.md
  docs/src/use/troubleshooting/index.md
  lib/cli.js
  lib/linter/linter.js
  lib/shared/flags.js
  templates/formatter-examples.md.ejs
  tests/lib/cli.js
  tests/lib/eslint/eslint.js
  tests/lib/linter/linter.js
Labels: bug, cli, core, accepted

#18617 docs: Add system theme option
  docs/src/_data/sites/en.yml
  docs/src/_data/sites/zh-hans.yml
  docs/src/_includes/components/theme-switcher.html
  docs/src/_includes/layouts/base.html
  docs/src/assets/js/themes.js
  docs/src/assets/scss/components/theme-switcher.scss
Labels: documentation, accepted

#18703 feat: Add and use SourceCode#getLoc/getRange
  lib/languages/js/source-code/source-code.js
  lib/linter/apply-disable-directives.js
  lib/linter/linter.js
  lib/linter/report-translator.js
  lib/linter/rule-fixer.js
  package.json
  tests/lib/linter/apply-disable-directives.js
  tests/lib/linter/rule-fixer.js
  tests/lib/rules/utils/fix-tracker.js
Labels: core, accepted, feature

#18719 chore: package.json revert @eslint/js version to 9.7.0
  packages/js/package.json
Labels: chore

#18720 chore: upgrade to `@eslint/js@9.8.0`
  package.json
Labels: chore
