Repository eslint/eslint, pull requests merged in 2024-02, with the labels that each got.

#18043 feat!: `no-unused-vars` default caughtErrors to 'all'
  docs/src/rules/no-unused-vars.md
  docs/src/use/migrate-to-9.0.0.md
  lib/rules/no-unused-vars.js
  tests/lib/rules/no-unused-vars.js
Labels: accepted, breaking, feature

#18066 feat: Enable `eslint.config.mjs` and `eslint.config.cjs`
  docs/src/use/configure/configuration-files-new.md
  lib/eslint/flat-eslint.js
  lib/options.js
  tests/fixtures/cjs-config/eslint.config.cjs
  tests/fixtures/cjs-config/foo.js
  tests/fixtures/js-mjs-cjs-config/eslint.config.cjs
  tests/fixtures/js-mjs-cjs-config/eslint.config.js
  tests/fixtures/js-mjs-cjs-config/eslint.config.mjs
  tests/fixtures/js-mjs-cjs-config/foo.js
  tests/fixtures/mjs-cjs-config/eslint.config.cjs
  tests/fixtures/mjs-cjs-config/eslint.config.mjs
  tests/fixtures/mjs-cjs-config/foo.js
  tests/fixtures/mjs-config/eslint.config.mjs
  tests/fixtures/mjs-config/foo.js
  tests/lib/eslint/flat-eslint.js
Labels: core, accepted, feature

#18065 fix: deep merge behavior in flat config
  lib/config/flat-config-schema.js
  tests/lib/config/flat-config-schema.js
Labels: bug, core, accepted

#18067 fix: Ensure config keys are printed for config errors
  package.json
  tests/bin/eslint.js
  tests/fixtures/bin/eslint.config-invalid-key.js
  tests/lib/config/flat-config-array.js
Labels: bug, core, accepted

#18068 test: add more tests for ignoring files and directories
  tests/fixtures/ignores-directory-deep/tests/format/foo.js
  tests/fixtures/ignores-directory-deep/tests/format/jsfmt.spec.js
  tests/fixtures/ignores-directory-deep/tests/format/subdir/foo.js
  tests/fixtures/ignores-directory-deep/tests/format/subdir/jsfmt.spec.js
  tests/lib/eslint/flat-eslint.js
Labels: accepted, chore

#18064 fix: handle absolute file paths in `FlatRuleTester`
  lib/rule-tester/flat-rule-tester.js
  tests/lib/rule-tester/flat-rule-tester.js
Labels: bug, core, accepted

#17654 feat!: Stricter rule test validations
  docs/src/integrate/nodejs-api.md
  lib/rule-tester/rule-tester.js
  tests/fixtures/testers/rule-tester/suggestions.js
  tests/lib/rule-tester/rule-tester.js
  tests/lib/rules/array-callback-return.js
  tests/lib/rules/max-params.js
  tests/lib/rules/no-array-constructor.js
  tests/lib/rules/no-object-constructor.js
  tests/lib/rules/no-useless-return.js
  tests/lib/rules/one-var-declaration-per-line.js
Labels: accepted, breaking, feature, contributor pool

#18054 feat!: default for `enforceForClassMembers` in `no-useless-computed-key`
  docs/src/rules/no-useless-computed-key.md
  docs/src/use/migrate-to-9.0.0.md
  lib/rules/no-useless-computed-key.js
  tests/lib/rules/no-useless-computed-key.js
Labels: rule, accepted, breaking, feature

#18074 docs: document languageOptions and other v9 changes for context
  docs/src/extend/custom-rules.md
Labels: documentation, accepted, contributor pool

#18048 docs: Update team responsibilities
  docs/src/contribute/governance.md
Labels: documentation, accepted

#18079 chore: update dependency shelljs to ^0.8.5
  package.json
Labels: chore

#18080 docs: link from `--fix` CLI doc to the relevant core concept
  docs/src/use/command-line-interface.md
Labels: documentation, accepted

#18078 docs: fix malformed `eslint` config comments in rule examples
  docs/src/rules/lines-around-comment.md
  tests/fixtures/bad-examples.md
  tests/tools/check-rule-examples.js
  tools/check-rule-examples.js
Labels: documentation, accepted

#18083 docs: use relative link from CLI to core concepts
  docs/src/use/command-line-interface.md
Labels: documentation, accepted

#18085 docs: add stricter rule test validations to v9 migration guide
  docs/src/use/migrate-to-9.0.0.md
Labels: documentation, accepted

#18059 fix: `use-isnan` doesn't report on `SequenceExpression`s
  docs/src/rules/use-isnan.md
  lib/rules/use-isnan.js
  tests/lib/rules/use-isnan.js
Labels: bug, rule, accepted, contributor pool

#18092 docs: JS Foundation -> OpenJS Foundation in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, accepted

#18102 docs: Switch to Ethical Ads on the `latest` branch
  docs/src/_data/sites/en.yml
  docs/src/_includes/components/hero.macro.html
  docs/src/_includes/layouts/doc.html
  docs/src/_includes/partials/ad.html
  docs/src/assets/scss/ads.scss
  docs/src/assets/scss/styles.scss
Labels: documentation, accepted

#18090 docs: Switch to Ethical Ads
  docs/src/_data/sites/en.yml
  docs/src/_includes/components/hero.macro.html
  docs/src/_includes/layouts/doc.html
  docs/src/_includes/partials/ad.html
  docs/src/assets/scss/ads.scss
  docs/src/assets/scss/styles.scss
Labels: documentation, accepted

#18097 feat: Add loadESLint() API method for v9
  docs/src/integrate/nodejs-api.md
  lib/api.js
  lib/eslint/eslint.js
  lib/eslint/legacy-eslint.js
  tests/lib/api.js
  tests/lib/eslint/eslint.js
  tests/lib/eslint/legacy-eslint.js
Labels: accepted, feature

#18073 feat!: Rule Tester checks for missing placeholder data in the message
  docs/src/use/migrate-to-9.0.0.md
  lib/linter/index.js
  lib/linter/interpolate.js
  lib/linter/report-translator.js
  lib/rule-tester/rule-tester.js
  tests/fixtures/testers/rule-tester/messageId.js
  tests/fixtures/testers/rule-tester/suggestions.js
  tests/lib/linter/interpolate.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, breaking, feature, contributor pool

#18105 chore: upgrade eslint-visitor-keys@4.0.0
  package.json
Labels: chore

#18106 chore: upgrade espree@10.0.1
  package.json
Labels: chore

#18107 chore: upgrade @eslint/eslintrc@3.0.1
  package.json
Labels: chore

#18108 chore: upgrade @eslint/js@9.0.0-beta.0
  package.json
Labels: chore

#18112 docs: Update link for schema examples
  docs/src/extend/custom-rules.md
Labels: bug, documentation, accepted

#18115 refactor: remove `globals` dependency
  lib/rules/no-constant-binary-expression.js
  lib/rules/no-extend-native.js
  lib/rules/utils/ast-utils.js
  package.json
  tests/lib/rules/utils/ast-utils.js
Labels: accepted, chore

#18117 docs: Switch to Ethical Ads
  docs/src/_data/sites/en.yml
  docs/src/_includes/components/hero.macro.html
  docs/src/_includes/layouts/doc.html
  docs/src/_includes/partials/ad.html
  docs/src/assets/scss/ads.scss
  docs/src/assets/scss/styles.scss
Labels: documentation, accepted

#18098 feat: Add loadESLint() API method for v8
  docs/src/integrate/nodejs-api.md
  lib/api.js
  lib/eslint/eslint.js
  lib/eslint/flat-eslint.js
  tests/lib/api.js
  tests/lib/eslint/eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: accepted, feature

#18116 docs: Disallow multiple rule configuration comments in the same example
  docs/src/rules/func-name-matching.md
  docs/src/rules/lines-around-comment.md
  tests/fixtures/bad-examples.md
  tests/tools/check-rule-examples.js
  tools/check-rule-examples.js
Labels: documentation, accepted

#18119 chore: export `base` config from `eslint-config-eslint`
  packages/eslint-config-eslint/README.md
  packages/eslint-config-eslint/package.json
Labels: accepted, chore

#18063 feat: add suggestions to `use-isnan` in `indexOf` & `lastIndexOf` calls
  lib/rules/use-isnan.js
  tests/lib/rules/use-isnan.js
Labels: rule, accepted, feature, contributor pool

#18109 ci: add PR labeler action
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: build, accepted

#18124 fix: sync-labels value of pr-labeler
  .github/workflows/pr-labeler.yml
Labels: bug, accepted

#18125 chore: remove unused tools: rule-types.json, update-rule-types.js
  Makefile.js
  tools/rule-types.json
  tools/update-rule-types.js
Labels: accepted, chore

#18128 chore: fix spelling mistake in README.md
  README.md
Labels: accepted, chore

#18138 chore: upgrade eslint-release@3.2.2
  package.json
Labels: accepted, chore

#18135 docs: Show prerelease version in dropdown
  docs/package.json
  docs/src/_data/eslintNextVersion.js
  docs/src/_includes/components/nav-version-switcher.html
  docs/src/_includes/components/version-switcher.html
  docs/src/_includes/partials/versions-list.html
Labels: documentation, accepted

#18139 docs: Show prerelease version in dropdown
  docs/package.json
  docs/src/_data/eslintNextVersion.js
  docs/src/_includes/components/nav-version-switcher.html
  docs/src/_includes/components/version-switcher.html
  docs/src/_includes/partials/versions-list.html
Labels: documentation, accepted

#18143 chore: upgrade @eslint/js@8.57.0
  package.json
Labels: chore

#18142 docs: show v8.57.0 as latest version in dropdown
  docs/src/_data/config.json
Labels: documentation

#18144 build: changelog update for 8.57.0
  CHANGELOG.md
Labels: build

#18145 chore: upgrade @eslint/eslintrc@3.0.2
  package.json
Labels: chore

#18146 chore: upgrade @eslint/js@9.0.0-beta.1
  package.json
Labels: chore

#16196 feat: `no-restricted-imports` option added `allowImportNames`
  docs/src/rules/no-restricted-imports.md
  lib/rules/no-restricted-imports.js
  tests/lib/rules/no-restricted-imports.js
Labels: enhancement, rule, accepted, feature, contributor pool

#18154 docs: fix `ignore` option docs
  docs/src/integrate/nodejs-api.md
Labels: documentation, accepted

#18155 fix: stop linting files after an error
  lib/eslint/eslint.js
  tests/lib/eslint/eslint.js
Labels: bug, cli, core, accepted

#18158 docs: add inline cases condition in `no-fallthrough`
  docs/src/rules/no-fallthrough.md
Labels: documentation
