Repository eslint/eslint, pull requests merged in 2024-10, with the labels that each got.

#18973 docs: Mention plugin-kit in language docs
  docs/src/extend/languages.md
Labels: documentation, accepted

#18954 feat: update to `jiti` v2
  docs/src/use/configure/configuration-files.md
  lib/config/config-loader.js
  package.json
  tests/lib/eslint/eslint.js
Labels: core, accepted, feature, contributor pool

#18976 docs: Clarify how to exclude `.js` files
  docs/src/use/configure/configuration-files.md
Labels: documentation, accepted

#18697 docs: Clarifying the Use of Meta Objects
  docs/src/extend/custom-processors.md
  docs/src/extend/plugin-migration-flat-config.md
Labels: documentation, accepted

#18978 docs: Mention code explorer
  docs/src/extend/code-path-analysis.md
  docs/src/extend/custom-rule-tutorial.md
  docs/src/extend/custom-rules.md
Labels: documentation, accepted

#18979 chore: Enable JSON5 linting
  eslint.config.js
  package.json
Labels: chore

#18982 refactor: replace strip-ansi with native module
  Makefile.js
  lib/cli-engine/formatters/stylish.js
  package.json
Labels: cli, accepted, chore, formatter

#18987 chore: upgrade to `@eslint/js@9.12.0`
  package.json
Labels: chore

#18974 docs: Updates for v8 EOL
  docs/src/_includes/layouts/base.html
Labels: documentation, accepted

#18988 docs: Use prerendered sponsors for README
  README.md
  tools/update-readme.js
Labels: documentation, accepted

#18993 chore: remove unused ignore dependency
  knip.jsonc
Labels: accepted, chore

#18992 ci: upgrade knip@5.32.0
  package.json
Labels: build, accepted

#18997 docs: Add example with side-effect imports to no-restricted-imports
  docs/src/rules/no-restricted-imports.md
Labels: rule, documentation, accepted

#18983 feat: export `ESLint.defaultConfig`
  docs/src/integrate/nodejs-api.md
  lib/config/default-config.js
  lib/eslint/eslint.js
  lib/types/index.d.ts
  tests/lib/eslint/eslint.js
Labels: cli, core, accepted, feature

#18925 fix: update rule types
  lib/types/rules/best-practices.d.ts
  lib/types/rules/deprecated.d.ts
  lib/types/rules/ecmascript-6.d.ts
  lib/types/rules/stylistic-issues.d.ts
  lib/types/rules/variables.d.ts
Labels: bug, accepted

#19006 docs: Update examples of passing multiple values to a CLI option
  docs/src/use/command-line-interface.md
Labels: documentation, cli, accepted

#18996 feat: drop support for jiti v1.21
  docs/src/use/configure/configuration-files.md
  lib/config/config-loader.js
  tests/fixtures/ts-config-files/ts/eslint.undefined.config.ts
  tests/lib/eslint/eslint.js
Labels: core, accepted, feature

#19018 docs: update deprecated rules type definitions
  lib/types/rules/best-practices.d.ts
  lib/types/rules/ecmascript-6.d.ts
  lib/types/rules/possible-errors.d.ts
  lib/types/rules/stylistic-issues.d.ts
Labels: documentation, accepted

#19021 test: fix `ESLint` tests
  tests/lib/eslint/eslint.js
Labels: accepted, chore

#19023 feat: Improve eslintrc warning message
  lib/cli.js
Labels: cli, accepted, feature

#19012 perf: using Node.js compile cache
  bin/eslint.js
  eslint.config.js
  packages/eslint-config-eslint/package.json
Labels: accepted, chore

#19027 fix: update the `complexity` rule type
  lib/types/rules/best-practices.d.ts
Labels: bug, accepted

#19003 feat: Allow languages to provide `defaultLanguageOptions`
  docs/src/extend/languages.md
  lib/cli.js
  lib/config/config.js
  lib/config/default-config.js
  lib/languages/js/index.js
  lib/linter/linter.js
  lib/rule-tester/rule-tester.js
  tests/lib/cli-engine/cli-engine.js
  tests/lib/config/flat-config-array.js
  tests/lib/linter/linter.js
  tests/lib/rule-tester/rule-tester.js
Labels: cli, core, accepted, feature

#19036 test: ensure tmp directory cleanup in `check-emfile-handling.js`
  tools/check-emfile-handling.js
Labels: accepted, chore

#19035 fix: avoid call stack overflow while processing globs
  lib/eslint/eslint-helpers.js
Labels: bug, cli, core, accepted, repro:yes, contributor pool

#19049 docs: change link from @types/eslint to lib/types
  docs/src/use/configure/migration-guide.md
Labels: documentation, accepted

#19042 perf: Fix caching in config loaders
  lib/config/config-loader.js
  tests/fixtures/simple-valid-project-2/bar.js
  tests/fixtures/simple-valid-project-2/eslint.config.js
  tests/fixtures/simple-valid-project-2/foo.js
  tests/lib/config/config-loader.js
Labels: core, accepted, chore

#19067 fix: Don't crash when directory is deleted during traversal.
  package.json
Labels: bug, accepted

#19068 build: update `@wdio/*` dependencies
  package.json
Labels: build

#19075 test: add `no-invalid-regexp` tests with RegExp Modifiers
  tests/lib/rules/no-invalid-regexp.js
Labels: accepted, chore, new syntax

#19084 docs: update `context.languageOptions.parser` description
  docs/src/extend/custom-rules.md
Labels: documentation
