Repository eslint/eslint, pull requests merged in 2024-09, with the labels that each got.

#18837 feat: add error message for duplicate flags in `no-invalid-regexp`
  lib/rules/no-invalid-regexp.js
  tests/lib/rules/no-invalid-regexp.js
Labels: rule, accepted, feature

#18835 refactor: don't use `node.value` when removing unused directives
  lib/linter/apply-disable-directives.js
  lib/linter/linter.js
  tests/lib/linter/apply-disable-directives.js
Labels: core, accepted, chore

#18857 docs: specify that `ruleId` can be `null` in custom formatter docs
  docs/src/extend/custom-formatters.md
Labels: documentation, core, accepted

#18849 feat: limit namespace import identifier in id-length rule
  lib/rules/id-length.js
  tests/lib/rules/id-length.js
Labels: rule, accepted, feature, contributor pool

#18865 docs: update README
  README.md
Labels: documentation, accepted

#18854 feat: Add types
  .github/workflows/ci.yml
  .github/workflows/types-integration.yml
  eslint.config.js
  lib/types/index.d.ts
  lib/types/rules/best-practices.d.ts
  lib/types/rules/deprecated.d.ts
  lib/types/rules/ecmascript-6.d.ts
  lib/types/rules/index.d.ts
  lib/types/rules/node-commonjs.d.ts
  lib/types/rules/possible-errors.d.ts
  lib/types/rules/strict-mode.d.ts
  lib/types/rules/stylistic-issues.d.ts
  lib/types/rules/variables.d.ts
  lib/types/use-at-your-own-risk.d.ts
  package.json
  tests/lib/types/tsconfig.json
  tests/lib/types/types.test.ts
Labels: accepted, feature, github actions

#18866 chore: upgrade to @eslint/js@9.10.0
  package.json
Labels: chore

#18869 chore: enable `$ExpectType` comments in .ts files
  eslint.config.js
  package.json
  tests/lib/types/types.test.ts
Labels: chore

#18882 chore: Update change.yml
  .github/ISSUE_TEMPLATE/change.yml
Labels: accepted, chore

#18880 fix: skip processor code blocks that match only universal patterns
  .github/workflows/ci.yml
  docs/src/use/configure/configuration-files-new.md
  lib/eslint/flat-eslint.js
  package.json
  tests/lib/eslint/flat-eslint.js
Labels: bug, accepted, v8.x

#18881 docs: clarify `resultsMeta` in `LoadedFormatter` type
  docs/src/integrate/nodejs-api.md
Labels: documentation, accepted

#18872 feat: add type `FormatterFunction`, update `LoadedFormatter`
  lib/shared/types.js
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: accepted, feature

#18884 refactor: use `Directive` class from `@eslint/plugin-kit`
  lib/languages/js/source-code/source-code.js
  package.json
Labels: chore

#18886 fix: do not crash on error in `fs.walk` filter
  lib/eslint/eslint-helpers.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, v8.x

#18892 chore: Add PR note to all templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/change.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/new-rule.yml
  .github/ISSUE_TEMPLATE/new-syntax.yml
  .github/ISSUE_TEMPLATE/rule-change.yml
Labels: accepted, chore

#18889 fix: Provide helpful error message for nullish configs
  lib/config/flat-config-array.js
  package.json
  tests/lib/config/flat-config-array.js
Labels: bug, v8.x

#18893 refactor: use optional chaining when validating config rules
  lib/config/flat-config-helpers.js
Labels: core, accepted, chore

#18898 fix: do not throw when defining a global named `__defineSetter__`
  lib/linter/linter.js
  lib/source-code/source-code.js
  tests/lib/linter/linter.js
Labels: bug, core, accepted, v8.x

#18899 fix: Don't lint same file multiple times
  lib/eslint/eslint-helpers.js
  lib/eslint/flat-eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, cli, core, accepted, v8.x

#18900 fix: add logic to handle fixTypes in the lintText() method
  lib/eslint/flat-eslint.js
  tests/lib/eslint/flat-eslint.js
Labels: bug, core, accepted, v8.x

#18897 fix: add missing types for `camelcase` options
  lib/types/rules/stylistic-issues.d.ts
Labels: bug, accepted

#18901 fix: add missing types for `no-empty-function` options
  lib/types/rules/best-practices.d.ts
Labels: bug, accepted

#18799 feat: Add `no-useless-constructor` suggestion
  docs/src/_data/rules.json
  docs/src/_data/rules_meta.json
  lib/rules/no-useless-constructor.js
  tests/lib/rules/no-useless-constructor.js
Labels: rule, accepted, feature, contributor pool

#18903 fix: add missing types for `no-implicit-coercion` options
  lib/types/rules/best-practices.d.ts
Labels: bug

#18905 fix: add missing types for `no-misleading-character-class` options
  lib/types/rules/possible-errors.d.ts
Labels: bug, accepted

#18910 chore: pin vite-plugin-commonjs@0.10.1
  package.json
Labels: chore, v8.x

#18861 feat: limit the name given to `ImportSpecifier` in `id-length`
  lib/rules/id-length.js
  tests/lib/rules/id-length.js
Labels: bug, rule, accepted, feature

#18913 chore: upgrade @eslint/js@8.57.1
  package.json
Labels: chore, v8.x

#18871 build: Support updates to previous major versions
  Makefile.js
  docs/src/maintain/manage-releases.md
  package.json
Labels: build

#18894 docs: add unicode abbreviations in no-irregular-whitespace rule
  docs/src/rules/no-irregular-whitespace.md
Labels: documentation, accepted

#18917 feat: Add language to types
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: accepted, feature

#18883 feat: add "eslint/universal" to export `Linter`
  eslint.config.js
  lib/types/universal.d.ts
  lib/universal.js
  package.json
  tests/lib/types/types.test.ts
  tests/lib/universal.js
Labels: accepted, feature

#18818 refactor: Extract processor logic into ProcessorService
  lib/linter/linter.js
  lib/linter/vfile.js
  lib/services/processor-service.js
  tests/lib/eslint/eslint.js
  tests/lib/linter/linter.js
  tests/lib/linter/vfile.js
Labels: core, accepted, chore

#18902 fix: add missing types for `no-extra-boolean-cast` options
  lib/types/rules/possible-errors.d.ts
Labels: bug, accepted, contributor pool

#18906 fix: add missing types for `no-param-reassign` options
  lib/types/rules/best-practices.d.ts
Labels: bug, accepted

#18924 docs: correct `prefer-object-has-own` type definition
  lib/types/rules/best-practices.d.ts
Labels: bug, documentation, accepted

#18914 fix: add missing types for `no-restricted-exports` rule
  lib/types/rules/ecmascript-6.d.ts
Labels: bug, accepted

#18927 chore: upgrade @eslint/js@9.11.0
  package.json
Labels: chore

#18933 fix: add missing types for `no-unused-expressions` rule
  lib/types/rules/best-practices.d.ts
Labels: bug, accepted

#18929 fix: add missing types for `no-sequences` rule
  lib/types/rules/best-practices.d.ts
Labels: bug, accepted

#18930 fix: add missing types for `no-shadow` rule
  lib/types/rules/variables.d.ts
Labels: bug, accepted, contributor pool

#18931 fix: add missing types for `no-underscore-dangle` rule
  lib/types/rules/stylistic-issues.d.ts
Labels: bug, accepted, contributor pool

#18932 fix: add missing types for `no-unsafe-negation` rule
  lib/types/rules/possible-errors.d.ts
Labels: bug

#18935 fix: add missing types for `object-shorthand` rule
  lib/types/rules/ecmascript-6.d.ts
Labels: bug

#18937 fix: add missing types for `require-atomic-updates` rule
  lib/types/rules/possible-errors.d.ts
Labels: bug

#18941 docs: replace deprecated `Linter.FlatConfig` type with `Linter.Config`
  docs/src/use/configure/configuration-files.md
Labels: documentation, accepted, patch candidate

#18938 fix: add `@eslint/core`, `@types/estree`, & `@types/json-schema` deps
  .github/workflows/types-integration.yml
  package.json
Labels: bug, accepted, github actions

#18943 chore: upgrade @eslint/js@9.11.1
  package.json
Labels: chore

#18945 chore: update dependency mocha to ^10.7.3
  package.json
Labels: chore

#18896 feat: Implement modified cyclomatic complexity
  docs/src/rules/complexity.md
  lib/rules/complexity.js
  tests/lib/rules/complexity.js
Labels: rule, accepted, feature, contributor pool

#18742 feat: Implement alternate config lookup
  docs/src/use/configure/configuration-files.md
  lib/cli.js
  lib/config/config-loader.js
  lib/eslint/eslint-helpers.js
  lib/eslint/eslint.js
  lib/shared/flags.js
  package.json
  tests/fixtures/config-lookup-ignores-2/eslint.config.cjs
  tests/fixtures/config-lookup-ignores-2/subdir1/1.js
  tests/fixtures/config-lookup-ignores-2/subdir2/2.js
  tests/fixtures/config-lookup-ignores-2/subdir3/3.js
  tests/fixtures/config-lookup-ignores-2/subdir3/eslint.config.mjs
  tests/fixtures/config-lookup-ignores/eslint.config.cjs
  tests/fixtures/config-lookup-ignores/subdir1/eslint.config.mjs
  tests/fixtures/config-lookup-ignores/subdir2/foo.js
  tests/fixtures/config-lookup-ignores/subdir3/subsubdir/eslint.config.mjs
  tests/fixtures/lookup-from-file/code.js
  tests/fixtures/lookup-from-file/eslint.config.js
  tests/fixtures/lookup-from-file/subdir/code.js
  tests/fixtures/lookup-from-file/subdir/eslint.config.js
  tests/fixtures/no-config-file/foo.js
  tests/fixtures/subdir-only-config/subdir/eslint.config.mjs
  tests/lib/cli.js
  tests/lib/eslint/eslint.config.js
  tests/lib/eslint/eslint.js
Labels: cli, core, accepted, feature

#18944 docs: fix typo in `id-match` rule
  docs/src/rules/id-match.md
Labels: documentation, accepted

#18771 feat: Hooks for test cases (RuleTester)
  docs/src/integrate/nodejs-api.md
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: core, accepted, feature, contributor pool

#18962 chore: Upgrade espree, eslint-visitor-keys, eslint-scope
  package.json
Labels: chore

#18940 fix: Issues with type definitions
  .github/workflows/types-integration.yml
  lib/unsupported-api.js
  package.json
Labels: bug, accepted, github actions
