Repository eslint/eslint, pull requests merged in 2024-12, with the labels that each got.

#19187 docs: use higher contrast color tokens for code comments
  docs/src/assets/scss/syntax-highlighter.scss
  docs/src/assets/scss/tokens/themes.scss
Labels: documentation, accepted

#19199 docs: replace quote with backtick in `description` of `for-direction`
  docs/src/_data/rules_meta.json
  lib/rules/for-direction.js
Labels: rule, documentation, accepted

#19161 docs: add missing punctuation in document
  docs/src/about/index.md
  docs/src/contribute/architecture/index.md
  docs/src/contribute/core-rules.md
  docs/src/contribute/development-environment.md
  docs/src/contribute/governance.md
  docs/src/contribute/package-json-conventions.md
  docs/src/contribute/propose-new-rule.md
  docs/src/contribute/propose-rule-change.md
  docs/src/contribute/pull-requests.md
  docs/src/extend/custom-rules.md
  docs/src/integrate/nodejs-api.md
  docs/src/maintain/manage-issues.md
  docs/src/maintain/manage-releases.md
  docs/src/maintain/overview.md
  docs/src/maintain/review-pull-requests.md
  docs/src/rules/brace-style.md
  docs/src/rules/class-methods-use-this.md
  docs/src/rules/eqeqeq.md
  docs/src/rules/no-cond-assign.md
  docs/src/rules/no-extra-parens.md
  docs/src/rules/strict.md
  docs/src/use/command-line-interface.md
  docs/src/use/configure/configuration-files-deprecated.md
  docs/src/use/configure/configuration-files.md
  docs/src/use/configure/ignore.md
  docs/src/use/configure/language-options.md
  docs/src/use/configure/migration-guide.md
  docs/src/use/configure/rules.md
  docs/src/use/migrating-to-4.0.0.md
  docs/src/use/migrating-to-5.0.0.md
  docs/src/use/troubleshooting/couldnt-determine-the-plugin-uniquely.md
  docs/src/use/troubleshooting/couldnt-find-the-config.md
  docs/src/use/troubleshooting/couldnt-find-the-plugin.md
  docs/src/use/troubleshooting/v9-rule-api-changes.md
Labels: documentation, accepted

#19202 docs: add missing backtick to `default-case-last`
  docs/src/_data/rules_meta.json
  lib/rules/default-case-last.js
Labels: rule, documentation

#19203 docs: update comments and `description` of `no-script-url`
  docs/src/_data/rules_meta.json
  lib/rules/no-script-url.js
Labels: rule, documentation

#19205 docs: update docs and `description` of `require-unicode-regexp`
  docs/src/_data/rules_meta.json
  lib/rules/require-unicode-regexp.js
Labels: rule, documentation

#19206 docs: add missing backticks to `prefer-object-spread`
  docs/src/_data/rules_meta.json
  docs/src/rules/prefer-object-spread.md
  lib/rules/prefer-object-spread.js
Labels: rule, documentation

#19207 docs: add missing backticks to `eqeqeq`
  docs/src/rules/eqeqeq.md
Labels: documentation

#19185 chore: Upgrade cross-spawn to 7.0.6
  package.json
Labels: bug, chore

#19208 docs: add CSS language to `no-restricted-syntax`
  docs/src/rules/no-restricted-syntax.md
Labels: documentation, accepted

#19213 docs: add missing `)` to `id-denylist`
  docs/src/rules/id-denylist.md
Labels: documentation, accepted

#19214 docs: add missing backticks to `complexity.md`
  docs/src/rules/complexity.md
Labels: documentation

#19200 fix: ignore vars with non-identifier references in no-useless-assignment
  lib/rules/no-useless-assignment.js
  tests/lib/rules/no-useless-assignment.js
Labels: bug, rule, accepted, 3rd party plugin, contributor pool

#19217 docs: add missing backticks to `id-length`
  docs/src/rules/id-length.md
Labels: documentation

#19219 docs: add missing backticks to `no-new-func`
  docs/src/rules/no-new-func.md
Labels: documentation

#19218 chore: fix incorrect `name` property in `integration-tutorial-code`
  docs/_examples/integration-tutorial-code/package.json
Labels: accepted, chore

#19222 docs: add missing backticks to `no-unneeded-ternary`
  docs/src/rules/no-unneeded-ternary.md
Labels: documentation

#19223 docs: add missing backticks to `prefer-destructuring`
  docs/src/rules/prefer-destructuring.md
Labels: documentation

#19220 docs: update description of `no-param-reassign`
  docs/src/_data/rules_meta.json
  docs/src/rules/no-param-reassign.md
  lib/rules/no-param-reassign.js
Labels: rule, documentation

#19224 docs: add missing header to `prefer-spread`
  docs/src/rules/prefer-spread.md
Labels: documentation

#19050 chore: add type definitions for the `eslint-config-eslint` package
  .github/workflows/ci.yml
  .github/workflows/types-integration.yml
  eslint.config.js
  knip.jsonc
  packages/eslint-config-eslint/base.js
  packages/eslint-config-eslint/cjs.js
  packages/eslint-config-eslint/formatting.js
  packages/eslint-config-eslint/index.js
  packages/eslint-config-eslint/nodejs.js
  packages/eslint-config-eslint/package.json
  packages/eslint-config-eslint/tests/types/types.test-d.cts
  packages/eslint-config-eslint/tests/types/types.test-d.mts
  packages/eslint-config-eslint/tsconfig.json
  packages/eslint-config-eslint/types/base.d.ts
  packages/eslint-config-eslint/types/cjs.d.ts
  packages/eslint-config-eslint/types/formatting.d.ts
  packages/eslint-config-eslint/types/index.d.ts
  packages/eslint-config-eslint/types/nodejs.d.ts
Labels: accepted, chore, contributor pool, github actions

#19227 docs: add missing backticks to `func-style`
  docs/src/rules/func-style.md
Labels: documentation

#19168 fix: fix crash when `message.fix` is nullish
  lib/linter/source-code-fixer.js
  tests/lib/linter/source-code-fixer.js
Labels: bug, core, accepted, contributor pool

#19211 docs: [no-await-in-loop] expand on benefits and inapplicability
  docs/src/rules/no-await-in-loop.md
Labels: documentation, accepted

#19230 docs: update `yoda` to `Yoda` in `yoda.md` for consistency
  docs/src/rules/yoda.md
Labels: documentation

#19226 chore: add missing backticks to `flags.js`
  lib/shared/flags.js
Labels: accepted, chore

#18352 feat: add suggestions to `no-unused-vars`
  lib/rules/no-unused-vars.js
  tests/lib/linter/linter.js
  tests/lib/rules/no-unused-vars.js
Labels: rule, accepted, feature

#19242 chore: upgrade to `@eslint/js@9.17.0`
  package.json
Labels: chore

#19252 docs: Refactor search result handling with better event listener cleanup
  docs/src/assets/js/search.js
Labels: documentation

#19249 docs: fix inconsistent divider in rule categories box
  docs/src/assets/scss/components/rules.scss
Labels: documentation, accepted

#19262 docs: fix description of `overrideConfigFile` option
  docs/src/integrate/nodejs-api.md
Labels: documentation, core, accepted

#19269 docs: add missing backticks in various parts of the documentation
  docs/src/extend/plugins.md
  docs/src/rules/id-match.md
  docs/src/rules/no-array-constructor.md
  docs/src/rules/no-console.md
Labels: documentation, accepted

#19272 feat: check imports and class names in `no-shadow-restricted-names`
  docs/src/rules/no-shadow-restricted-names.md
  lib/rules/no-shadow-restricted-names.js
  tests/lib/rules/no-shadow-restricted-names.js
Labels: bug, rule, accepted, feature

#19266 feat: unflag TypeScript config files
  docs/src/use/configure/configuration-files.md
  lib/cli.js
  lib/config/config-loader.js
  lib/eslint/eslint.js
  lib/shared/flags.js
  tests/fixtures/ts-config-files/helper.ts
  tests/lib/eslint/eslint.js
Labels: cli, core, accepted, feature

#19287 docs: add limitation section in `no-loop-func`
  docs/src/rules/no-loop-func.md
Labels: documentation, accepted

#19270 docs: add `border-radius` to `hX:target` selector styles
  docs/src/assets/scss/foundations.scss
Labels: documentation, accepted, chore

#19289 fix: correct `overrideConfigFile` type
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: bug

#19288 docs: update custom parser docs
  docs/src/extend/custom-parsers.md
  docs/src/extend/ways-to-extend.md
Labels: documentation

#19282 docs: add missing backticks to `sort-imports`
  docs/src/_data/rules_meta.json
  docs/src/rules/sort-imports.md
  lib/rules/sort-imports.js
Labels: rule, documentation, accepted

#19241 docs: Fixing Focus Order by Rearranging Element Sequence
  docs/src/_includes/components/search.html
  docs/src/assets/js/search.js
  docs/src/assets/scss/components/search.scss
Labels: documentation, accepted, chore

#19277 docs: switch rule examples config format to `languageOptions`
  docs/.eleventy.js
  docs/src/rules/jsx-quotes.md
  docs/src/rules/keyword-spacing.md
  docs/src/rules/no-extra-parens.md
  docs/src/rules/no-inline-comments.md
  docs/src/rules/no-irregular-whitespace.md
  docs/src/rules/no-unused-expressions.md
  docs/src/rules/space-before-keywords.md
  docs/tools/markdown-it-rule-example.js
  docs/tools/prism-eslint-hook.js
  tests/fixtures/good-examples.md
  tools/check-rule-examples.js
Labels: documentation, accepted

#19296 docs: remove outdated info about environments
  docs/src/rules/no-global-assign.md
  docs/src/rules/no-implicit-globals.md
  docs/src/rules/no-native-reassign.md
  docs/src/rules/no-restricted-globals.md
  docs/src/rules/no-unused-vars.md
  docs/src/rules/strict.md
  docs/src/use/configure/index.md
  docs/src/use/core-concepts/index.md
Labels: documentation

#19290 docs: add bluesky icon to footer
  docs/src/_data/sites/en.yml
  docs/src/_data/sites/zh-hans.yml
  docs/src/_includes/components/social-icons.html
  docs/src/assets/scss/components/social-icons.scss
Labels: documentation

#19285 docs: add navigation link for `code explorer`
  docs/src/_data/links.json
  docs/src/_data/navigation.json
  docs/src/_data/sites/en.yml
  docs/src/_data/sites/zh-hans.yml
Labels: documentation, accepted
