Repository eslint/eslint, pull requests merged in 2024-03, with the labels that each got.

#18152 feat: update complexity rule for optional chaining & default values
  docs/src/rules/complexity.md
  lib/rules/complexity.js
  tests/lib/rules/complexity.js
Labels: rule, accepted, feature, contributor pool

#18147 fix: improve error message for invalid rule config
  lib/config/rule-validator.js
  tests/lib/config/flat-config-array.js
Labels: bug, core, accepted

#18157 feat!: disallow multiple configuration comments for same rule
  docs/src/use/migrate-to-9.0.0.md
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: core, accepted, breaking, feature

#18164 chore: remove invalid type in @eslint/js
  packages/js/src/configs/eslint-recommended.js
Labels: chore

#18082 feat: make `no-misleading-character-class` report more granular errors
  lib/rules/no-misleading-character-class.js
  lib/rules/utils/char-source.js
  tests/lib/rules/no-misleading-character-class.js
  tests/lib/rules/utils/char-source.js
Labels: rule, accepted, feature

#18174 docs: Update release documentation
  docs/src/maintain/manage-releases.md
Labels: documentation

#18041 docs: show red underlines in examples in rules docs
  .github/workflows/docs-ci.yml
  docs/.eleventy.js
  docs/netlify.toml
  docs/src/_plugins/md-syntax-highlighter.js
  docs/src/assets/scss/syntax-highlighter.scss
  docs/tools/code-block-utils.js
  docs/tools/markdown-it-rule-example.js
  docs/tools/prism-eslint-hook.js
Labels: documentation, accepted, github actions

#18170 feat: add `ignoreClassWithStaticInitBlock` option to `no-unused-vars`
  docs/src/rules/no-unused-vars.md
  lib/rules/no-unused-vars.js
  tests/lib/rules/no-unused-vars.js
Labels: rule, accepted, feature

#18179 chore: Remove some uses of `lodash.merge`
  eslint.config.js
  tests/lib/rules/no-invalid-this.js
Labels: accepted, chore

#18005 chore: Introduce Knip
  .github/workflows/ci.yml
  Makefile.js
  bin/eslint.js
  docs/.eleventy.js
  docs/package.json
  docs/src/_plugins/md-syntax-highlighter.js
  knip.jsonc
  lib/cli-engine/xml-escape.js
  lib/config/flat-config-schema.js
  lib/eslint/eslint-helpers.js
  lib/linter/index.js
  lib/linter/linter.js
  lib/rule-tester/index.js
  lib/rules/utils/lazy-loading-rule-map.js
  lib/rules/utils/unicode/index.js
  lib/shared/deprecation-warnings.js
  lib/shared/runtime-info.js
  lib/source-code/index.js
  package.json
  tests/_utils/in-memory-fs.js
  tests/_utils/index.js
  tests/tools/config-rule.js
  tools/internal-testers/test-parser.js
Labels: rule, cli, core, accepted, feature, chore, contributor pool, github actions

#18193 chore: remove repetitive words
  tests/lib/cli-engine/cli-engine.js
  tests/lib/eslint/eslint.js
  tests/lib/eslint/legacy-eslint.js
Labels: accepted, chore

#18185 fix: load plugins in the CLI in flat config mode
  docs/src/extend/plugins.md
  lib/cli.js
  tests/fixtures/plugins/node_modules/@scope/eslint-plugin-example.js
  tests/fixtures/plugins/node_modules/eslint-plugin-hello-cjs/index.js
  tests/fixtures/plugins/node_modules/eslint-plugin-hello-cjs/package.json
  tests/fixtures/plugins/node_modules/eslint-plugin-hello-esm/index.js
  tests/fixtures/plugins/node_modules/eslint-plugin-hello-esm/package.json
  tests/fixtures/plugins/node_modules/eslint-plugin-no-default-export/index.js
  tests/fixtures/plugins/node_modules/eslint-plugin-no-default-export/package.json
  tests/fixtures/plugins/subdir/file.js
  tests/lib/cli.js
Labels: bug, cli, accepted

#18188 feat: add `reportUnusedFallthroughComment` option to no-fallthrough rule
  docs/src/rules/no-fallthrough.md
  lib/rules/no-fallthrough.js
  tests/lib/rules/no-fallthrough.js
Labels: rule, accepted, feature, contributor pool

#18213 chore: fix some comments
  CHANGELOG.md
  tests/bin/eslint.js
Labels: accepted, chore

#18215 docs: fix incorrect example in `no-lone-blocks`
  docs/src/rules/no-lone-blocks.md
Labels: documentation, accepted

#18209 build: fix TypeError in prism-eslint-hooks.js
  docs/tools/prism-eslint-hook.js
Labels: documentation, build, accepted

#18167 feat!: move AST traversal into SourceCode
  docs/src/use/migrate-to-9.0.0.md
  lib/linter/code-path-analysis/code-path-analyzer.js
  lib/linter/linter.js
  lib/rules/constructor-super.js
  lib/rules/no-this-before-super.js
  lib/rules/no-useless-return.js
  lib/source-code/source-code.js
  tests/lib/linter/linter.js
  tests/lib/rules/constructor-super.js
Labels: rule, core, accepted, breaking, feature

#18198 docs: Clarify the description of `sort-imports` options
  docs/src/rules/sort-imports.md
Labels: documentation, accepted

#18223 chore: package.json update for eslint-9.0.0-rc.0
  package.json
Labels: chore

#18225 feat: use-isnan report NaN in `indexOf` and `lastIndexOf` with fromIndex
  docs/src/rules/use-isnan.md
  lib/rules/use-isnan.js
  tests/lib/rules/use-isnan.js
Labels: bug, rule, accepted, feature

#17850 feat: Rule Performance Statistics for flat ESLint
  docs/src/extend/custom-formatters.md
  docs/src/extend/custom-rules.md
  docs/src/extend/stats.md
  docs/src/integrate/nodejs-api.md
  docs/src/use/command-line-interface.md
  lib/cli.js
  lib/eslint/eslint-helpers.js
  lib/eslint/eslint.js
  lib/linter/linter.js
  lib/linter/timing.js
  lib/options.js
  lib/shared/stats.js
  lib/shared/types.js
  tests/fixtures/stats-example/file-to-fix.js
  tests/lib/eslint/eslint.js
  tests/lib/options.js
Labels: cli, core, accepted, feature, contributor pool

#18226 fix: `constructor-super` false positives with loops
  lib/rules/constructor-super.js
  tests/lib/rules/constructor-super.js
Labels: bug, rule, accepted

#18187 docs: add Glossary page
  docs/src/use/core-concepts/glossary.md
  docs/src/use/core-concepts/index.md
Labels: documentation, accepted

#18238 chore: add npm script to run WebdriverIO test
  Makefile.js
  package.json
Labels: accepted, chore

#18246 docs: fix typo
  docs/src/use/configure/migration-guide.md
Labels: documentation, accepted

#18233 docs: Update PR review process
  docs/src/maintain/manage-issues.md
  docs/src/maintain/review-pull-requests.md
Labels: documentation, accepted

#18241 docs: fix `ecmaVersion` in one example, add checks
  docs/src/rules/strict.md
  tests/fixtures/bad-examples.md
  tests/fixtures/good-examples.md
  tests/tools/check-rule-examples.js
  tools/check-rule-examples.js
Labels: documentation, accepted
