Repository eslint/eslint, pull requests merged in 2025-06, with the labels that each got.

#19807 chore: remove accidentally committed file
  tests/fixtures/suppressions/temp.js
Labels: chore

#19695 feat: add `sourceCode.isGlobalReference(node)` method
  docs/src/extend/custom-rules.md
  lib/languages/js/source-code/source-code.js
  lib/rules/no-promise-executor-return.js
  lib/rules/no-setter-return.js
  lib/rules/prefer-regex-literals.js
  lib/types/index.d.ts
  tests/lib/languages/js/source-code/source-code.js
Labels: rule, accepted, feature

#19808 fix: add `language` and `dialects` to `no-use-before-define`
  lib/rules/no-use-before-define.js
Labels: bug, rule, accepted

#19782 perf: improve time complexity of `getLocFromIndex`
  lib/languages/js/source-code/source-code.js
  tests/lib/languages/js/source-code/source-code.js
Labels: accepted, chore

#19824 test: switch to flat config mode in code path analysis tests
  tests/fixtures/code-path-analysis/if-4.js
  tests/fixtures/code-path-analysis/if-5.js
  tests/fixtures/code-path-analysis/switch--cases-2.js
  tests/fixtures/code-path-analysis/try--try-catch-3.js
  tests/fixtures/code-path-analysis/try--try-catch-finally-2.js
  tests/fixtures/code-path-analysis/try--try-catch-finally-3.js
  tests/fixtures/code-path-analysis/try--try-finally-2.js
  tests/fixtures/code-path-analysis/try--try-finally-4.js
  tests/fixtures/code-path-analysis/try--try-finally-5.js
  tests/lib/linter/code-path-analysis/code-path-analyzer.js
  tests/lib/linter/code-path-analysis/code-path.js
Labels: accepted, chore

#19835 feat: add ES2025 globals
  conf/globals.js
  tests/lib/rules/no-undef.js
Labels: accepted, feature, contributor pool

#19825 feat: prune suppressions for non-existent files
  lib/services/suppressions-service.js
  tests/bin/eslint.js
Labels: cli, accepted, feature, contributor pool

#19833 refactor: Remove eslintrc from flat config functionality
  lib/cli.js
  lib/eslint/eslint.js
  lib/linter/apply-disable-directives.js
  lib/shared/naming.js
  lib/shared/relative-module-resolver.js
  package.json
  tests/fixtures/relative-module-resolver/file2.js
  tests/lib/shared/naming.js
  tests/lib/shared/relative-module-resolver.js
Labels: cli, core, accepted, chore

#19845 fix: explicit matching behavior with negated patterns and arrays
  package.json
  tests/lib/eslint/eslint.js
Labels: bug, core, accepted

#19832 feat: add `ecmaVersion: 2026`, parsing `using` and `await using`
  conf/ecma-version.js
  conf/globals.js
  docs/src/use/configure/language-options-deprecated.md
  lib/types/index.d.ts
  package.json
  tests/lib/linter/linter.js
  tests/lib/rules/no-restricted-syntax.js
  tests/lib/rules/no-undef.js
  tests/lib/types/types.test.ts
Labels: accepted, feature, new syntax

#19851 chore: upgrade @eslint/js@9.29.0
  package.json
Labels: chore

#19866 docs: clarify that boolean is still allowed for rule `meta.deprecated`
  docs/src/extend/rule-deprecation.md
Labels: documentation, accepted

#19865 fix: use `process.version` in `--env-info`
  lib/shared/runtime-info.js
  tests/lib/shared/runtime-info.js
Labels: bug, accepted, contributor pool

#19857 fix: remove unnecessary semicolon from fixes
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-array-constructor.js
  tests/lib/rules/no-object-constructor.js
Labels: bug, rule, accepted

#19831 feat: throw error when column is negative in `getIndexFromLoc`
  lib/languages/js/source-code/source-code.js
  tests/lib/languages/js/source-code/source-code.js
Labels: bug, accepted, feature

#19873 docs: Fixed Typo in configuration-files.md
  docs/src/use/configure/configuration-files.md
Labels: documentation, accepted

#19870 docs: typo in comment for unused variables handling
  lib/rules/no-unused-vars.js
Labels: bug, rule, documentation, accepted, chore

#19872 feat: add `allowSeparateTypeImports` option to `no-duplicate-imports`
  docs/src/rules/no-duplicate-imports.md
  lib/rules/no-duplicate-imports.js
  lib/types/rules.d.ts
  tests/lib/rules/no-duplicate-imports.js
Labels: rule, accepted, feature, contributor pool

#19862 fix: handle `null` type `loc` in `getIndexFromLoc` method
  lib/languages/js/source-code/source-code.js
  tests/lib/languages/js/source-code/source-code.js
Labels: bug, accepted

#19889 chore: upgrade to `@eslint/js@9.30.0`
  package.json
Labels: chore

#19896 docs: update jsdoc's link
  docs/src/rules/valid-jsdoc.md
Labels: documentation, accepted
