Repository eslint/eslint, pull requests merged in 2025-03, with the labels that each got.

#19469 docs: replace `var` with `const` in rule examples
  docs/src/rules/no-implicit-coercion.md
  docs/src/rules/no-inline-comments.md
  docs/src/rules/no-invalid-this.md
  docs/src/rules/no-multi-str.md
  docs/src/rules/no-new-func.md
Labels: documentation, accepted

#19461 docs: generate deprecation notice in TSDoc comments from rule metadata
  Makefile.js
  docs/src/_data/rules_meta.json
  lib/rules/no-native-reassign.js
  lib/rules/no-negated-in-lhs.js
  lib/types/rules.d.ts
  lib/types/rules/best-practices.d.ts
  lib/types/rules/deprecated.d.ts
  lib/types/rules/ecmascript-6.d.ts
  lib/types/rules/index.d.ts
  lib/types/rules/node-commonjs.d.ts
  lib/types/rules/possible-errors.d.ts
  lib/types/rules/strict-mode.d.ts
  lib/types/rules/stylistic-issues.d.ts
  lib/types/rules/variables.d.ts
  package.json
  tools/update-rule-type-headers.js
Labels: rule, documentation, accepted

#19483 fix: improve message for `no-console` suggestions
  lib/rules/no-console.js
  tests/lib/rules/no-console.js
Labels: bug, rule, accepted

#19487 feat: Export defineConfig, globalIgnores
  README.md
  docs/src/use/configure/combine-configs.md
  docs/src/use/configure/configuration-files.md
  docs/src/use/configure/ignore.md
  docs/src/use/configure/language-options.md
  docs/src/use/configure/parser.md
  docs/src/use/configure/plugins.md
  docs/src/use/configure/rules.md
  eslint.config.js
  lib/config-api.js
  lib/types/config-api.d.ts
  package.json
  tests/lib/types/types.test.ts
Labels: accepted, feature

#19488 chore: upgrade eslint-scope@8.3.0
  package.json
Labels: chore

#19489 chore: upgrade @eslint/js@9.22.0
  package.json
Labels: chore

#19465 test: replace WebdriverIO with Cypress
  .github/renovate.json5
  .github/workflows/ci.yml
  .gitignore
  Makefile.js
  cypress.config.js
  knip.jsonc
  package.json
  wdio.conf.js
Labels: accepted, chore, contributor pool, github actions

#19473 chore: remove formatting-related lint rules internally
  .markdownlint.yml
  docs/.stylelintrc.json
  docs/package.json
  eslint.config.js
  lib/types/rules.d.ts
  packages/js/src/configs/eslint-all.js
  tests/lib/rules/utils/ast-utils.js
  tests/lib/shared/string-utils.js
  tools/update-eslint-all.js
  tools/update-readme.js
  tools/update-rule-type-headers.js
Labels: chore

#19498 feat: support TypeScript syntax in `class-methods-use-this`
  lib/rules/class-methods-use-this.js
  tests/lib/rules/class-methods-use-this.js
Labels: rule, feature

#19500 test: fix an assertion failure
  tests/lib/rule-tester/rule-tester.js
Labels: accepted, chore

#19499 fix: allow `RuleTester` to test files inside `node_modules/`
  lib/config/default-config.js
  lib/rule-tester/rule-tester.js
  tests/lib/rule-tester/rule-tester.js
Labels: bug, core, accepted, contributor pool

#19510 docs: `require-unicode-regexp` add note for `i` flag and `\w`
  docs/src/rules/require-unicode-regexp.md
Labels: documentation, accepted

#19502 fix: navigation of search results on pressing Enter
  docs/src/assets/js/search.js
Labels: bug

#19508 fix: `no-dupe-keys` false positive with proto setter
  docs/src/rules/no-dupe-keys.md
  lib/rules/no-dupe-keys.js
  tests/lib/rules/no-dupe-keys.js
Labels: bug, rule, accepted

#19505 docs: Update docs for defineConfig
  docs/src/extend/custom-processors.md
  docs/src/extend/languages.md
  docs/src/extend/plugin-migration-flat-config.md
  docs/src/extend/plugins.md
  docs/src/extend/shareable-configs.md
  docs/src/use/configure/configuration-files.md
  docs/src/use/getting-started.md
  packages/eslint-config-eslint/README.md
  packages/js/README.md
Labels: documentation, accepted

#19511 docs: Replace var with let or const
  docs/src/rules/no-unreachable-loop.md
Labels: documentation

#19515 docs: replace `var` with `let` and `const` in rule examples
  docs/src/rules/no-caller.md
  docs/src/rules/no-delete-var.md
  docs/src/rules/no-extend-native.md
  docs/src/rules/no-extra-bind.md
  docs/src/rules/no-global-assign.md
Labels: documentation

#19525 chore: fix some comments
  lib/eslint/legacy-eslint.js
  tests/lib/linter/linter.js
  tests/lib/rules/lines-around-comment.js
Labels: cli, core, chore

#19514 feat: circular autofix/conflicting rules detection
  docs/src/use/troubleshooting/circular-fixes.md
  docs/src/use/troubleshooting/index.md
  lib/linter/linter.js
  tests/lib/linter/linter.js
Labels: core, accepted, feature

#19518 docs: migrate sass to module system
  docs/package.json
  docs/src/assets/scss/styles.scss
Labels: documentation

#19423 fix: reporting variable used in catch block in `no-useless-assignment`
  docs/src/rules/no-useless-assignment.md
  lib/rules/no-useless-assignment.js
  tests/lib/rules/no-useless-assignment.js
Labels: bug, rule, accepted

#19533 feat: defineConfig() supports "flat/" config prefix
  docs/src/extend/plugins.md
  package.json
Labels: accepted, feature

#19512 docs: add copy button
  docs/.eleventy.js
  docs/src/_includes/layouts/doc.html
  docs/src/_plugins/pre-wrapper.js
  docs/src/assets/scss/docs.scss
Labels: documentation, accepted, contributor pool

#19431 feat: support TypeScript syntax in `default-param-last`
  docs/.eleventy.js
  docs/src/rules/default-param-last.md
  lib/rules/default-param-last.js
  tests/fixtures/bad-examples.md
  tests/lib/rules/default-param-last.js
  tests/tools/check-rule-examples.js
  tools/check-rule-examples.js
Labels: rule, accepted, feature

#19537 chore: temporarily disable prettier in trunk
  .trunk/trunk.yaml
Labels: chore

#19538 chore: added .git-blame-ignore-revs for Prettier via trunk fmt
  .git-blame-ignore-revs
Labels: chore

#19354 chore: enabled Prettier in Trunk
  .markdownlint.yml
  .prettierrc.json
  .trunk/trunk.yaml
  conf/replacements.json
  conf/rule-type-list.json
  docs/package.json
  package.json
Labels: chore

#19541 chore: format JSON files in Trunk
  .c8rc
  .github/renovate.json5
  .prettierrc.json
  .trunk/trunk.yaml
  docs/package.json
  eslint.config.js
  knip.jsonc
Labels: chore

#19542 docs: revert accidental changes
  docs/src/extend/stats.md
  tests/lib/types/types.test.ts
Labels: documentation, accepted

#19544 chore: fix update-readme formatting
  README.md
  tools/update-readme.js
Labels: chore

#19531 fix: move deprecated `RuleContext` methods to subtype
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: bug, accepted, types

#19539 docs: replace var with const in examples
  docs/src/rules/no-shadow-restricted-names.md
  docs/src/rules/no-shadow.md
  docs/src/rules/no-throw-literal.md
  docs/src/rules/no-underscore-dangle.md
  docs/src/rules/strict.md
Labels: documentation, accepted

#19547 docs: show red underlines in TypeScript examples in rules docs
  docs/.eleventy.js
  docs/package.json
Labels: documentation, accepted

#19548 build: exclude autogenerated files from Prettier formatting
  .trunk/trunk.yaml
Labels: build

#19554 chore: update dependencies for v9.23.0 release
  package.json
Labels: chore

#19555 docs: Update custom-rules.md code example of fixer
  docs/src/extend/custom-rules.md
Labels: documentation

#19571 docs: don't pass filename when linting rule examples
  docs/tools/prism-eslint-hook.js
Labels: documentation, accepted

#19493 feat: support TypeScript syntax in `no-array-constructor`
  docs/src/rules/no-array-constructor.md
  lib/rules/no-array-constructor.js
  tests/lib/rules/no-array-constructor.js
Labels: rule, accepted, feature

#19527 feat: add new options to class-methods-use-this
  docs/src/rules/class-methods-use-this.md
  lib/rules/class-methods-use-this.js
  tests/lib/rules/class-methods-use-this.js
Labels: rule, feature, contributor pool

#19560 feat: support TS syntax in `no-loss-of-precision`
  lib/rules/no-loss-of-precision.js
  tests/lib/rules/no-loss-of-precision.js
Labels: rule, feature

#19159 feat: Introduce a way to suppress violations
  .gitignore
  docs/src/use/command-line-interface.md
  docs/src/use/integrations.md
  docs/src/use/suppressions.md
  lib/cli.js
  lib/eslint/eslint-helpers.js
  lib/eslint/eslint.js
  lib/options.js
  lib/services/suppressions-service.js
  lib/shared/types.js
  tests/bin/eslint.js
  tests/fixtures/suppressions/existing-eslintsuppressions.json
  tests/fixtures/suppressions/test-file.js
Labels: cli, core, accepted, feature, contributor pool

#19576 chore: fix some typos in comment
  docs/src/use/command-line-interface.md
  lib/linter/code-path-analysis/code-path-state.js
  lib/rules/no-constant-binary-expression.js
  lib/rules/no-unused-vars.js
Labels: rule, core, chore

#19577 chore: modify .editorconfig to keep parity with prettier config
  .editorconfig
Labels: accepted, chore

#19578 docs: replace existing var with const
  docs/src/rules/no-else-return.md
Labels: documentation, accepted

#19558 feat: support TS syntax in `no-dupe-class-members`
  docs/src/rules/no-dupe-class-members.md
  lib/rules/no-dupe-class-members.js
  tests/lib/rules/no-dupe-class-members.js
Labels: rule, accepted, feature

#19584 fix: use `any[]` type for `context.options`
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: bug

#19503 test: skip symlink test on Windows
  tests/lib/cli-engine/file-enumerator.js
Labels: chore

#19568 feat: normalize patterns to handle "./" prefix in files and ignores
  package.json
  tests/lib/eslint/eslint.js
Labels: accepted, feature, contributor pool

#19540 feat: support TS syntax in `init-declarations`
  docs/src/rules/init-declarations.md
  lib/rules/init-declarations.js
  tests/lib/rules/init-declarations.js
Labels: rule, accepted, feature

#19587 chore: correct 'flter'/'filter' typo in package script
  package.json
Labels: chore
