Repository eslint/eslint, pull requests merged in 2025-01, with the labels that each got.

#19295 docs: Add warning about extending core rules
  docs/src/extend/custom-rules.md
Labels: documentation, accepted

#19299 docs: replace `var` with `const` in rule examples
  docs/src/rules/no-dupe-class-members.md
  docs/src/rules/no-dupe-keys.md
  docs/src/rules/no-duplicate-case.md
  docs/src/rules/no-empty-character-class.md
  docs/src/rules/no-empty-pattern.md
Labels: documentation, accepted

#19293 docs: add navigation link for code explorer
  docs/src/_data/links.json
  docs/src/_data/navigation.json
  docs/src/_data/sites/en.yml
  docs/src/_data/sites/zh-hans.yml
Labels: documentation

#19300 docs: remove 'I hope to' comments from scope-manager-interface
  docs/src/extend/scope-manager-interface.md
Labels: documentation

#19303 docs: rewrite `var` using `const` in rule examples
  docs/src/rules/no-useless-computed-key.md
  docs/src/rules/no-useless-concat.md
  docs/src/rules/no-useless-return.md
Labels: documentation, accepted

#19302 docs: replace `var` with `let` and `const` in rule example
  docs/src/rules/no-ex-assign.md
  docs/src/rules/no-func-assign.md
  docs/src/rules/no-irregular-whitespace.md
  docs/src/rules/no-new-native-nonconstructor.md
  docs/src/rules/no-obj-calls.md
Labels: documentation, accepted

#19304 docs: Fix Horizontal Scroll Overflow in Rule Description on Mobile View
  docs/src/assets/scss/components/rules.scss
Labels: documentation

#19309 docs: add missing backticks to `no-else-return`
  docs/src/rules/no-else-return.md
Labels: documentation, accepted

#19298 docs: rewrite examples with var using let and const
  docs/src/rules/consistent-this.md
  docs/src/rules/id-length.md
  docs/src/rules/id-match.md
  docs/src/rules/no-iterator.md
  docs/src/rules/no-multi-assign.md
  docs/src/rules/no-octal-escape.md
  docs/src/rules/no-self-compare.md
Labels: documentation, accepted

#19311 docs: add missing backticks to `default-case-last`
  docs/src/_data/rules_meta.json
  lib/rules/default-case-last.js
Labels: documentation

#19315 docs: rewrite examples with var using let and const
  docs/src/rules/array-callback-return.md
  docs/src/rules/for-direction.md
  docs/src/rules/getter-return.md
  docs/src/rules/no-cond-assign.md
  docs/src/rules/no-constant-condition.md
  docs/src/rules/no-control-regex.md
  docs/src/rules/no-dupe-args.md
Labels: rule, documentation, accepted

#19310 docs: add `eqeqeq` in related rules to `no-eq-null`
  docs/src/rules/no-eq-null.md
Labels: documentation, accepted

#19228 docs: `Edit this page` button link to different branches
  docs/.eleventy.js
  docs/src/_data/eslintVersions.js
  docs/src/_data/sites/en.yml
  docs/src/_data/sites/zh-hans.yml
  docs/src/_includes/layouts/doc.html
Labels: documentation, accepted

#19320 docs: rewrite using let and const in rule examples
  docs/src/rules/accessor-pairs.md
  docs/src/rules/array-bracket-newline.md
Labels: documentation, accepted

#18784 docs: add tabs to cli code blocks
  docs/src/_data/conversions.json
  docs/src/_includes/components/npm_tabs.macro.html
  docs/src/_includes/components/npx_tabs.macro.html
  docs/src/contribute/development-environment.md
  docs/src/extend/custom-parsers.md
  docs/src/extend/custom-rule-tutorial.md
  docs/src/extend/stats.md
  docs/src/integrate/integration-tutorial.md
  docs/src/pages/flags.md
  docs/src/use/command-line-interface.md
  docs/src/use/configure/configuration-files.md
  docs/src/use/configure/debug.md
  docs/src/use/configure/ignore.md
  docs/src/use/configure/migration-guide.md
  docs/src/use/formatters/index.md
  docs/src/use/getting-started.md
  docs/src/use/migrating-from-jscs.md
Labels: documentation, accepted, contributor pool

#19325 docs: replace `var` with `const` in rule examples
  docs/src/rules/no-prototype-builtins.md
  docs/src/rules/no-setter-return.md
  docs/src/rules/no-sparse-arrays.md
  docs/src/rules/no-undef.md
  docs/src/rules/no-unexpected-multiline.md
Labels: documentation, accepted

#19336 docs: revert accidental changes in TS config files docs
  docs/src/use/command-line-interface.md
  docs/src/use/configure/configuration-files.md
Labels: documentation, accepted

#19331 docs: replace var with let or const in rule examples
  docs/src/rules/camelcase.md
  docs/src/rules/curly.md
  docs/src/rules/dot-notation.md
  docs/src/rules/id-denylist.md
  docs/src/rules/max-lines.md
Labels: documentation, accepted

#19264 docs: fix divider for rule category
  docs/src/assets/scss/components/rules.scss
Labels: documentation, accepted

#19201 feat: add `--report-unused-inline-configs`
  docs/src/use/command-line-interface.md
  docs/src/use/configure/configuration-files.md
  docs/src/use/configure/rules.md
  lib/cli.js
  lib/config/flat-config-schema.js
  lib/linter/linter.js
  lib/options.js
  lib/shared/option-utils.js
  lib/types/index.d.ts
  packages/eslint-config-eslint/base.js
  tests/lib/cli.js
  tests/lib/config/flat-config-array.js
  tests/lib/linter/linter.js
  tests/lib/shared/option-utils.js
Labels: cli, core, accepted, feature

#19345 test: fix failing test in Node.js v22.13.0
  tests/lib/eslint/eslint.js
Labels: chore

#19297 docs: better `global ignores` instruction
  docs/src/use/configure/configuration-files.md
  docs/src/use/configure/ignore.md
Labels: documentation, accepted

#19276 fix: sync rule type header comments automatically
  .github/workflows/ci.yml
  Makefile.js
  lib/types/rules/best-practices.d.ts
  lib/types/rules/deprecated.d.ts
  lib/types/rules/ecmascript-6.d.ts
  lib/types/rules/node-commonjs.d.ts
  lib/types/rules/possible-errors.d.ts
  lib/types/rules/strict-mode.d.ts
  lib/types/rules/stylistic-issues.d.ts
  lib/types/rules/variables.d.ts
  package.json
  packages/eslint-config-eslint/base.js
  tools/update-rule-type-headers.js
Labels: bug, github actions, types

#19308 docs: update getting-started config to match default generated config
  docs/src/use/getting-started.md
Labels: documentation, accepted

#19352 docs: replace var with const in rule examples
  docs/src/rules/object-shorthand.md
  docs/src/rules/prefer-promise-reject-errors.md
  docs/src/rules/prefer-rest-params.md
  docs/src/rules/prefer-spread.md
  docs/src/rules/prefer-template.md
Labels: documentation, accepted

#19365 docs: replace `var` with `let` and `const` in rule examples
  docs/src/rules/arrow-body-style.md
  docs/src/rules/no-unmodified-loop-condition.md
  docs/src/rules/no-unsafe-optional-chaining.md
  docs/src/rules/no-useless-backreference.md
  docs/src/rules/use-isnan.md
Labels: documentation, accepted

#19368 docs: fix Bluesky links
  docs/src/_data/links.json
Labels: documentation

#19351 docs: clarify frozen rule description
  docs/src/_includes/components/rule-categories.macro.html
Labels: documentation, accepted

#19362 docs: Update README
  README.md
Labels: documentation, accepted

#19370 docs: Clarify overrideConfig option
  docs/src/integrate/nodejs-api.md
Labels: documentation

#19326 docs: fix order of installation steps in getting started
  docs/src/use/getting-started.md
Labels: documentation, accepted

#19358 docs: additional checks for rule examples
  docs/src/rules/capitalized-comments.md
  docs/src/rules/comma-dangle.md
  docs/src/rules/consistent-this.md
  docs/src/rules/indent-legacy.md
  tests/fixtures/bad-examples.md
  tests/tools/check-rule-examples.js
  tools/check-rule-examples.js
Labels: documentation, build, accepted

#19374 chore: add permissions: read-all to stale.yml workflow
  .github/workflows/stale.yml
Labels: accepted, chore, github actions

#19379 fix: `arrow-body-style` crash with single-token body
  lib/rules/arrow-body-style.js
  tests/lib/rules/arrow-body-style.js
Labels: bug, rule

#19383 fix: Ensure module scope is checked for references in `consistent-this`
  lib/rules/consistent-this.js
  tests/lib/rules/consistent-this.js
Labels: bug, rule, accepted

#19382 docs: Explain what frozen rules mean
  README.md
  docs/src/_includes/components/rule-categories.macro.html
  docs/src/contribute/core-rules.md
Labels: documentation, accepted
