Repository eslint/eslint, pull requests merged in 2025-09, with the labels that each got.

#20064 docs: invert comparison logic for example in `no-var` doc page
  docs/src/rules/no-var.md
Labels: documentation

#20069 chore: update `@eslint-community/eslint-utils`
  lib/rules/array-callback-return.js
  package.json
  packages/js/src/configs/eslint-all.js
Labels: rule, accepted, chore

#20056 feat: implement suggestions for no-empty-static-block
  lib/rules/no-empty-static-block.js
  tests/lib/rules/no-empty-static-block.js
Labels: rule, accepted, feature, contributor pool

#20057 feat: implement suggestions for no-empty-function
  lib/rules/no-empty-function.js
  tests/lib/rules/no-empty-function.js
Labels: rule, accepted, feature, contributor pool

#20065 test: remove `tests/lib/eslint/eslint.config.js`
  tests/fixtures/configurations/cwd/eslint.config.js
  tests/lib/eslint/eslint.js
Labels: chore

#20074 docs: improve phrasing - "if" → "even if" from getting-started section
  docs/src/use/getting-started.md
Labels: documentation

#20079 chore: update `eslint` peer dependency in `eslint-config-eslint`
  packages/eslint-config-eslint/package.json
Labels: chore

#20080 refactor: use `meta.defaultOptions` in `preserve-caught-error`
  lib/rules/preserve-caught-error.js
  lib/types/rules.d.ts
Labels: rule, chore

#20094 chore: disallow use of deprecated `type` property in core rule tests
  eslint.config.js
Labels: chore

#20112 test: add missing loc information to error objects in rule tests
  tests/lib/rules/no-console.js
  tests/lib/rules/no-continue.js
  tests/lib/rules/no-debugger.js
  tests/lib/rules/no-nested-ternary.js
  tests/lib/rules/no-ternary.js
Labels: chore

#20111 chore: update example to use `defineConfig`
  docs/_examples/custom-rule-tutorial-code/eslint.config.js
  docs/_examples/custom-rule-tutorial-code/package.json
  docs/_examples/integration-tutorial-code/package.json
  docs/src/extend/custom-rule-tutorial.md
Labels: chore

#20118 docs: fix typos
  docs/src/extend/stats.md
  docs/src/rules/no-use-before-define.md
Labels: documentation

#20121 refactor: use `defaultOptions` in rules
  lib/rules/no-misleading-character-class.js
  lib/rules/require-unicode-regexp.js
Labels: rule, accepted, chore

#20127 fix: add missing rule option types
  lib/types/rules.d.ts
Labels: bug, contributor pool

#20109 feat: correct `preserve-caught-error` edge cases
  lib/rules/preserve-caught-error.js
  tests/lib/rules/preserve-caught-error.js
Labels: bug, rule, accepted, feature

#20131 docs: update examples to use `defineConfig`
  docs/src/extend/custom-parsers.md
  docs/src/use/configure/migration-guide.md
  docs/src/use/core-concepts/glossary.md
Labels: documentation, accepted

#20139 chore: upgrade @eslint/js@9.36.0
  package.json
Labels: chore

#20115 docs: update `README` files to add badge and instructions
  README.md
  packages/eslint-config-eslint/README.md
  packages/js/README.md
Labels: documentation, accepted

#19562 feat: support TS syntax in `no-restricted-imports`
  docs/src/rules/no-restricted-imports.md
  lib/rules/no-restricted-imports.js
  lib/types/rules.d.ts
  tests/lib/rules/no-restricted-imports.js
Labels: rule, accepted, feature

#20163 feat: `preserve-caught-error` should recognize all static "cause" keys
  lib/rules/preserve-caught-error.js
  tests/lib/rules/preserve-caught-error.js
Labels: bug, rule, accepted, feature
