Repository eslint/eslint, pull requests merged in 2025-02, with the labels that each got.

#19384 fix: Better error message for unserializable parser
  lib/config/config.js
  messages/config-serialize-function.js
Labels: bug, core, accepted

#19380 fix: Clearer error message for wrong plugin format
  messages/eslintrc-plugins.js
Labels: bug, accepted

#19389 docs: replace `var` with `const` and `let` in rules
  docs/src/rules/prefer-destructuring.md
  docs/src/rules/radix.md
  docs/src/rules/sort-keys.md
  docs/src/rules/sort-vars.md
  docs/src/rules/symbol-description.md
Labels: documentation

#19392 docs: replace var with let and const in rules docs
  docs/src/rules/no-eval.md
  docs/src/rules/no-nested-ternary.md
  docs/src/rules/no-ternary.md
  docs/src/rules/no-undefined.md
  docs/src/rules/no-unneeded-ternary.md
Labels: documentation, accepted

#19393 docs: change `sourceType` in `no-eval` examples
  docs/src/rules/no-eval.md
Labels: documentation, accepted

#19396 docs: replace var with let or const in rules docs
  docs/src/rules/no-new.md
  docs/src/rules/no-unused-expressions.md
  docs/src/rules/no-unused-vars.md
  docs/src/rules/no-void.md
  docs/src/rules/prefer-arrow-callback.md
Labels: documentation

#19398 docs: rewrite examples with var using let and const
  docs/src/rules/init-declarations.md
  docs/src/rules/no-empty-function.md
  docs/src/rules/no-extra-boolean-cast.md
  docs/src/rules/no-restricted-properties.md
Labels: documentation

#19404 docs: rewrite some examples with var using let and const
  docs/src/rules/no-plusplus.md
  docs/src/rules/no-proto.md
  docs/src/rules/no-regex-spaces.md
  docs/src/rules/no-restricted-globals.md
  docs/src/rules/no-restricted-modules.md
  docs/src/rules/no-restricted-syntax.md
Labels: documentation

#19399 fix: Emit warning when empty config file is used
  lib/config/config-loader.js
  tests/fixtures/empty-config-file/cjs/eslint.config.cjs
  tests/fixtures/empty-config-file/cjs/foo.js
  tests/fixtures/empty-config-file/esm/eslint.config.empty-array.mjs
  tests/fixtures/empty-config-file/esm/eslint.config.mjs
  tests/fixtures/empty-config-file/esm/eslint.config.null.mjs
  tests/fixtures/empty-config-file/esm/eslint.config.zero.mjs
  tests/fixtures/empty-config-file/esm/foo.js
  tests/lib/config/config-loader.js
  tests/lib/eslint/eslint.js
Labels: bug, core

#19386 feat: change behavior of inactive flags
  docs/src/_data/flags.js
  docs/src/pages/flags.md
  lib/eslint/eslint.js
  lib/linter/linter.js
  lib/shared/flags.js
  tests/lib/cli.js
  tests/lib/eslint/eslint.js
  tests/lib/linter/linter.js
Labels: cli, core, accepted, feature

#19407 docs: rewrite examples with var using let and const
  docs/src/rules/func-names.md
  docs/src/rules/func-style.md
  docs/src/rules/grouped-accessor-pairs.md
  docs/src/rules/max-lines-per-function.md
  docs/src/rules/no-bitwise.md
Labels: documentation, accepted

#19157 fix: Bring types in sync with @eslint/core
  .github/workflows/types-integration.yml
  lib/types/index.d.ts
  package.json
  tests/lib/types/types.test.ts
Labels: bug, accepted, github actions

#19412 chore: upgrade @eslint/js@9.20.0
  package.json
Labels: chore

#19422 docs: Add instructions for pnpm compat
  README.md
  docs/src/use/getting-started.md
Labels: documentation, accepted, patch candidate

#19417 fix: fix `RuleContext` type
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: bug, accepted, patch candidate

#19424 docs: allow typing in search box while dropdown is open
  docs/src/assets/js/search.js
Labels: documentation

#19405 feat: Add `--ext` CLI option
  docs/src/use/command-line-interface.md
  lib/cli.js
  lib/options.js
  tests/fixtures/file-extensions/a.js
  tests/fixtures/file-extensions/b.mjs
  tests/fixtures/file-extensions/c.cjs
  tests/fixtures/file-extensions/d.jsx
  tests/fixtures/file-extensions/eslint.config.js
  tests/fixtures/file-extensions/f.ts
  tests/fixtures/file-extensions/foots
  tests/fixtures/file-extensions/g.tsx
  tests/lib/cli.js
  tests/lib/options.js
Labels: cli, accepted, feature

#19415 docs: Update Eleventy from v2 to v3
  docs/package.json
Labels: documentation, accepted

#19439 chore: set js language for bug report issue config block
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: chore

#19434 docs: replace `var` with `let` and `const` in rule example
  docs/src/rules/no-continue.md
  docs/src/rules/no-labels.md
  docs/src/rules/no-magic-numbers.md
  docs/src/rules/no-sequences.md
  docs/src/rules/unicode-bom.md
Labels: documentation, accepted

#19402 chore: better error message for missing plugin in config
  lib/config/rule-validator.js
  messages/config-plugin-missing.js
  tests/lib/config/flat-config-array.js
Labels: core, chore

#19445 fix: update missing plugin message template
  messages/config-plugin-missing.js
Labels: bug, core, accepted

#19449 test: add test for `Rule.ReportDescriptor` type
  tests/lib/types/types.test.ts
Labels: chore, types

#19453 chore: update `@eslint/eslintrc` and `@eslint/js`
  package.json
Labels: chore

#19459 docs: Restore the carrot to the position where the search input was lost
  docs/src/assets/js/search.js
Labels: documentation

#19458 fix: improve error message for falsy parsed JS AST
  lib/languages/js/source-code/source-code.js
  tests/lib/languages/js/source-code/source-code.js
Labels: bug, accepted
