Repository eslint/eslint, pull requests merged in 2025-10, with the labels that each got.

#20175 chore: fix typos in comments
  lib/linter/esquery.js
  lib/rules/func-call-spacing.js
  tests/lib/config/flat-config-schema.js
  tests/lib/eslint/eslint.js
  tests/lib/rules/init-declarations.js
  tests/lib/rules/no-prototype-builtins.js
  tests/lib/rules/utils/ast-utils.js
Labels: rule, core, accepted, chore

#20182 docs: fix typos across the docs
  docs/src/rules/class-methods-use-this.md
  docs/src/rules/consistent-return.md
  docs/src/rules/default-case.md
  docs/src/rules/func-names.md
  docs/src/rules/logical-assignment-operators.md
  docs/src/rules/max-lines.md
  docs/src/rules/new-cap.md
  docs/src/rules/no-case-declarations.md
  docs/src/rules/no-eq-null.md
  docs/src/rules/sort-keys.md
Labels: documentation

#20194 chore: use team member's username when name is not available in data
  README.md
  tools/update-readme.js
Labels: chore

#20114 fix: correct SourceCode typings
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: bug, accepted, contributor pool, types
