Repository eslint/eslint, pull requests merged in 2025-04, with the labels that each got.

#19401 feat: support loading TS config files using `--experimental-strip-types`
  .github/workflows/ci.yml
  docs/src/use/configure/configuration-files.md
  lib/config/config-loader.js
  lib/config/flat-config-helpers.js
  lib/eslint/eslint-helpers.js
  lib/eslint/eslint.js
  lib/shared/flags.js
  package.json
  tests/lib/eslint/eslint.js
Labels: cli, core, accepted, feature, contributor pool, github actions

#19595 fix: deduplicate variable names in no-loop-func error messages
  lib/rules/no-loop-func.js
  tests/lib/rules/no-loop-func.js
Labels: bug, rule, accepted

#19596 docs: simplify gitignore path handling in includeIgnoreFile section
  docs/src/use/configure/ignore.md
Labels: documentation

#19594 docs: update documentation for `--experimental-strip-types`
  docs/src/use/configure/configuration-files.md
Labels: documentation, accepted

#19602 chore: upgrade @eslint/js@9.24.0
  package.json
Labels: chore

#19597 chore: replace invalid `int` type with `number` inside JSDocs.
  Makefile.js
  docs/src/rules/require-jsdoc.md
  docs/src/rules/valid-jsdoc.md
  lib/cli-engine/formatters/html.js
  lib/cli-engine/formatters/stylish.js
  lib/languages/js/source-code/source-code.js
  lib/languages/js/source-code/token-store/index.js
  lib/linter/report-translator.js
  lib/linter/rule-fixer.js
  lib/linter/source-code-fixer.js
  lib/linter/timing.js
  lib/rules/for-direction.js
  lib/rules/func-name-matching.js
  lib/rules/indent-legacy.js
  lib/rules/indent.js
  lib/rules/key-spacing.js
  lib/rules/linebreak-style.js
  lib/rules/max-len.js
  lib/rules/max-statements.js
  lib/rules/no-global-assign.js
  lib/rules/no-native-reassign.js
  lib/rules/no-nonoctal-decimal-escape.js
  lib/rules/no-param-reassign.js
  lib/rules/no-trailing-spaces.js
  lib/rules/utils/ast-utils.js
  lib/rules/utils/fix-tracker.js
  tests/bench/large.js
  tests/lib/rules/complexity.js
  tests/lib/rules/max-nested-callbacks.js
  tests/lib/rules/no-extra-parens.js
  tests/lib/rules/no-multi-assign.js
  tests/lib/rules/no-sequences.js
  tests/lib/rules/one-var-declaration-per-line.js
  tests/performance/jshint.js
Labels: rule, cli, core, accepted, chore, formatter

#19606 chore: upgrade `@eslint/*` dependencies
  package.json
Labels: accepted, chore

#19559 feat: support TS syntax in `no-loop-func`
  docs/src/rules/no-loop-func.md
  lib/rules/no-loop-func.js
  tests/lib/rules/no-loop-func.js
Labels: rule, accepted, feature

#19610 test: fix `no-loop-func` test with duplicate variable reports
  tests/lib/rules/no-loop-func.js
Labels: chore

#19532 feat: support TypeScript syntax in `no-invalid-this` rule
  docs/src/rules/no-invalid-this.md
  lib/rules/no-invalid-this.js
  lib/rules/utils/ast-utils.js
  tests/lib/rules/no-invalid-this.js
Labels: rule, accepted, feature

#19607 feat: add allowObjects option to no-restricted-properties
  docs/src/rules/no-restricted-properties.md
  lib/rules/no-restricted-properties.js
  tests/lib/rules/no-restricted-properties.js
Labels: rule, accepted, feature, contributor pool

#19604 feat: support `JSRuleDefinition` type
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: accepted, feature, contributor pool, types

#19564 feat: support TS syntax in `no-unused-expressions`
  docs/src/rules/no-unused-expressions.md
  lib/rules/no-unused-expressions.js
  tests/lib/rules/no-unused-expressions.js
Labels: rule, accepted, feature, contributor pool

#19551 feat: support TypeScript syntax in no-empty-function rule
  docs/src/rules/no-empty-function.md
  lib/rules/no-empty-function.js
  tests/lib/rules/no-empty-function.js
Labels: rule, accepted, feature, contributor pool

#19590 docs: ensure "learn more" deprecation links point to useful resource
  docs/.eleventy.js
  docs/src/_data/rules_meta.json
  lib/rules/no-return-await.js
  lib/rules/prefer-reflect.js
Labels: bug, rule, documentation, accepted

#19622 docs: no-use-before-define tweaks
  docs/src/rules/no-use-before-define.md
Labels: documentation

#19616 docs: add types for multiple rule options
  lib/types/rules.d.ts
Labels: documentation, accepted, types

#19629 docs: use `eslint-config-xo` in the getting started guide
  docs/src/use/getting-started.md
Labels: documentation, accepted

#19628 chore: upgrade trunk
  .trunk/trunk.yaml
  package.json
Labels: accepted, chore, contributor pool

#19624 docs: update `no-undef-init` when not to use section
  docs/src/rules/no-undef-init.md
Labels: documentation, accepted

#19631 fix: `nodeTypeKey` not being used in `NodeEventGenerator`
  lib/linter/node-event-generator.js
  tests/lib/linter/node-event-generator.js
Labels: bug, core, accepted, contributor pool

#19636 chore: upgrade @eslint/js@9.25.0
  package.json
Labels: chore

#19642 chore: upgrade @eslint/js@9.25.1
  package.json
Labels: chore

#19634 fix: update `RuleTester.run()` type
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: accepted, types

#19645 feat: add ignoreDirectives option in no-unused-expressions
  docs/src/rules/no-unused-expressions.md
  lib/rules/no-unused-expressions.js
  lib/types/rules.d.ts
  tests/lib/rules/no-unused-expressions.js
Labels: rule, accepted, feature, contributor pool

#19657 docs: fix double space in command
  docs/src/use/configure/migration-guide.md
Labels: documentation

#19652 refactor: One-shot ESQuery selector analysis
  lib/linter/esquery.js
  lib/linter/node-event-generator.js
  package.json
  tests/lib/linter/esquery.js
Labels: core, accepted, chore

#19661 fix: add `namespace` to `Plugin.meta` type
  lib/types/index.d.ts
  tests/lib/types/types.test.ts
Labels: bug, accepted, types

#19665 chore: fix internal type references to `Plugin` and `Rule`
  lib/cli-engine/cli-engine.js
  lib/cli.js
  lib/eslint/eslint.js
  lib/eslint/legacy-eslint.js
  lib/rules/index.js
  lib/rules/utils/lazy-loading-rule-map.js
  lib/shared/types.js
Labels: rule, cli, core, chore, types

#19664 fix: don't crash on tests with circular references in `RuleTester`
  lib/rule-tester/rule-tester.js
  lib/shared/serialization.js
  tests/lib/rule-tester/rule-tester.js
  tests/lib/shared/serialization.js
Labels: bug, core, accepted

#19592 feat: Add MCP server
  .gitignore
  bin/eslint.js
  docs/src/use/command-line-interface.md
  docs/src/use/mcp.md
  lib/mcp/mcp-server.js
  lib/options.js
  package.json
  tests/bin/eslint.js
  tests/lib/cli.js
  tests/lib/mcp/mcp-server.js
Labels: cli, accepted, feature
